<html>
  <head>
    <title>iFloorPlan</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'public/css/index.css' %}">
	  <link rel="stylesheet" type="text/css" href="{% static 'user/css/main.css' %}">
	  <link rel="stylesheet" href="{% static 'user/fonts/font-awesome/css/font-awesome.min.css' %}">
	  <link rel="stylesheet" href="{% static 'user/fonts/font-awesome/css/font-awesome.css' %}">
	  <link rel="stylesheet" href="{% static 'user/fonts/simple-line-icons/simple-line-icons.css' %}">
	  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
			integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	  <script
			  src="https://code.jquery.com/jquery-3.5.1.js"
			  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			  crossorigin="anonymous"></script>
	  <script src="{% static 'frontend/animation.js' %}"></script>
	  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
  	<div class="header">
		<div class="row top_row">
			<div class="one">
				<a href="user/">Dashboard</a>
				<p class="user">Welcome <i>{{username}}</i></p>
				<p class="info">You have {{plans}} iFloorPlans and {{credits}} credits</p>
			</div>
			<div class="two">

			</div>
			<div class="three">
				<a class="logo" href="/"><img src="../../static/user/img/ifloorplanLogo.png" style="width: 80px" alt="Logo"></a>
			</div>
		</div>
		<div class="row bot_row">
			<div class="one">
				<ul class="nav nav-tabs">
					<li class="active"><a href="/user/new/">New</a></li>
					<li><a href="/user/published/">Published</a></li>
					<li><a href="/user/clients/">Clients</a></li>
					<li><a href="/user/branding/">Branding</a></li>
					<li><a href="/user/templates/">Templates</a></li>
					<li><a href="/user/markers/">Markers</a></li>
					<li><a href="#">Crop</a></li>
					<li><a href="/user/userguide/">Support</a></li>
				</ul>
			</div>
			<div class="two">
				<ul class="nav_active">
					<li><a href="/user/purchase/">Purchase</a></li>
					<li>
						<div class="accountBtn">
							<a href="#">Account</a>
							<div class="otherTools">
								<div class="subOtherTools">
									<a href="{% url 'passChg' %}">Change password</a>
								<a href="{% url 'emailChg' %}">Email preferences</a>
								<a href="{% url 'domainApi' %}">Domain API</a>
								<a href="{% url 'snapshot' %}">Account snapshot</a>
								<a href="{% url 'countryTerm' %}">Country terminology</a>
								<a href="/logout/">Logout</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<input type="hidden" id="user_id" value="{{ user_id }}">
