{% load static %}
<link rel="stylesheet" href="{% static "frontend/App.css"%}">
<link rel="stylesheet" href="{% static "frontend/App_other.css"%}">
<link rel="stylesheet" href="{% static "frontend/App_mobile.css"%}">
<link rel="stylesheet" href="{% static "frontend/styles/new.css"%}">
<input type="hidden" value="" id="dataEdit">
<div id="app">

</div>

<script src='{% static "frontend/new.js"%}'></script>


