<div class="footer-v1">
	<div class="footer">
		<div class="container">
			<div class="row">
				<!-- About -->
				<div class="col-md-3 md-margin-bottom-40">
					<a href="/"><img id="logo-footer" class="footer-logo" src="{{ footer.icon.url }}" alt=""></a>
					{{ footer.discription_icon|safe }}
				</div><!--/col-md-3-->
				<!-- End About -->

				<!-- Latest -->
				<div class="col-md-3 md-margin-bottom-40">
					<div class="posts">
						<div class="headline"><h2>{{ footer.name_menu1 }}</h2></div>
						<ul class="list-unstyled latest-list">
							{% for i in footer.about_menu.all %}
							<li><a href="{{ i.link }}">{{ i.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div><!--/col-md-3-->
				<!-- End Latest -->

				<!-- Link List -->
				<div class="col-md-3 md-margin-bottom-40">
					<div class="headline"><h2>{{ footer.name_menu2 }}</h2></div>
					<ul class="list-unstyled link-list">
						{% for i in footer.floor_menu.all %}
							<li><a href="{{ i.link }}">{{ i.title }}</a></li>
							{% endfor %}
					</ul>
				</div><!--/col-md-3-->
				<!-- End Link List -->

				<!-- Address -->
				<div class="col-md-3 map-img md-margin-bottom-40">
					<div class="headline"><h2>{{ footer.name_menu3 }}</h2></div>
					<address class="md-margin-bottom-40" style="height:110px;">
						{{ footer.content_menu3|safe }}
					</address>
				</div><!--/col-md-3-->
				<!-- End Address -->
			</div>
		</div>
	</div><!--/footer-->

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					{{ footer.copiright|safe }}
				</div>

				<!-- Social Links -->
				<!--<div class="col-md-6">
					<ul class="footer-socials list-inline">
						<li>
							<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
								<i class="fa fa-skype"></i>
							</a>
						</li>
						<li>
							<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
								<i class="fa fa-google-plus"></i>
							</a>
						</li>
						<li>
							<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
								<i class="fa fa-pinterest"></i>
							</a>
						</li>
						<li>
							<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
								<i class="fa fa-dribbble"></i>
							</a>
						</li>
					</ul>
				</div>-->
				<!-- End Social Links -->
			</div>
		</div>
	</div><!--/copyright-->
  </div>
</div>
{% load static %}
<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/plugins/jquery/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/plugins/jquery/jquery-migrate.min.js"></script>-->
<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/plugins/bootstrap/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/plugins/jquery-ui/jquery-ui.min.js"></script>-->

<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/plugins/back-to-top.js"></script>-->
<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/plugins/smoothScroll.js"></script>-->
<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>-->
<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>-->
<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>-->

<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/js/custom.js"></script>-->

<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/js/app.js"></script>-->
<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/js/plugins/owl-carousel.js"></script>-->
<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/js/plugins/style-switcher.js"></script>-->
<!--<script type="text/javascript" src="https://www.ifloorplan.com/assets/js/plugins/revolution-slider.js"></script>-->

<!--<script type="text/javascript">-->

<!--	jQuery(document).ready(function() {-->
<!--		App.init();-->
<!--		OwlCarousel.initOwlCarousel();-->
<!--		StyleSwitcher.initStyleSwitcher();-->
<!--		RevolutionSlider.initRSfullWidth();-->
<!--	});-->

<!--</script>-->
<!--<script type="text/javascript">-->
<!--var _gaq = _gaq || [];-->
<!--_gaq.push(['_setAccount', 'UA-28277650-1']);-->
<!--_gaq.push(['_trackPageview']);-->

<!--(function() {-->
<!--    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
<!--    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
<!--    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
<!--})();-->

<!--</script>-->
<!--<script src="https://www.ifloorplan.com/floatbox/floatbox.js" type="text/javascript"></script>-->
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<script src="{% static 'public/js/slider.js' %}"></script>
  </body>
</html>