<html>
  <head>
    <title>
		{% if data.title %}
			{{ data.title }}
		{% else %}
			iFloorPlan
		{% endif %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'public/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/css/slider.css' %}">
	<link rel="stylesheet" href="{% static 'public/fonts/font-awesome/css/font-awesome.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">


		  <!--<link rel="stylesheet" href="css/style.css">-->

<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/floatbox/floatbox.css" type="text/css" media="screen">-->



<!--		  &lt;!&ndash; &ndash;&gt;-->



<!--		  <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>-->
<!--	  <script src="https://www.ifloorplan.com/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>-->
<!--		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
<!--		  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>-->
<!--		  &lt;!&ndash;   	<script src="js/libs/bootstrap/bootstrap.min.js"></script>&ndash;&gt;-->
<!--		  <script src="https://www.ifloorplan.com/js/libs/swfobject.js"></script>-->
<!--		  <script src="https://www.ifloorplan.com/js/plugins.js"></script>-->



<!--		  &lt;!&ndash; Favicon &ndash;&gt;-->
<!--		  <link rel="shortcut icon" href="favicon.ico">-->

<!--		  &lt;!&ndash; Web Fonts &ndash;&gt;-->
<!--		  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin">-->

<!--		  &lt;!&ndash; CSS Global Compulsory &ndash;&gt;-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/plugins/bootstrap/css/bootstrap.min.css">-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/css/style.css">-->

<!--		  &lt;!&ndash; CSS Header and Footer &ndash;&gt;-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/css/headers/header-default.css">-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/css/footers/footer-v1.css">-->

<!--		  &lt;!&ndash; CSS Page Style &ndash;&gt;-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/css/pages/page_log_reg_v1.css">-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/css/pages/pricing/pricing_v1.css">-->

<!--		  &lt;!&ndash; CSS Implementing Plugins &ndash;&gt;-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/plugins/animate.css">-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/plugins/line-icons/line-icons.css">-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/plugins/font-awesome/css/font-awesome.min.css">-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">-->


<!--		  &lt;!&ndash; CSS Theme &ndash;&gt;-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/css/theme-colors/dark-blue.css" id="style_color">-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/css/theme-skins/dark.css">-->

<!--		  &lt;!&ndash; CSS Customization &ndash;&gt;-->
<!--		  <link rel="stylesheet" href="https://www.ifloorplan.com/assets/css/custom.css">-->


<!--		  <script>-->



<!--			  if (0 !== swfobject.getFlashPlayerVersion().major) {-->
<!--				  document.getElementsByTagName("html")[0].setAttribute("class", document.getElementsByTagName("html")[0].getAttribute("class") +  " flash");-->
<!--			  }-->


<!--		  </script>-->




<!--		  <script charset="utf-8" src="https://platform.twitter.com/js/button.63c51c903061d0dbd843c41e8a00aa5a.js"></script>-->

  </head>
  <body class="boxed-layout container">
  <div class="wrapper">
	  <div class="header">
				<div class="container">
					<!-- Logo -->
					<!--<a class="logo" href="/">-->
						<!--<img src="../../static/public/css/ifloorplanLogo.png" alt="Logo">-->
					<!--</a>-->
					<!-- End Logo -->

					<!-- Topbar -->
	<div class="topbar">
		<ul class="loginbar pull-right">





		{% if user.is_authenticated %}

			<li><a href="{% url 'new' %}">Dashboard</a></li>

			<li class="topbar-devider"></li>


			<li><a href="{% url 'logout' %}">Logout</a></li>

		{% else %}
			<li><a href="{% url 'Sign up' %}">Register</a></li>

			<li class="topbar-devider"></li>


			<li><a href="{% url 'Login' %}">Login</a></li>
		{% endif %}

				</ul>
					</div>
					<!-- End Topbar -->

					<!-- Toggle get grouped for better mobile display -->
					<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">-->
						<!--<span class="sr-only">Toggle navigation</span>-->
						<!--<span class="fa fa-bars"></span>-->
					<!--</button>-->
					<!-- End Toggle -->
				</div><!--/end container-->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
					<div class="container">
						<a class="logo" href="/">
							<img src="{{ header.icon.url }}" alt="Logo">
						</a>
						<ul class="nav navbar-nav">
						{% for i in header.menu.all %}


<!--							<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>-->


							<li>
								<a href="{{ i.link }}">
									{{ i.title }}
								</a>
							</li>
						{% endfor %}
														<!-- End Contact -->
						</ul>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="fa fa-bars"></span>
						</button>
					</div><!--/end container-->
				</div><!--/navbar-collapse-->
			</div>
	  {% if request.path != "/" %}
		  <div class="breadcrumbs">
			  <div class="container">
				  <h1 class="pull-left">{{ page_name }}</h1>
				  <ul class="pull-right breadcrumb">
					  <li><a href="/">Home</a></li>
					  <li class="active">{{ page_name }}</li>
				  </ul>
			  </div>
		  </div>
	  {% endif %}