body {
    width: auto !important;
    margin: 0 auto;
    padding: 0;
    /*background: url(../img/15.png) repeat;*/
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
}

a:focus, a:hover, a:active {
    color: #4765a0;
}

p {
    margin-bottom: 0;
}

p, a {
    color: #4a4a4a;
}

ol, ul {
    margin: 0;
}

.content {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.header {
    padding: 10px 15px;
}

.top_row .one, .top_row .two, .top_row .three {
    display: flex;
    align-items: flex-end;
}

.top_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.top_row .one {
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.top_row .one a {
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}

.top_row .one .user {
    font-size: 1.3rem;
    white-space: nowrap;
    margin: 0 1rem;
}

.top_row .one .info {
    font-size: 1.1rem;
    white-space: nowrap;
}

.top_row .two {
    width: 20%;
    justify-content: center;
}

.top_row .three {
    width: 40%;
    justify-content: flex-end;
}

.top_row .three a {
    font-size: 1.3rem;
}

.header a:hover {
    color: #4a4a4a;
}

.bot_row {
    display: flex;
    justify-content: space-between;
}

.bot_row .one .nav, .bot_row .two .nav_active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.bot_row .one {
    width: 53%;
}

.bot_row .two {
    width: 10%;
}

h3 {
    font-size: 2rem;
    line-height: 27px;
    margin-bottom: 10px;
}

.btn-u {
    background: #0462a6;
}

.pricing-table-v1 .pricing-v1-green .btn-u {
    background: #72c02c !important;
}

.container-fluid:nth-child(4) {
    display: flex;
    justify-content: center;
}

.col-md-4 {
    width: 33.3%;
}

/*---MEDIA-----------------*/
@media (min-width: 768px) {
    body {
        width: 750px;
    }
}

@media (min-width: 992px) {
    body {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    body {
        width: 1170px;
    }
}

@media (max-width: 1024px) {
    .top_row .one {
        width: 45%;
    }

    .top_row .two {
        width: 10%;
    }

    .top_row .three {
        width: 45%;
    }
}

@media (max-width: 991px) {

}

@media (max-width: 468px) {
    .content {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-tabs > li > a, .nav-pills > li > a {
        padding-right: 10px;
        padding-left: 10px;
    }
}


/*!*-----------------------------------------PURCHASE PAGE-----------------------------------------*!*/
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

fieldset {
    border: none;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 2.1rem;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.container-fluid p {
    font-size: 1.3rem;
}

.no-space-pricing {
    display: flex;
    flex-direction: column;
}

.no-space-pricing > .two {
    display: flex;
    justify-content: space-between;
}

.pricing-table-v1 .pricing-v1 {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-head {
    background: rgba(4, 98, 166, 1);
}

.pricing-table-v1 .pricing-v1-head h4, .pricing-table-v1 .pricing-v1-head h5 {
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 9px 0;
    font-family: Arial;
    letter-spacing: 1px;
}

.pricing-table-v1 .pricing-v1-head h4, .pricing-table-v1 .pricing-v1-head h5 {
    font-size: 40px;
    margin: 0;
    color: #fff;
    padding: 9px 0;
    font-family: Arial;
    letter-spacing: 1px;
}

@media (min-width: 992px) {
    .col-md-3 {
        width: 25%;
    }
}


.pricing-table-v1 .pricing-v1 {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-head {
    background: rgba(4, 98, 166, 1);
}

h4, h5 {
    line-height: 25px;
}

.text-center {
    text-align: center;
}

.pricing-table-v1 .pricing-v1-head h4,
.pricing-table-v1 .pricing-v1-head h5 {
    font-size: 1.4rem;
    margin: 0;
    color: #fff;
    padding: 9px 0;
    font-family: Arial;
    letter-spacing: 1px;
}

.pricing-table-v1 .pricing-v1-head h5 {
    font-size: 40px;
    margin-left: 0px;
}

.pricing-table-v1 .pricing-v1-head h5 span {
    top: -23px;
    font-size: 13px;
    position: relative;
    padding-right: 2px;
}

.pricing-table-v1 .pricing-v1-head h5 i {
    top: -5px;
    font-size: 14px;
    padding-left: 2px;
    position: relative;
    font-style: normal;
}

.pricing-table-v1 .pricing-v1-content {
    margin-bottom: 0;
    background: #f9f9f9;
}

.pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-content li {
    border-bottom: 1px solid rgba(71, 101, 160, 0.3);
    margin: 0;
    color: #888;
    padding: 13px 20px;
    font-size: 1.3rem;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}

.btn-u.btn-block {
    width: 100%;
}

.pricing-table-v1 .pricing-v1-head {
    padding: 1px 0;
    background: #74C52C;
}

.pricing-table-v1 .sticker-right,
.pricing-table-v1 .sticker-left {
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    color: #fff;
    width: 150px;
    font-weight: bold;
    font-family: Arial;
    position: absolute;
    text-align: center;
    left: -50px;
    top: 15px;
    letter-spacing: 2px;
    background-color: #585f69;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.pricing-table-v1 .pricing-v1-content li {
    margin: 0;
    color: #888;
    padding: 13px 20px;
    border-bottom: 1px solid rgba(116, 197, 44, 0.3);
    font-size: 1.3rem;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.container.center {
    display: flex;
    justify-content: center;
}

.col-md-4 {
    font-size: 1.3rem;
}

.col-md-3:first-child {
    padding-left: 0;
}

.col-md-3:last-child {
    padding-right: 0;
}

/*---MEDIA-----------------*/
@media screen and (max-width: 991px) {
    .container-fluid {
        padding: 0;
    }

    .no-space-pricing [class^="col-"], .no-space-pricing [class*=" col-"] {
        padding: 5px;
    }

    .pricing-table-v1 .pricing-v1-content li, .pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-content li {
        padding: 9px 10px;
    }

    .container-fluid:nth-child(4) {
        flex-direction: column;
    }

    .col-md-4 {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .no-space-pricing > .two {
        flex-wrap: wrap;
    }

    .col-md-3 {
        width: 50%;
    }

    .pricing-table-v1 .sticker-right, .pricing-table-v1 .sticker-left {
        top: 40px;
        padding: 0;
        float: left;
        left: -40px;
        width: 97px;
        border: none;
        transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
    }
}


/*!*-----------------------------------------PUBLISHED PAGE-----------------------------------------*!*/
.published .form-control {
    width: 100%;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    outline: none;
}

.published .form-control:focus {
    border-color: #bbb;
    box-shadow: 0 0 2px #c9c9c9;
}

.published .input-group {
    display: flex;
}

.published .input-group-btn {
    width: 40px;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    background: #337ab7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.published .input-group-btn:last-child > .btn {
    position: relative;
    z-index: 2;
    margin-left: -1px;
}

.published .btn {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.published .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.published .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.published .ifloorplan-listing {
    border-top: 1px solid #dddddd;
    margin-top: 1em;
    padding-top: 1em;
    display: flex;
}

.published h4 {
    line-height: 2.5rem;
    font-size: 1.8rem;
    color: #555;
    font-family: "Open Sans", Arial, sans-serif;
}

.published .col-md-8 > h4 {
    font-weight: 600 !important;
}

.published .col-md-8 {
    padding-left: 0;
}

.published a {
    color: #4765a0;
}

.published a:focus,
.published a:hover,
.published a:active {
    color: #4765a0;
}

.published .flex_row {
    display: flex;
}

.published .click-copy-input {
    width: 440px;
    font-weight: normal;
    font-size: 15px;
}

.published .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.published .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.published .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none;
}

.published .btn {
    box-shadow: none;
    border-radius: 0;
    width: fit-content;
}

.published .pages {
    font-size: 1.3rem;
}

.published p {
    margin: 0 0 10px;
}

@media (min-width: 992px) {
    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .hidden-md {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }

    .flex_row {
        flex-direction: column;
    }

    .col-md-10 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .published .col-md-8 > h4 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .published .client-name {
        position: relative;
        top: -30px;
    }
}

@media (max-width: 468px) {
    .published .click-copy-input {
        width: 100%;
    }

    .col-md-10 {
        padding: 0 5px;
    }
}


/*!*-----------------------------------------OPTIONS PAGE-----------------------------------------*!*/
.options label {
    font-size: 1.3rem;
    color: #999;
}

.options h4 {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.options input {
    padding: 5px 0;
    margin-bottom: 10px;
}

.options p {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.options .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.options .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin: 0 !important;
}

.options .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

@media (min-width: 768px) {
    .options .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}

@media (max-width: 767px) {
    .options .container {
        padding-left: 0;
        padding-right: 0;
    }
}


/*!*-----------------------------------------OPTIONS PAGE-----------------------------------------*!*/
.guide h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.guide p {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.guide li {
    font-size: 1.3rem;
    list-style: inherit;
}

.guide ul {
    margin-bottom: 10px;
    padding-left: 40px;
}

.guide a {
    color: #4765a0;
}

.guide a:focus,
.guide a:hover,
.guide a:active {
    color: #4765a0;
}


.accountBtn {
    position: relative;
}

.otherTools {
    display: none;
    width: 200px;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 99;
}

.subOtherTools {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #323131;
}

.otherTools a {
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 8px 15px;
}

.otherTools a:hover {
    background-color: #1276EB;
    color: #fff;
    text-decoration: none;
}

.otherTools a:not(:last-of-type) {
    border-bottom: 1px solid #2E2D2D;
}

.otherTools:before {
    content: '';
    border: 5px solid transparent;
    border-bottom: 10px solid #323131;
    position: absolute;
    right: 20px;
    top: -15px;
    width: 0;
}


.purchaseToolsPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.purchaseToolsPanel > div {
    font-size: 1.4rem;
    font-weight: 600;
}

.purchaseToolsPanel > .title_purchase,
.title_block_purchase > div:first-child > h3,
.title_block_purchase .payment > a {
    color: #000;
}

.purchaseToolsPanel > .pricesInfo,
.title_block_purchase > div:nth-child(2) > h2,
.title_block_purchase > div:nth-child(2) > p {
    color: #525252;
}

.title_block_purchase {
    display: flex;
    justify-content: space-between;
}

.title_block_purchase > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title_block_purchase > div:first-child > h3,
.subscription_info div:first-child h3,
.subscription_info div:last-child h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    line-height: normal;
    color: #000;
}

.title_block_purchase > div:first-child > p,
.subscription_info div:first-child p,
.subscription_info div:last-child p {
    color: #999999;
    font-weight: 600;
    font-size: 1.2rem;
}

.title_block_purchase > div:nth-child(2) {
    margin-bottom: 20px;
    text-align: center;
}

.title_block_purchase > div:nth-child(2) > h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
}

.title_block_purchase > div:nth-child(2) > p {
    font-weight: 600;
    font-size: 1.5rem;
}

.title_block_purchase .payment > a {
    font-size: 1.3rem;
    font-weight: 600;
}

.title_block_purchase .payment > a:not(:last-child) {
    margin-right: 5px;
}

.tokens_purchase, .subscriptions_price {
    padding-top: 5px;
}

.subscription_info {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0 0;
}

.item_row_price + hr {
    display: none;
}

.moreInfoDetails {
    padding: 20px 0 0 0;
    text-align: center;
}

.moreInfoDetails h3 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
}

.moreInfoDetails h3 a {
    color: #1276eb;
}

.container_price .item_row_price {
    display: flex;
    justify-content: space-between;
}

.body_item {
    border: solid 1px #b9b9b9;
    width: calc(25% - (300px / 4));
    padding: 5px;
    height: 200px;
}

.price_item,
.list_content_item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.list_content_item li {
    color: #000;
    font-weight: 600;
}

.list_content_item li:first-child {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.tokens_purchase .list_content_item li:nth-child(2) {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.tokens_purchase .list_content_item li:last-child {
    font-size: 1.2rem;
}

.BtnBuyNow {
    padding: 10px;
}

.BtnBuyNow a,
.BtnBuyNow button {
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.4rem;
    background-color: #1276eb;
    padding: 3px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.subscriptions_price .list_content_item li:nth-child(2),
.subscriptions_price .list_content_item li:nth-child(3) {
    font-size: 1.3rem;
    font-weight: 600;
}

.subscriptions_price .list_content_item li:nth-child(3) {
    margin-bottom: 15px;
}

.subscriptions_price .list_content_item li:nth-child(4) {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.subscriptions_price .list_content_item li:last-child {
    font-size: 1.2rem;
    font-weight: 600;
}

.body_item.sticker_popular_wrap {
    display: none;
}

.subscriptions_price .body_item:last-child .list_content_item {
    justify-content: flex-start;
}

.subscriptions_price .body_item:last-child .list_content_item li:last-child {
    margin: auto 0 0 0;
}

@media (max-width: 767px) {
    .guide .container {
        padding-left: 0;
        padding-right: 0;
    }
}


.method.active {
    background: #24ff54;
}

@media screen and (max-width: 768px) {
    .top_row {
        flex-direction: column;
    }

    .top_row .one {
        width: 100%;
        order: 2;
    }

    .top_row .two {
        order: 2;
        width: 100%;
    }

    .top_row .three {
        order: 1;
        width: 100%;
    }

    .bot_row .one {
        width: 75%;
    }

    .bot_row .two {
        width: 15%;
    }
}

@media screen and (max-width: 414px) {

    .header {
        padding: 6px 10px;
    }

    .top_row .one {
        display: flex;
        flex-wrap: wrap;
    }

    .top_row .one a {
        width: 100%;
        text-align: center;
    }

    .top_row .one .user {
        font-size: 1.2rem;
    }

    .bot_row {
        flex-direction: column;
    }

    .bot_row .one {
        width: 100%;
    }

    .bot_row .two {
        width: 30%;
        margin: 0 auto;
    }

    .bot_row .one .nav,
    .bot_row .two .nav_active {
        font-size: 1.1rem;
    }

    .nav-tabs > li > a,
    .nav-pills > li > a {
        font-size: 1rem;
    }

    .nav-tabs > li:not(:last-child) > a,
    .nav-pills > li:not(:last-child) > a {
        padding: 0;
        margin-right: 3px;
    }
}

@media screen and (max-width: 375px) {
    .top_row .one .user {
        font-size: 1.1rem;
    }
    .top_row .one .info {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px){
    .top_row .one .user {
        font-size:0.9rem;
    }
    .top_row .one .info {
        font-size: 0.9rem;
    }
}