.wrap .contain {
    /*border: grey dashed 2px;*/
    /*margin: 80px;*/
    /*height: 700px;*/
    background: white;
    box-sizing: border-box;
    /* resize: horizontal; */
    position: relative;
    border: 2px black dashed;
    /*height: calc(100vh - 140px);*/
    /*width: calc((100vh - 140px) * 1.7777);*/
    margin: 0px auto 5px auto;
    /*overflow: hidden;*/
    height: 85vh;
    width: calc(85vh*1.7777);
}
.onDropBlock {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    border: 1px grey dashed;
    padding: 40px;
}

.dropzone h3 {
    font-size: 4rem;
}
.dropzone button,
.dragWrap button {
    margin-top: 30px;
    background-color: #00B0E8;
    color: white;
    font-size: 2rem;
    padding: 3px 15px 3px 15px;
    border: none;
    border-radius: 2px;
}

.dragWrap button {
    position: absolute;
    z-index: 1;
}

.scalePoint {
    position: absolute;
    display: flex;
    transform: translate(340px, -50px);
    width: 70%;
    justify-content: space-between;
}

.scalePoint .scale,
.scalePoint .transparency {
    width: auto;
}

.scalePoint .scale input,
.scalePoint .transparency input {
    display: inline;
}

.scalePoint .scale p,
.scalePoint .transparency p {
    display: initial;
    margin-right: 30px;
    font-size: 1.7vh;
    font-weight: 600;
}

.save button {
    background-color: #ff9a36;
    color: white;
    font-size: 1.5rem;
    padding: 3px 30px;
    border: none;
    border-radius: 2px;
}

#urlBrandField {
    width: 80%;
    height: 10%;
    margin: auto;
    display: block;
    font-size: 25px;
    padding-left: 20px;
}
.formUrl .inputField label {
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    display: block;
    margin: auto;
    text-align: left;
}
.formUrl {
    position: absolute;
    width: 100%;
    height: inherit;
   z-index: 1;
}

.inputField {
    margin-top: 80px;
}
.buttonGroup {
    width: 80%;
    margin: auto;
    text-align: right;
    margin-top: 30px;
}

.buttonGroup .save {
    background-color: #ff9a36;
    color: white;
    font-size: 2rem;
    padding: 3px 15px 3px 15px;
    border: none;
    border-radius: 2px;
    margin-left: 50px;
}

.buttonGroup .cancel {
    background-color: white;
    color: black;
    font-size: 2rem;
    padding: 3px 15px 3px 15px;
    border: none;
    border-radius: 2px;
}

.brendingSetTitle {
    position: absolute;
    width: 100%;
    margin-top: 130px;
    z-index: 1;
}

.imageWrap:hover {
    opacity: 1;
}

/*Title Block — Branding*/
a:hover {
    text-decoration: none;
}
.btn:hover {
    color: #fff;
}
button {
    border: none;
}
.titleBlock {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 10px 15px;
    font-weight: 600;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 5px;
}
.navCancel {
    font-size: 1.7vh;
}
.titleBlock .title {
    font-size: 2vh;
}
.navUpdateButtons > div,
.wrapOptions {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.7vh;
    color: #6a6a6a;
}
.wrapOptions {
    width: 70%;
}
.cancel {
    margin-top: 5%;
}
.cancel button {
    background: none;
    font-size: 2rem;
}
button {
    cursor: pointer;
}
.btn {
    color: #fff;
    background-color: #007bd5;
    font-size: 1.7vh;
    border-radius: 3px;
    padding: 5px 45px;
    line-height: 1;
    cursor: pointer;
    font-weight: 400;
    display: inline-block;
    min-width: 130px;
}
/*---------*/
.navMainUpdateButtons {
    display: flex;
}
.wrapOptions > a {
    font-size: 1.7vh;
    font-weight: 600;
    color: #6a6a6a;
}
.wrapOptions > a:not(:last-child) {
    margin-right: 100px;
}
.navSave {
    background-color: #ff9800;
    margin-left: 10px;
}
.wrapButtons {
    line-height: 1;
}

input[type=range] {
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: rgba(120, 120, 120, 0);
  border: 0.2px solid #787878;
  border-radius: 1.3px;
  width: 100%;
  height: 0.2px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -13.6px;
  width: 18px;
  height: 27px;
  background: #ff9800;
  border: 2px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #858585;
}

input[type=range]::-moz-range-track {
  background: rgba(120, 120, 120, 0);
  border: 0.2px solid #787878;
  border-radius: 1.3px;
  width: 100%;
  height: 0.2px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 18px;
  height: 27px;
  background: #ff9800;
  border: 2px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 13.4px 0;
  color: transparent;
  width: 100%;
  height: 0.2px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #6b6b6b;
  border: 0.2px solid #787878;
  border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
  background: rgba(120, 120, 120, 0);
  border: 0.2px solid #787878;
  border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
  width: 18px;
  height: 27px;
  background: #ff9800;
  border: 2px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(120, 120, 120, 0);
}

input[type=range]:focus::-ms-fill-upper {
  background: #858585;
}

@media screen and (max-width: 414px) {
    .navUpdateButtons > div {
        top: 18%;
        left: 43%;
        font-size: 2.1vw;
    }

    .wrap .contain {
        width: 90vw;
        height: calc(90vw * 0.5625);
    }

    .titleBlock {
        /*flex-direction: column;*/
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .wrapButtons {
        display: flex;
        align-items: center;
    }

    .btn {
        padding: 5px 20px;
        min-width: auto;
    }

    .wrapButtons a {
        font-size: 3vw;
    }

    .wrapOptions {
        position: static;
        display: flex;
        flex-wrap: wrap;
        left: 0;
        transform: none;
    }

    .navMainUpdateButtons {
        align-items: flex-end;
    }
    .scalePoint {
        position: absolute;
        width: 100%;
        transform: translate(0, -62px);

        flex-wrap: wrap;
    }

    .scalePoint .scale input, .scalePoint .transparency input {
        width: 100px;
    }

    .scalePoint .scale p, .scalePoint .transparency p {
        margin-right: 13px
    }

    .scaleWrap.contain {
        margin-top: 62px;
    }

    .scalePoint .save {
        margin: 10px auto 0;
    }

    .inputField {
        margin-top: 38px;
    }

    #urlBrandField,
    .buttonGroup .save,
    .buttonGroup .cancel {
        font-size: 4vw;
    }
    .buttonGroup {
        margin-top: 10px;
    }
    .buttonGroup .save {
        margin-left: 20px;
    }

    .formUrl .inputField label, #urlBrandField {
        width: 77%;
    }

    .brendingSetTitle {
        margin-top: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .onDropBlock {
        width: 90%;
        height: 45%;
    }

    .dropzone h3 {
        font-size: 5vw;
    }

    .dropzone button {
        margin-top: 5px;
    }

}