html {
    font-size: 10px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.mainWrapIfloorplan {
    /*padding: 10px; */
    background: white;
    box-sizing: border-box;
    /* resize: horizontal; */
    overflow: hidden;
    position: relative;
    /*border: 2px black dashed;*/
    /*height: calc(100vh - 85px);*/
    /*width: calc((100vh - 85px) * 1.7777);*/
    /*margin: 20px auto 0 auto;*/
    /*height: 100vh;*/
    margin: 6.5vh auto;
    /*width: 100%;*/
    height: 87vh;
    width: calc(87vh*1.7777);
}

.pnlm-container {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.36);
}

.more {
    width: 5%;
    height: 3%;
    position: fixed;
    top: 0;
    right: 0;
    margin: 7px;
    cursor: pointer;
    z-index: 200;
}

.more svg {
    width: 45%;
}

.moreMenu {
    position: absolute;
    top: 35px;
    right: 0;
}

.more button {
    /*border: none;*/
    /*width: 235px;*/
    /*text-align: center;*/
    /*padding: 10px;*/
    /*color: white;*/
    /*font-size: 18px;*/
    /*margin-bottom: 2px;*/
    /*background: #595959;*/
    /*cursor: pointer;*/
    border: none;
    /*width: 235px;*/
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 2.5vh;
    margin-bottom: 2px;
    background: #595959;
    cursor: pointer;
    width: 27vh;
    border-radius: 10px;
}

.moreMenu {
    display: none;
}

a {
    font-size: 20px;
}

.images img, .plan img {
    width: 100%;
}

.images iframe {
    width: 100%;
    height: 480px;
}

.images, .plan {
    position: absolute;
}

.images {
    z-index: 122;
}

.plan {
    z-index: 118;
}

.start {
    /*position: relative;*/
    /*width: auto;*/
    /*height: inherit;*/
    /*  width: 100%;*/
    /*padding-bottom: 56.25%;*/
}

.ifloorCam {
    z-index: 100;
}

.addressBlock{
    padding: 0 1rem;
}

.tabs {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    z-index: 200;
}

.client_wrap_main {
    z-index: 119;
}

.tabs .tab {
    background: #EEEEEE;
    padding: 0px 1vh;
    font-size: 2vh;
    margin-right: 5px;
}

.imageWrap,
.interior-image {
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.36);
    z-index: 1;
}

.tab.active_tab {
    background: #a9a9a9 !important;
}

.client_wrap, .logo-wrapper {
    width: 100%;
    height: 100%;
}

.logo-wrapper {
    position: relative;
    overflow: hidden;
}

.logo-wrapper p, .logo-wrapper img {
    position: absolute;
    margin: 0;
    color: #4a4a4a;
}

.logo-wrapper .client_name {
    font-size: 2.5vw;
}

.contact_name, .contact_phone, .contact_email {
    font-size: 1.5vw;
}

.client_wrap_main {
    width: 35vw;
    height: 20%;
    z-index: 120;
}

.video_popup .popup-content {
    width: 85% !important;
    height: 86%;
}

.video_popup .popup-content iframe {
    width: 100%;
}

.list_video {
    display: flex;
    justify-content: center;
}

.video_item {
    margin: 0 3px;
    background: #5e9cff;
    padding: 3px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.video_item.active {
    background: #e49f46;
}

.map_wrap_popup .popup-content {
    width: 85% !important;
    height: 80%;
}

.brandWrap {
    z-index: 121;
}

.brandWrap:hover {
    opacity: 1 !important;
}

.workPlace .dnd-wrapper .tabs .tab {
    cursor: pointer;
}

.mainWrapIfloorplan .start .tabs .tab {
    /*border: 1px solid #e0e0e0;*/
    border-radius: 4px;
    /*font-size: 1.6rem;*/
    font-weight: 600;
    color: #565656;
    background: linear-gradient(0deg, #d5d5d5, #f4f4f4);
    box-shadow: 0 2.5px 4px #80808082;
    /*margin-top: 5px;*/
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
}


.slide_tools {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.slide_tools_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.play_next_prev {
    position: absolute;
    width: 100%;
    height: 17%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play_next_prev .prev,
.play_next_prev .play,
.play_next_prev .next {
    width: 12%;
    height: 100%;
}

.play_next_prev .prev svg,
.play_next_prev .next svg {
    width: 50%;
}

.play_next_prev .play svg {
    width: 100%;
}

.zoom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.prev, .play, .next, .zoom div {
    cursor: pointer;
}

.image_animation {
    animation-name: example;
    animation-duration: 1s;
}

@keyframes example {
    0% {
        opacity: 0.4;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.none {
    display: none;
}

.zoomWrap, .media_wrap {
    position: fixed;
    z-index: 124;
    height: calc(100vh - 85px);
    width: calc((100vh - 85px) * 1.7777);
    margin: 37px auto 0 auto;
}

.media {
    width: auto;
    height: inherit;
}

.media iframe {
    width: 100%;
    height: 100%;
}

.zoomWrap .image_wrap {
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 85px);
    position: relative;
}

.image_zoom {
    width: 100%;
    /*margin: auto;*/
    /*padding: 20px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zoomWrap img {
    width: 100%;
}

.slide_zoom_tools {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
}

.slide_zoom_tools .slide_tools {
    position: absolute;
    bottom: 0 !important;
    width: 100% !important;
    top: unset;
    display: flex !important;
    left: unset;
    transform: none;
    background: #00000070;
}

.slide_zoom_tools .slide_tools .play_next_prev {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 40%;
}

.slide_zoom_tools .slide_tools .play_next_prev div {
    margin-right: 10%;
}

.slide_zoom_tools .slide_tools .zoom {
    position: absolute;
    width: 10%;
    height: 35%;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
}

.slide_zoom_tools .slide_tools .zoom div {
    margin-right: 5%;
}

.address_slide_wrap {
    position: absolute;
    top: -3%;
    left: 3%;
}

.splash_screen {
    position: fixed;
    z-index: 130;
    height: calc(100vh - 85px);
    width: calc((100vh - 85px) * 1.7777);
    margin: 15px auto 0 auto;
    overflow: hidden;
}

.splash_img {
    position: relative;
    width: 100%;
    height: 100%;
}

.splash_screen img {
    width: 100%;
    /* height: inherit; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info_for_ifloorplan {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 7vh;
    background: #d6d6d69e;
}


/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

/*My STYLE for Slider*/

.ifloorPlanSlider {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
}

.ifloorPlanSlider .zoom__btn {
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: calc(100% - 10px);
    opacity: 0;
    transition: .2s;
}

.ifloorPlanSlider .zoom__btn svg {
    cursor: pointer;
    width: 10%;
}

.ifloorPlanSlider .slick-slider .slick-list .slick-track .slick-slide div div img {
    width: 100%;
}

.ifloorPlanSlider .sliderPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 10px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: .2s;
}

.ifloorPlanSlider:hover .sliderPanel,
.ifloorPlanSlider:hover .zoom__btn {
    opacity: 1;
}

.ifloorPlanSlider .sliderPanel svg {
    cursor: pointer;
}

.start .images .ifloorPlanSlider {
    z-index: 1;
}

.start .images .ifloorPlanSlider img {
    width: 100%;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.36);
}

.ifloorPlanSlider .slick-slider .slick-list .slick-track .slick-slide div div {
    padding: 0 10px 10px 0;
}

.ifloorPlanSlider.zoom {
    position: fixed;
    max-width: calc((100vh - 85px) * 1.7777);
    width: 100%;
    top: 50%;
    height: 91.4%;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

.ifloorPlanSlider.zoom .sliderPanel {
    height: 12%;
    background: #00000070;
    top: 88%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ifloorPlanSlider.zoom .sliderPanel svg {
    width: 2%;
}

.ifloorPlanSlider.zoom .sliderPanel svg:nth-child(2) {
    width: 4%;
}

.ifloorPlanSlider.zoom .zoom__btn {
    left: 92%;
    bottom: 1%;
    width: 5%;
    height: 9%;
}

.ifloorPlanSlider.zoom .zoom__btn svg {
    width: 100%;
    height: 100%;
}


/*styles for previewing the plan with markers and buttons (for buttons)*/
.mainWrapIfloorplan .start .markerWrap button {
    border: none;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
}


/*Styles for PopUp with text info*/

.popup-content{
    width: 35% !important;
    padding: 10px !important;
    border-radius: 10px !important;
    min-height: 200px;
    transition: 0.5s;
}
.popup-content:hover{
    box-shadow: 0 0 5px 0px white;
}
.contentTextInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.closeTextInfo{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, -50%);
    background: orange;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.4s;
    font-size: 1.6rem;
}
.closeTextInfo:hover{
    background: #ff8325;
}