.markersWrapper {
    max-width: 1400px;
    margin: auto;
}

.markers__title {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: 100%;
    padding: 0 15px;
    border-bottom: 2px solid #e8e8e8;
}

.markers__title h2 {
    font-size: 18px;
    color: black;
    font-weight: 600;
    margin-right: 60px;
}

.markers__title p {
    font-size: 12px;
}

.markers__upload_instructions {
    margin-top: 10px;
    text-align: center;
}

.markers__upload_instructions p {
    font-size: 14px;
}

.markers__uploads {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
    padding: 0 70px;
}

.markers__uploads .markers__upload {
    text-align: center;
    width: 300px;
}

.markers__uploads .markers__upload:not(:last-child) {
    margin-right: 0.5rem;
}

.markers__uploads .markers__upload h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.markers__uploads .markers__upload .markers__upload_wrap {
    text-align: center;
    border: 1px dashed grey;
    padding: 25px 0;
}

.markers__uploads .markers__upload .markers__upload_wrap p {
    font-size: 12px;
    font-weight: 700;
    color: black;
    margin-bottom: 25px;
}

.markers__uploads .markers__upload .markers__upload_wrap button {
    border: none;
    background: #4dbaed;
    color: white;
    padding: 3px 12px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.popup-content {
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px !important;
    height: 200px;
    border-radius: 10px;
}

.popup-content div p {
    font-size: 18px;
    margin-bottom: 30px;
}

.popup-content div a {
    font-size: 16px;
    color: white;
    background: #2769e1;
    padding: 2px 20px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0 2px 2px grey;
    transition: .4s;
}

.popup-content div a:hover {
    box-shadow: none;
}

.popup-content.popup_done-content {
    width: 750px !important;
    height: 250px;
    text-align: center;
    border: 1px solid black !important;
    box-shadow: 2px 2px 4px #313131;
}

.popup-content.popup_done-content div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
}

.popup-content.popup_done-content p {
    color: #4c4c4c;
    font-weight: 600;
}

.popup-content.popup_done-content a {
    background: darkorange;
    align-self: flex-end;
    padding: 2px 50px;
}

.markers__customizer_instruction {
    text-align: center;
    font-size: 14px;
    color: #4a4a4a;
}

.markers__customizer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    padding: 0 70px;
}

.markers__customizer_colour {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    padding: 10px;
    border: 1px solid gray;
}

.markers__customizer_actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.markers__customizer_actions button {
    padding: 4px 20px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}

.markers__customizer_actions .reset {
    background: #2769e1;
    margin-right: 20px;
    cursor: pointer;
}

.markers__customizer_actions .save {
    background: darkorange;
    cursor: pointer;
}

/* Style for SwapMarkers */

.markersWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.swapMarkers {
    align-self: center;
    margin-top: 60px;
}

.swapMarkers .swapMarkers__title {
    text-align: center;
    margin-bottom: 30px;
}

.swapMarkers .swapMarkers__title h4 {
    margin: 0;
    font-weight: 600;
    font-size: 17px;
}

.swapMarkers .swapMarkers__swaper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.swapMarkers .swapMarkers__swaper .swapMarkers__swaper_pic {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.swapMarkers .swapMarkers__swaper .swapMarkers__swaper_pic h4 {
    margin: 0;
    font-weight: 600;
    font-size: 17px;
}

.swapMarkers .swapMarkers__swaper .swapMarkers__swaper_pic img {
    margin-top: 40px;
    width: 80px;
}

.swapMarkers .swapMarkers__swaper .swapMarkers__swaper_pic.swap .pic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 65px;
    cursor: pointer;
}

.swapMarkers .swapMarkers__swaper .swapMarkers__swaper_pic.swap .pic svg {
    margin-bottom: 5px;
}

.swapMarkers .swapMarkers__swaper .swapMarkers__swaper_pic.swap .pic h4 {
    font-size: 16px;
    color: #1276EB;
    font-weight: 600;
}

.swapMarkers .swapMarkers__btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swapMarkers .swapMarkers__btns button {
    padding: 4px 35px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}

.swapMarkers .swapMarkers__btns .discard {
    background: #2769e1;
    margin-right: 40px;
    cursor: pointer;
}

.swapMarkers .swapMarkers__btns .save {
    background: darkorange;
    padding: 4px 45px;
    cursor: pointer;
}

.selectMark__markers {
    border: 1px solid black;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 10px;
}

.selectMark__markers .selectMark__markers_item {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.selectMark__markers .selectMark__markers_item button {
    background: #99bdff;
    font-size: 1.4rem;
    color: #515151;
    border: 1px solid gray;
    box-shadow: 0 0.3rem 0.5rem grey;
    margin: 0.4rem 2rem;
}

.selectMark__markers .selectMark__markers_item .rectangle {
    padding: 0.4em 3rem;
    border-radius: 0.4rem;
}

.selectMark__markers .selectMark__markers_item .round-sides {
    padding: 0.4rem 3rem;
    border-radius: 1.4rem;
}

.selectMark__markers .selectMark__markers_item .round {
    padding: 2rem 1rem;
    border-radius: 50%;
    align-self: auto;
}

.selectMark__markers .selectMark__markers_item .big-rectangle {
    padding: 1rem 3rem;
    border-radius: 0.8rem;
}

.selectMark__markers .selectMark__markers_item .big-round-sides {
    padding: 1rem 3rem;
    border-radius: 2rem;
}

.markers_list {
    display: flex;
    justify-content: space-around;
}

.markers_list .item img {
    width: 100%;
}

.markers_list .item {
    width: 10%;
}

.markers_list .images_list,
.markers_list .videos_list,
.markers_list .panelum_list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border: 1px black solid;
    width: 30%;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: visible;
    height: 25rem;
}

.item {
    position: relative;
    margin-right: 8px;
    margin-top: 8px;
}

.del {
    position: absolute;
    top: -8px;
    right: 0px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .markers__upload_instructions p {
        font-size: 1.3rem;
    }

    .markers__uploads .markers__upload h4 {
        font-size: 1.4rem;
    }

    .markers__uploads {
        margin: 4rem auto;
        width: 95%;
        padding: 0;
    }

    .markers_list {
        padding: 0 10px;
    }

    .markers_list .images_list,
    .markers_list .videos_list,
    .markers_list .panelum_list {
        width: calc(95% / 3);
        height: 200px;
    }

    .markers_list .item {
        width: 20%;
    }
}

@media screen and (max-width: 568px) {
    .markers__upload_instructions p {
        font-size: 1.1rem;
    }

    .markers__uploads .markers__upload h4 {
        font-size: 1.1rem;
    }

    .markers__title {
        align-items: center;
    }

    .markers__title h2 {
        margin-top: 0;
    }

    .markers__uploads {
        margin: 1rem auto;
    }

    .markers__uploads .markers__upload .markers__upload_wrap p {
        margin-bottom: 10px;
    }

    .markers_list .images_list,
    .markers_list .videos_list,
    .markers_list .panelum_list {
        width: calc(95% / 3);
        height: 160px;
    }
    .markers_list .item {
        width: 25%;
    }
    .markers_list{
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 414px) {
    .markers__title h2 {
        font-size: 18px;
        color: black;
        font-weight: 600;
        margin-right: 60px;
    }

    .markers__title {
        align-items: center;
    }

    .markers__title h2 {
        margin-top: 0;
        font-size: 1.4rem;
    }

    .markers__title p {
        font-size: 9px;
    }

    .markers__upload_instructions p {
        font-size: 1.1rem;
    }

    .markers__uploads {
        margin: 2rem auto;
    }

    .markers__uploads .markers__upload .markers__upload_wrap {
        padding: 10px 0;
    }

    .markers__uploads .markers__upload h4 {
        font-size: 1.4rem;
        line-height: normal;
    }

    .markers__uploads .markers__upload .markers__upload_wrap p {
        margin-bottom: 5px;
    }

    .markers_list .images_list,
    .markers_list .videos_list,
    .markers_list .panelum_list {
        width: calc(95% / 3);
        height: 120px;
    }

    .markers_list .item {
        width: 25%;
    }
}

@media screen and (max-width: 375px) {
    .markers__uploads .markers__upload .markers__upload_wrap p {
        font-size: 10px;
    }

    .markers_list .item {
        width: 40%;
    }

    .markers__uploads .markers__upload .markers__upload_wrap button {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .markers__title h2 {
        margin-right: 20px;
    }

    .markers__uploads .markers__upload h4 {
        font-size: 1.1rem;
    }

    .markers__uploads .markers__upload .markers__upload_wrap button {
        padding: 1px 6px;
    }

    .markers__uploads .markers__upload .markers__upload_wrap p {
        font-size: 9px;
    }

    .markers_list .item {
        width: 38%;
    }
}