.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper .font-style > div {
  text-align: left;
}

.NewWrapper .scale-layout {
  margin: 0 auto;
}
.NewWrapper .scale-layout .scales-panel div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NewWrapper .scale-layout .scales-panel div .scale-wrapper {
  display: flex;
}
.NewWrapper .scale-layout .dnd-wrapper {
  display: flex;
}
.NewWrapper .scale-layout .edit-text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper p:nth-child(2) {
  font-style: italic;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper .font-style p, .NewWrapper .scale-layout .edit-text-block .edit-font-wrapper .font-size p {
  cursor: pointer;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper ul li:hover {
  background: #c3c3c3;
}
.NewWrapper .single.plan.update.image .uploadImages {
  width: 70%;
  margin: 50px auto;
}
.NewWrapper .single.plan.update.image .uploadImages .dropzone {
  border: 1px dashed grey;
  margin: auto;
  padding: 70px 100px 200px;
}
.NewWrapper .single.plan.update.image .uploadImages .dropzone h3:first-child {
  color: #000;
  font-size: 3rem;
  margin: 0;
  line-height: normal;
}
.NewWrapper .single.plan.update.image .uploadImages .dropzone h3:not(:first-of-type) {
  color: #000;
  font-size: 3rem;
  margin: 40px 0;
}
.NewWrapper .single.plan.update.image .uploadImages .dropzone h3:last-child {
  font-size: 1.8rem;
  font-weight: 600;
}
.NewWrapper .single.plan.update.image .uploadImages .dropzone button {
  padding: 5px 15px;
  color: #fff;
  background-color: #7CC6FB;
  border-radius: 5px;
  border: none;
  outline: none;
}
.NewWrapper .single.plan.update.image .uploadImages .cancel button {
  padding: 4px 25px;
  margin-top: 16px;
  color: #fff;
  background-color: #7CC6FB;
  border-radius: 5px;
  border: none;
  margin-bottom: 40px;
  font-size: 1.5rem;
}

/*# sourceMappingURL=new.css.map */
