.PublishedWrapper {
    width: 100%;
}

.PublishedWrapper .workPlace {
    margin: 0 auto;
}

.PublishedWrapper .title_block {
    padding: 0 1%;
    border-bottom: solid 2px #eee;
}

.PublishedWrapper .title_block h2 {
    margin: 0;
    color: black;
    font-weight: 600;
}

.PublishedWrapper .publ_wrap {
    margin: 0 auto;
    width: 81vw;
    margin-bottom: 1rem;
}

.PublishedWrapper .publ_wrap .search {
    position: relative;
    margin: 3% 0;
}

.PublishedWrapper .publ_wrap .search input {
    padding: 7px;
    width: 100%;
    font-weight: 600;
}

.PublishedWrapper .publ_wrap .search i {
    padding: 5px;
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 17px;
    transform: translate(0, -50%);
}

.PublishedWrapper .publ_wrap .render {
    width: 100%;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item {
    margin-bottom: 7vh;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item {
    padding: 13px;
    display: flex;
    justify-content: space-between;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools {
    margin: 0 3%;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .address {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .address h2 {
    margin: 0;
    font-weight: 600;
    color: black;
    line-height: 1;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .address p {
    font-size: 10px;
    color: #4a4a4aa3;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .url_option input {
    margin-right: 10px;
    padding: 5px;
    width: 75%;
    font-size: 12px;
    color: #4a4a4a;
    border: 1px solid #4a4a4aa3;
    border-radius: 3px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .url_option select {
    padding: 5px;
    width: 23%;
    color: #4a4a4a;
    font-size: 12px;
    background-color: inherit;
    border: 1px solid #4a4a4aa3;
    border-radius: 3px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .btn_group {
    margin: 14px 0;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .btn_group a {
    margin-right: 5px;
    padding: 5px 15px;
    font-size: 10px;
    color: #4a4a4a;
    border: 1px solid #4a4a4aa3;
    border-radius: 2px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .info {
    margin: 10px 0 5px;
    font-weight: 600;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .info p {
    color: black;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .brand_title {
    font-size: 12px;
    color: #4a4a4aa3;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap {
    margin: 0 auto;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .text.editor .textEditor {
    margin-top: 5px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .text.editor .textEditor .buttonGroup_textEditor {
    margin-top: 0;
    padding: 20px 0;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .ken.burns .ken_burns_wrap .ken_title {
    text-align: center;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .ken.burns .ken_burns_wrap .ken_main_wrap {
    justify-content: normal;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .ken.burns .ken_burns_wrap .ken_main_wrap .ken_title {
    text-align: center;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .ken.burns .ken_burns_wrap .ken_main_wrap .ken_tools_wrap {
    margin-right: 1%;
    width: 15%;
    text-align: center;
    justify-content: space-around;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .ken.burns .ken_burns_wrap .ken_main_wrap .ken_tools_wrap .ken_images .image {
    width: 100%;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .ken.burns .ken_burns_wrap .ken_main_wrap .ken_tools_wrap .ken_images .images_btn_group {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .ken.burns .ken_burns_wrap .ken_main_wrap .ken_tools_wrap .ken_images .images_btn_group button {
    border: none;
    width: 40%;
    padding: 5px 0;
    color: white;
    background: #bdbdbd;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .ken.burns .ken_burns_wrap .ken_main_wrap .ken_wrap {
    width: 84%;
    display: flex;
    justify-content: space-around;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .add.lat.and.long .lat_long {
    margin-top: 0;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .add.lat.and.long .lat_long .title_lat {
    text-align: center;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .add.media .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .add.media .video .video_title {
    margin-top: 0;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .position.videos .workPlace .dnd-wrapper .video_marker .linkAdd_video_marker label {
    padding: 0 2px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .position.videos .workPlace .dnd-wrapper .video_marker .linkAdd_video_marker input {
    padding: 5px 2px;
    border: 1px solid #c6c6c6;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .scale.and.repos .scale-layout.workPlace .scales-panel {
    margin: 0;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .scale.and.repos .scale-layout.workPlace .scales-panel div {
    justify-content: center;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .scale.and.repos .scale-layout.workPlace .scales-panel div .scale-wrapper {
    margin-right: 30px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .scale.and.repos .scale-layout.workPlace .scales-panel div .scale-wrapper h3 {
    margin: 10px 30px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .scale.and.repos .scale-layout.workPlace .scales-panel div button {
    max-width: 250px;
    padding: 5px 20px;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: #FF9300;
    border-radius: 5px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .image.library {
    padding-bottom: 2%;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .image.library .planLibrary .btnGroup .btn_lib_left {
    width: 30%;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .image.library .planLibrary .plansLib {
    margin: 0;
    padding: 10px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .plan.library .planLibrary .titleBlock .planLibraryPanel {
    padding: 0 15px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .plan.library .planLibrary .titleBlock .planLibraryPanel h3 {
    margin: 3px 0;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .plan.library .planLibrary .plansLib {
    margin: 0;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .panorama .workPlace {
    margin: 0 auto;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .panorama .workPlace .dnd-wrapper .panorama_tools {
    left: 0;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .panorama .workPlace .dnd-wrapper .panorama_tools .choose {
    align-items: center;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .panorama .workPlace .dnd-wrapper .panorama_tools .choose div {
    text-align: center;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .cams.position .topPanelWrap .colorPanel .btnWrap button {
    margin-top: 5px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .cams.position .topPanelWrap .selectMark_wrapper {
    top: 102%;
    margin-left: 0;
    padding: 0 1.4rem;
    height: 600px;
    overflow-y: scroll;
    z-index: 1000;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .cams.position .topPanelWrap .selectMark_wrapper .selectMark {
    height: 70%;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .cams.position .workPlace {
    margin: 0 auto;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .layout .scale-layout.workPlace {
    margin: 0 auto;
    width: 100%;
    height: inherit;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .layout .scale-layout.workPlace .scales-panel {
    margin-bottom: 0;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .layout .scale-layout.workPlace .scales-panel div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .clients .clients_wrap {
    margin-top: 0;
    padding-bottom: 50px;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .clients .clients_wrap .clientWrap .btn_group_client {
    display: flex;
    justify-content: flex-end;
}

.PublishedWrapper .publ_wrap .render .plan_wrap_item .editWrap .manage.levels .manage_levels {
    height: inherit;
    padding-bottom: 20px;
}

.PublishedWrapper .publ_wrap .pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.PublishedWrapper .publ_wrap .pagination p {
    color: black;
}

/*# sourceMappingURL=published.css.map */


@media screen and (max-width: 1024px){
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .embed pre{
        width: 100%;
        white-space: pre-wrap;
        word-break: break-all;
    }
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .info{
        margin: 0;
    }
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .brand_title{
        white-space: nowrap;
    }
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .address{
        margin-bottom: 3px;
    }
}

@media screen and (max-width: 768px) {
    .PublishedWrapper .publ_wrap {
        width: 95%;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .brand_title {
        font-size: 1rem;
        white-space: nowrap;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item {
        padding: 10px;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .url_option {
        white-space: nowrap;
    }

    .workPlace{
        width: 95vw;
        height: calc(95vw * 0.5625);
    }
}

@media screen and (max-width: 767px){
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .btn_group a:nth-child(2){
        display: none;
    }
}

@media screen and (max-width: 414px) {
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .url_option input,
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .url_option select {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .btn_group a {
        margin-right: 2px;
        padding: 3px 2px;
        font-size: 10px;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .url_option {
        white-space: normal;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .btn_group {
        margin: 5px 0;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .info {
        margin: 0;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .url_option select {
        width: 60%;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .address {
        margin-bottom: 5px;
        margin-top: 0.7rem;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item {
        position: relative;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .brand_title {
        position: absolute;
        top: 0;
        right: 5px;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .brand_title {
        font-size: 0.7rem;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .url_option input {
        width: 90%;
    }

    .PublishedWrapper .publ_wrap .render .plan_wrap_item {
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 375px){
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .btn_group {
        display: flex;
        flex-wrap: wrap;
    }
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .btn_group a{
        padding: 0 3px;
        margin-bottom: 4px;
    }
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .url_option select,
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .url_option input{
        padding: 2px;
    }
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .address{
        width: 90%;
        flex-direction: column;
    }
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .info p {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 320px){
    .PublishedWrapper .publ_wrap .render .plan_wrap_item .plan_item .tools .url_option select {
        width: 90%;
    }
}