.NewWrapper .scale-layout {
  margin: 0 auto;
  width: 70%;
}
.NewWrapper .scale-layout .scales-panel div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NewWrapper .scale-layout .scales-panel div .scale-wrapper {
  display: flex;
}
.NewWrapper .scale-layout .dnd-wrapper {
  display: flex;
  width: 100%;
}
.NewWrapper .scale-layout .edit-text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper .font-style, .NewWrapper .scale-layout .edit-text-block .edit-font-wrapper .font-size {
  position: relative;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper .font-style p, .NewWrapper .scale-layout .edit-text-block .edit-font-wrapper .font-size p {
  cursor: pointer;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper ul {
  position: absolute;
  left: 0;
  background: white;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper ul li {
  cursor: pointer;
  border: 1px solid gray;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper ul li:hover {
  background: #c3c3c3;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper button {
  margin: 0 5px;
  padding: 0 10px;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper .font-size {
  padding: 5px 10px;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper .font-size ul li {
  padding: 0 10px;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper .font-style {
  padding: 5px 15px;
}
.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper .font-style ul {
  width: 100%;
}

/*# sourceMappingURL=scssNew.css.map */
