/*Style for TEMPLATES*/
.header {
  border-bottom: 2px solid #b8b8b8;
}

.title_block {
  border-bottom: 2px solid #d3d3d3;
  padding: 0 15px;
}

.title_block h2 {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.TemplatesWrapper .wrap {
  margin: 40px 100px;
}
.TemplatesWrapper .wrap .description {
  margin-bottom: 12px;
}
.TemplatesWrapper .wrap .description h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin: 0;
}
.TemplatesWrapper .wrap .templates_list {
  overflow-y: scroll;
  height: 400px;
}
.TemplatesWrapper .wrap .templates_list::-webkit-scrollbar {
  width: 18px;
  background-color: #d6d6d6;
  border: 1px solid #9d9d9d;
}
.TemplatesWrapper .wrap .templates_list::-webkit-scrollbar-thumb {
  background-color: #9d9d9d;
  border-radius: 8px;
}
.TemplatesWrapper .wrap .templates_list .template {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #b1b1b1;
  margin-right: 50px;
  transition: 0.2s;
}
.TemplatesWrapper .wrap .templates_list .template:first-child {
  border-top: 1px solid #b1b1b1;
}
.TemplatesWrapper .wrap .templates_list .template h3 {
  font-size: 1.6rem;
  line-height: 27px;
  font-weight: 600;
  margin: 0;
}
.TemplatesWrapper .wrap .templates_list .template .btn_group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.TemplatesWrapper .wrap .templates_list .template .btn_group p {
  font-size: 18px;
  font-weight: 900;
  color: transparent;
  transition: 0.2s;
}
.TemplatesWrapper .wrap .templates_list .template .btn_group button {
  /*display: none;*/
  border: none;
  font-size: 1.6rem;
  line-height: 27px;
  font-weight: 600;
  padding: 0 30px;
  margin: 0;
  transition: 0.2s;
  cursor: pointer;
  background: transparent;
  color: transparent;
}
.TemplatesWrapper .wrap .templates_list .template:hover {
  background: #e0e0e0;
}
.TemplatesWrapper .wrap .templates_list .template:hover .btn_group button {
  color: black;
}
.TemplatesWrapper .wrap .templates_list .template:hover .btn_group p {
  color: black;
}
.TemplatesWrapper .wrap .popup-overlay .popup-content {
  display: block;
  box-shadow: 3px 3px 7px #999999;
  padding: 10px 20px !important;
  border: black 1px solid;
  border-radius: 5px;
  width: 350px !important;
}
.TemplatesWrapper .wrap .popup-overlay .popup-content .modal {
  text-align: left;
}
.TemplatesWrapper .wrap .popup-overlay .popup-content .modal h2 {
  color: #555;
  font-family: "Open Sans", Arial, sans-serif;
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.TemplatesWrapper .wrap .popup-overlay .popup-content .modal .inpt p {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 1.4px;
}
.TemplatesWrapper .wrap .popup-overlay .popup-content .modal .inpt p:nth-child(3) {
  font-size: 10px;
}
.TemplatesWrapper .wrap .popup-overlay .popup-content .modal .inpt input {
  width: 100%;
  padding: 5px;
}
.TemplatesWrapper .wrap .popup-overlay .popup-content .modal .btn_popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: none;
  padding: 8px 15px;
}
.TemplatesWrapper .wrap .popup-overlay .popup-content .modal .btn_popup button {
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 40px;
  cursor: pointer;
  color: #5d5d5d;
}
.TemplatesWrapper .wrap .popup-overlay .popup-content .modal .btn_popup button:nth-child(2) {
  background: #FF9300;
  color: white;
  border-radius: 4px;
  padding: 5px 30px;
  white-space: nowrap;
}

@media screen and (max-width: 414px) {
  .TemplatesWrapper .wrap {
    margin: 15px 10px;
  }
  .TemplatesWrapper .wrap .templates_list .template {
    margin-right: 20px;
  }
  .TemplatesWrapper .wrap .templates_list .template .btn_group button, .TemplatesWrapper .wrap .templates_list .template .btn_group p {
    color: #3e3d3d;
    font-size: 1.3rem;
  }
  .TemplatesWrapper .wrap .templates_list .template .btn_group button {
    padding: 0 15px;
  }
  .TemplatesWrapper .wrap .popup-overlay .popup-content {
    margin: 40% auto auto !important;
    width: 280px !important;
  }
  .TemplatesWrapper .wrap .popup-overlay .popup-content .modal h2 {
    font-size: 1.5rem;
  }
  .TemplatesWrapper .wrap .popup-overlay .popup-content .modal .btn_popup button {
    padding: 8px 15px;
  }
  .TemplatesWrapper .wrap .popup-overlay .popup-content .modal .inpt p {
    letter-spacing: normal;
  }
}

/*# sourceMappingURL=templates.css.map */
