{% include 'header_user.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "frontend/styles/branding.css"%}">
<div style="text-align:center">
    <div id="app"></div>
</div>
<script src='{% static "frontend/branding.js"%}'></script>
