{% include 'header_user.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "frontend/styles/clients.css"%}">
<div style="text-align:center">
    <div id="app"></div>
</div>
<script src='{% static "frontend/clients.js"%}'></script>
{% include 'footer.html' %}