{% include 'header_user.html' %}
<div class="wrapper options">
<div class="toolsPanel">
  <div class="breadcrum">Account</div>

  <div class="logoutBtn"><a href="/logout">Logout</a></div>
</div>

  <div class="container content">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}



      <div class="tab-content" style="margin-left:10px;margin-right:10px">


        <h4>Country terminology</h4>
        <form action="" method="post">
          {% csrf_token %}
          <div class="control-group">
            <label class="control-label" for="country">Country</label>
            <div class="controls">
              <select name="country">
                <option label="United States" value="United States">United States</option>
                <option label="Australia" value="Australia" selected="selected">Australia</option>
                <option label="United Kingdom" value="United Kingdom">United Kingdom</option>
              </select>

              <p>Tune iFloorPlan to your country's terminology. This is primarily used for setting default terms for levels. ie <i>Ground</i> or <i>Main</i> <i>First</i> or <i>Second</i> ?. This may be used to fine tune iFloorPlan to conditions in different countries in the future.</p>
            </div>
          </div>
          <div class="form-actions">
            <button class="btn btn-primary" style="margin-top:10px" name="update_options" type="submit">Update options</button>
            <hr style="margin-bottom:30px">
          </div>
        </form>

      </div>



  </div>
</div>