{% include 'header_user.html' %}
<div class="wrapper options">
<div class="toolsPanel">
  <div class="breadcrum">Account</div>

  <div class="logoutBtn"><a href="/logout">Logout</a></div>
</div>

  <div class="container content">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}



      <div class="tab-content" style="margin-left:10px;margin-right:10px">


        <h4>Your domain API</h4>
        <div class="control-group">
          <label class="control-label" for="api-url">API URL</label>

          <div class="controls">
            <input class="text" id="api-url" name="api-url" size="40" type="text" value="">

            <p class="help-text">Enter the path to your API. For example:<br> <strong>http://www.yoursite.com/display.php?id=</strong> or<br><strong>http://www.yoursite.com/display/</strong></p>
            <p>If you do not use the iFloorPlan domain API, leave this field blank</p>
          </div>
        </div>
        <div class="form-actions">
          <button class="btn btn-primary" style="margin-top:10px" name="update_mailing" type="submit">Update iFloorPlan URLs</button>
          <hr style="margin-bottom:30px">
        </div>
          

      </div>



  </div>
</div>