{% include 'header_user.html' %}
<div class="wrapper" style="text-align: center">
        {% load static %}
    <link rel="stylesheet" href="{% static "frontend/App.css"%}">
    <link rel="stylesheet" href="{% static "frontend/App_other.css"%}">
    <link rel="stylesheet" href="{% static "frontend/App_mobile.css"%}">
    <link rel="stylesheet" href="{% static "frontend/styles/new.css"%}">
    <link rel="stylesheet" href="{% static "frontend/styles/Edit.css"%}">
    <input type="hidden" value="" id="dataEdit">
    <input type="hidden" id="ifloorplan_id" value="{{ id }}">
    <div id="app">

    </div>

    <script src='{% static "frontend/edit.js"%}'></script>
</div>
</body>
</html>
