{% include 'header_user.html' %}
<div class="wrapper options">
<div class="toolsPanel">
  <div class="breadcrum">Account</div>

  <div class="logoutBtn"><a href="/logout">Logout</a></div>
</div>

  <div class="container content">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}



      <div class="tab-content" style="margin-left:10px;margin-right:10px">

        <form action="" method="post">
          {% csrf_token %}
          <h4>Change your registered email address</h4>
          <p>Your current email address is: <b>{{ email }}</b></p>
          <div class="control-group">
            <label class="control-label" for="email">New email address</label>
            <div class="controls"><input id="email" name="email" size="40" type="email" value=""></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email2">Verify New Email address</label>
            <div class="controls"><input id="email2" name="email2" size="40" type="email" value=""></div>
          </div>
          <div class="form-actions">
            <button class="btn btn-primary" style="margin-top:10px" name="change_email" type="submit">Change Email</button>
            <hr style="margin-bottom:30px">
          </div>
        </form>
          

      </div>



  </div>
</div>