{% include 'header_user.html' %}

<div class="wrapper guide">


<div class="container content">



  <script type="text/javascript">

    function setTabsDisabledStat(isDisabled) {
      var navTabs = $('.nav-tabs').find('li');
      navTabs.toggleClass('disabled', isDisabled);
      if(isDisabled) {
        navTabs.on('click', function() {
          return false;
        });
      } else {
        navTabs.off('click');
      }
    }

  </script>
  <script type="text/javascript">AC_FL_RunContent = 0;</script>
  <script src="AC_RunActiveContent.js" type="text/javascript"></script>
  <script type="text/javascript">

  var sendMessageToHelp = function(message) {
    $('help_panel').receiveText(message);
  }

  var sendMessageToHelp_2 = function(message) {
    document.help_panel.receiveText(message);
  }

  var resetImageLoad = function() {
    document.image_load.resetStartNew();
  }

  var previewClick = function() {
    document.image_load.gotoPreview();
  }

  var previewClickUpdate = function() {
    document.update.gotoPreviewUpdate();
  }
  $( document ).ready(function() {
      $("#previewClick").click(
          function(){
              alert('dgg');
          }
      );
  });


</script>
        <div class="tab-content" style="margin-left:10px;margin-right:10px">

<h4 id="quickLinks">iFloorPlan user guide</h4>
<p><a href="user/userguide/#startNew"> Creating a new iFloorPlan</a></p>
<p><a href="user/userguide/#manageClients">Adding clients logos, contact information and links</a></p>
<p><a href="user/userguide/#branding">Branding. Add your logo and link on every ifloorplan you create</a></p>
<p><a href="user/userguide/#preferences">Setting up your preferences</a></p>
<p><a href="user/userguide/#templates">Templates</a></p>
<p><a href="user/userguide/#toolbox">Toolbox</a></p>
<p><a href="user/userguide/#credits">Purchase</a></p>
<p><a href="user/userguide/#api">Running iFloorPlans from your domain</a></p>
<p><a href="user/userguide/#multilevel">Multi level iFloorPlans</a></p>
<p><a href="user/userguide/#edit">Editing published iFloorPlans. </a></p>
<p><a href="user/userguide/#floorplans">Floorplans</a></p>
<p><a href="user/userguide/#images">Images</a></p>
<p><br></p>

<h4 id="startNew">Creating a new iFloorPlan.</h4>
<ul>

  <li>To create an iFloorPlan, select
          <a href="user/new/" onclick="fieldset_show(1); return false;">New</a>
        from the Control Panel.
  </li>

  <li>Click Browse and select a floorplan image from your computer. Image must
  be a .jpg, .gif or .png. More information about the
  <a href="user/userguide/#floorplans">floor plan image
  here</a>.</li>

  <li>Click Upload to send the image.</li>

  <li>Your floorplan loads into the floorplan space. Scale the floorplan image
  using the orange slider, and position it by click and dragging the image. You
  can position the floor plan anywhere on the stage.</li>

  <li>Also on the stage is the picture box. This is the rectangle your photos
  will occupy. Scale it by using the green slider above, and position it by
  click and dragging the picture box.</li>

  <li>Arrange the two elements to make the best use of the space. The layout
  can be edited later. Click Save layout when you are ready.</li>

  <li>You have now set the layout for this iFloorPlan.</li>

  <li>Click Browse and select your images for this property. Images must be
  .jpg. Select up to 20 images. If this is a multi level property, and you
  have separate floorplan images, upload images for this level only.</li>

  <li>Make sure your image's dimensions are at least the minimum dimensions
  specified in the text under the file list in the uploader.</li>

  <li>Click Upload to begin uploading your images. This may take a while
  depending on your internet connection and the number and size of your images.
  <a href="user/userguide/#images">More information about
  images here</a></li>

  <li>When your first image loads in the image space, an arrow will bounce onto
  your floorplan. Drag this onto the floorplan. To rotate the arrow to
  represent the camera and the camera's view, click and hold the green arrows.
  Release when in position.</li>

  <li>Click Next. The next image appears and another arrow bounces onto the
  floorplan. Repeat the process for each image. You can go back and forth if
  necessary. When all images are loaded, a dialogue box will inform you of the
  next step.</li>

  <li>Choose a client for this iFloorPlan. Click on the Client area (or Toolbox
  &gt; Open client list). Select an agent and Save agent.</li>

  <li>The name, phone number and email address can be edited for this
  iFloorPlan only, or, can be left with the default values for this agent.</li>

  <li>Finally add the address for this property. The address is used to find
  this property on google maps.</li>

  <li>At this point you are either ready to Preview and Publish your
  iFloorPlan, or you can add other information such as text or add some colour.
  Click on <a href="user/userguide/#toolbox">Toolbox</a>
  to see the options.</li>

</ul>

<p><a href="user/userguide/#quickLinks">Return to index</a></p>

<h4 id="manageClients">Adding client logos, contact information and links.</h4>

<p>Before you make an iFloorPlan for one of your clients, you can and should,
 use Manage clients to create a brand space for your clients - displayed in the
 Client area of every iFloorPlan.</p>

<p>To create a brand space for a client. click
      <a href="/user/clients/" onclick="fieldset_show(4); return false;">Clients</a>
    in the Control Panel. If you have already started your iFloorPlan, you can
  access the Manage clients interface through Toolbox &gt; Manage clients.</p>

<ul>

  <li>Click Add new client</li>

  <li>Input a name (your reference) for the client. eg Ray White Northcote
  (this does not appear anywhere in the public realm, this is just your name,
  for your client.)</li>

  <li>Add as much information as you want including: Contact name, Email
  address, Phone number and a URL for logo click-through, eg. your client's web
  site address. Be sure to include http:// before the www's when inputting the
  URL for any external links in iFloorPlan.</li>

  <li>Save your new client's details. Any details you have entered and saved
  can be edited by clicking on your client's name in the Client list, editing
  the details and Saving the changes.</li>

  <li>Next, you will be asked to add a logo. This is optional, but if there is
  no logo or this client, the iFloorPlan logo will display. You can upload a
  image (image can be .jpg, .gif or .png) and use the interface to scale the
  image and drag it into position within the space available.</li>

  <li>Save the logo. Then click Close. You can upload another image (try again,
  and again and again), or click Done. That's it, that client is done.</li>

  <li>Click done.</li>

  <li>When making an iFloorPlan for your client, click in the Client area to
  open your list of clients. (Or choose: Toolbox &gt; Open client list) Click
  on your client's name, click Save client, and that client's information will
  display with that iFloorPlan.</li>

  <li>At this point, if you wish, you can edit the information in the Client
  area. eg. You may want to change the name of the contact agent. If you do so,
  it is just for the iFloorPlan you are creating. It will not change the
  information that you saved using Manage clients.</li>

</ul>

<p>One more thing to remember. If you edit information in Manage Clients, you
 are editing the default information. Previously published iFloorPlans will not
 automatically show that default information. To make previous iFloorPlans
 display the new default information, go to the Control Panel and select
 Published. For each iFloorPlan you wish to update with the new default client
 information, click Edit. You need to do 2 things.</p>

<ul>

  <li>Open the client list by clicking on the logo, (or Toolbox &gt; Open
  client list). Select your client from the list, the information in the client
  brand space will update. Save the client.</li>

  <li>Preview and Update the iFloorPlan. The new details and/or logo will now
  display with that iFloorPlan.</li>

</ul>

<p>NB. An iFloorPlan can be set to display with the client branding hidden.</p>

<p><a href="user/userguide/#quickLinks">Return to index</a></p>

<h4 id="branding">Branding. Add your logo and link on every ifloorplan you create</h4>

<p>Adding your branding to iFloorPlans is optional.</p>

<ul>

  <li>To make your branding appear on every iFloorPlan that you create, click
  on: Add your branding.</li>

  <li>If you have not yet set up your brand space you will be invited to
  upload a logo image. The logo image can be a .jpg, .png or .gif format.</li>

  <li>Choose your logo image, upload and use the interface to scale and
  position your logo in the space available. Save the image. (Tip:If you can
  resize the image in graphics software and upload it at the correct size, you
  may get a crisper result.)</li>

  <li>Set the transparency for the default view. Set anywhere between
  10% (very discreet) and 100%(always on!). Save transparency.</li>

  <li>Add your web site as a click through.from your logo. Enter the URL of
  your web site or web page that you want viewers to see. Make sure you include
  http:// before the www's.</li>

  <li>You can edit your brand space any time or delete it.</li>

</ul>

<p><a href="user/userguide/#quickLinks">Return to index</a></p>

<h4 id="preferences">Setting up your preferences</h4>

<p>Create a set of preferences that include the position of all the elements,
 level tab labels, and colour scheme for each iFloorPlan you create

</p><ul>

  <li>First create a new iFloorPlan by clicking New &gt; Start New.</li>

  <li>Upload a floor plan and arrange the Picture box and floor plan as would
  usually. Upload an image.</li>

  <li>At this point the positions of the floor plan and the Picture box are
  locked. Unlock all the elements except the floor plan by choosing Toolbox
  &gt; Unlock elements. Each element now has new icon to drag that element
  anywhere on the stage. The Picture box can be repositioned by drag and drop.
  The floor plan can be repositioned by choosing Toolbox &gt; Edit floorplan.</li>

  <li>To save the new layout choose Toolbox &gt; Save preferences.</li>

  <li>To lock the position choose Toolbox &gt; Lock all elements.</li>

  <li>You can add or update your preferences at any time during the process of
  creating or updating an iFloorPlan.</li>

</ul>


<p><a href="user/userguide/#quickLinks">Return to index</a></p>

<h4 id="templates">Templates</h4>

<p>You can create templates simply by saving any iFloorPlan as a template.</p>

<ul>

  <li>Click on Toolbox &gt; Save as template. Give your template a name and
  save it.</li>

  <li>Once you have saved a template, the next time you start a new iFloorPlan
  you will be able to select the template.</li>

  <li>You can Save as template in Edit mode or while creating a new
  iFloorPlan.</li>

  <li>The point of templates is to save you time when creating iFloorPlans
  with a customised layout or colour scheme. The position of all the elements
  that make up an iFloorPlan are saved. The colour scheme and the client is
  also saved.</li>

  <li>You can still rearrange the elements in an iFloorPlan after the template
  has set the initial positions and colour scheme. And you can change the
  client too.</li>

</ul>

<p><a href="user/userguide/#quickLinks">Return to index</a></p>

<h4 id="toolbox">Toolbox</h4>

<p>The blue Toolbox button is visible throughout most of the process. Toolbox
 contains all your options for the iFloorPlan you are making and also a couple
 of account tools. Toolbox items are listed below:</p>

<h5>Organise images</h5>

<p>Add images, delete images, rearrange the image order. Organise images allows
 control over the images you have uploaded, level by level. ( Say you have
 uploaded an image you meant for a different level. Delete it and send the
 image to the correct level.)</p>

<h5>Open client list</h5>

<p>Click to open your Client list. Select a client from your list for this
 iFloorPlan. Click Save client.</p>

<h5>Add external Media</h5>

<p>You can add external media to your iFloorPlan. If you have made a video
 for the property, or 360 tour or any other media that you would like to show
 in conjunction with this iFloorPlan, click Add external Media.</p>

<p>- Click on an icon appropriate to your extra media. Icons suggest, Video, a
 360 tour or a simple button that you can label.</p>

<p>- Add the URL of the media. It is essential that the URL is like all URL's
 in iFloorPlan and has http:// before the WWW's.</p>

<p>- Drag the icon onto the floorplan.</p>

<p>- Save the settings. Your external media will display in a Floatbox window
 over the iFloorPlan display.</p>

<h5>Add or edit colours</h5>

<p>Click to open the colour chooser. Select a colour for the background, the
 border and/or the text that appears on the iFloorPlan. Once you have chosen
 a colour scheme, click okay to save it. </p>

<p>NB.When you choose a client for this iFloorPlan, you will be asked if you
 want to save this new colour scheme with the selected client. This is
 optional, but if you proceed, you will be able to set the colour scheme for
 this client in future iFloorPlans just by selecting the client from the
 Client list.</p>

<h5>Add text information</h5>

<p>Paste or type text into the window and use the formatting tools. Text
 information appears in an iFloorPlan on click of 'more info'. </p>

<h5>Edit floorplan.</h5>

<p>Unlocks the floorplan image. You can then replace the floorplan image or
 drag the image to reposition your floorplan. To re-scale the floorplan,
 re-upload the original image, scale, position and save.</p>

<h5>Unlock all elements</h5>

<p>Unlocks all the elements of the iFloorPlan. This allows you to change the
 default layout of iFloorPlan. You can reposition the picture box, floorplan,
 the Client area, the address field, the control and option and sharing strip,
 the level tabs and your branding.</p>

<p>You can Lock all elements with the Toolbox. You can also Save layout as
 default.</p>

<h5>Enter Lat and Long</h5>

<p>Allows you enter Latitude and Longitude of the property. Only nessescary
 if Google maps cannot find the property address you enter. </p>

<h5>Multi Storey properties</h5>

<p>To add levels to your iFloorPlan, select either Add level: First, or, Add
 level: Basement. Or you can select Add level: Site plan.</p>

<p>- Click add level 1 (or Add Lower level, Add site plan)</p>

<p> - The process for uploading a floorplan and images is the same as the the
 initial level. The only difference being that the image pane size and
 position is fixed.</p>

<p>- When you have placed all your arrows for each image, click next. A
 dialogue box tells you that this level is finished. Click okay.</p>

<p>- You now have a set of tabs on the right hand side of your iFloorPlan.
 Use 'L0' to return to the initial level.</p>

<p>- You can return to any level and edit the arrows' positions, edit the
 floorplan or organise your images any time. </p>

<h5>Manage levels</h5>

<p>Delete an entire level if required or rename levels using this interface.</p>


<h5>Save as template</h5>

<p>Save your iFloorPlan as a template.
 <a href="user/userguide/#templates">More info on this
 option.</a></p>

<h5>Save as default layout</h5>

<p>Save your iFloorPlan as your default layout.
 <a href="user/userguide/#preferences">More info on this
 option.</a></p>

<h5>Manage clients</h5>

<p>You can reach the Manage clients interface from the toolbox. The Manage
 clients interface opens in an 'inline window'. Create a new client or edit an
 existing client.</p>

<p>- When you have finished with Manage clients, click Close. This will return
 you to your Client library.</p>

<p>- Click Refresh List to update the library.</p>

<p>- Select your client.</p>

<h5>Enter custom code</h5>

<p>If iFloorPlan has issued you with a custom code, this is where you enter it.
 This is used for customised versions of iFloorPlan. For
 <a href="http://orbithomes.com.au/display-house.php?house_title=ASHCROFT" target="blank">
 example</a>.</p>

<h4 id="multilevel">Multi-level iFloorPlans</h4>

<p>To create a multi-level iFloorPlan you will need separate floorplan images for each level.</p>

<li>Click Start new to start a multi-level iFloorPlan</li>

<li>Proceed as usual to the image upload stage, but upload images for the
 initial level only.</li>

<li>Place your arrows as usual. When you are ready to add another level, click
 Toolbox.</li>

<li>Click Add level 1 or if you want add a lower level, click Add lower
 level.</li>

<li>Upload a floorplan for level 1 (or the lower level). Proceed as usual to
 position and resize the floorplan.</li>

<li>Upload images for this level only and proceed to place arrows for each
 image.</li>

<li>Click Next after the last arrow has been placed. A dialogue box will
 appear telling you this level is complete. Click OK.</li>

<li>A set of tabs will appear on the right hand side of your iFloorPlan.</li>

<li>Click the 'L0' tab to return to the initial level. Click any other tab to
 return to that level.</li>

<li>Each level of an iFloorPlan can take 20 images.</li>

<li>If you choose Add site plan, you have one extra option. Set site plan to
 display first. The button below is set to Off by default. Click once to change
 to On. When a viewer sees your iFloorPlan, the site plan will display first,
 followed by the initial level (L0).</li>


<h4 id="edit">Editing published iFloorPlans</h4>

<p>You can edit your iFloorPlans anytime. Every feature of your iFloorPlan is
 editable except the image size. To edit an iFloorPlan:</p>

<li>Click
      <a href="/user/published/" onclick="fieldset_show(3); return false;">Published</a>
    in the Control panel
</li>

<li>Scroll through your list of iFloorPlans and click Edit, next to the
 iFloorPlan you wish to edit.</li>

<li>An 'inline window' will open with the edit interface. Your iFloorPlan will
 load. Wait for all the levels to load.</li>

<li>You can rearrange arrows, edit the floorplan/siteplan, add, delete or
 organise your images, add a level or site plan.</li>

<li>When you are ready, Preview your iFloorPlan. When you are ready, click
 Update and then Continue to save your changes.</li>


<h4 id="credits">Purchasing credits to publish your iFloorPlans</h4>

<p>Click
      <a href="/user/purchase/" onclick="fieldset_show(2); return false;">Purchase</a>
   in the Control panel.</p>

<p>The more you buy, the more you save. Credits can be purchased individually,
 or in lots of 10 and 100. iFloorPlan also offers a subscription account. An
 annual subscription price is based on the capped number of iFloorPlans.</p>

<p>Use your credit card or PayPal account to make your purchase.</p>

<p>You will be returned to iFloorPlan on completion of your purchase.</p>

<p>Credits are stored with your account and can be used at anytime.</p>


<h4 id="api">Running iFloorPlans from your domain </h4>

<p>iFloorPlan now offers an API to facilitate running your iFloorPlans using
 your own domain. ie www.yourdomain.com/view/2323</p>

<p>Your clients will then see that this is your interactive floorplan product,
 and your competitors won't see the iFloorPlan URL and so easily work out that
 you are using iFloorPlan. This gives you the edge in you area.</p>

<p>To purchase the API, <a href="/contact/">contact us</a>. When you have your
 API, you will receive instructions on what to do with it. It is very simple
 to use.</p>


<h4 id="floorplans">Floorplans</h4>

<p>Floorplan images must be either a .jpg, .gif or a .png. </p>

<p>We recommend uploading quite a large floorplan image. A larger image can be
 scaled down to fit the space and maintain image quality. </p>

<p>The maximum size a floorplan will display is 920 x 1000 pixels. Aim to make
 your floorplan's dimensions at least 1000 pixels in height or width.</p>

<p>If you can control the exact size of your floorplan image using Photoshop or
 some other imaging software, upload the floorplan image as usual but don't
 scale it, just position it and Save. Your image will not be resampled and
 you may achieve optimum image quality.</p>


<h4 id="images">Images</h4>

<p>Images must be .jpg.</p>

<p>Each level of an iFloorPlan can handle 20 photos. </p>

<p>It is important that your image's dimensions at least match the dimensions
 of the image pane shown on the image pane and under the file list in the
 uploader. A typical size is 800 x 600 pixels.</p>

<p>Before you upload your images, it is a good idea to name them sequentially.
 When you choose your images, they appear as a list in the uploader. If they are
 not in order, right click and choose 'by name'.</p>

<p>To reorder your images, add new images or delete images after the original
 upload is complete, choose Toolbox &gt; Organise images.</p>

<p><a href="user/userguide/#quickLinks">Return to index</a></p>

</div>
  <script>

    $(function () {
      var $tabs = $(".nav-tabs li"),
          hidden = [0, 3, 4, 5],
          i;
      for (i = 0; i < hidden.length; i += 1) {
        $tabs.eq(hidden[i]).addClass("hidden-xs hidden-sm hidden-md");
      }
    });

  </script>

<script src="js/libs/jquery.prettyPhoto.js" type="text/javascript"></script>

<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen">

<script type="text/javascript">

$(function() {

    $("a[rel^=prettyPhoto]").prettyPhoto();

});



</script>

</div>
</div>

{% include 'footer.html' %}