{% include 'header_user.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "frontend/styles/markers.css"%}">

<input type="hidden" value="" id="dataEdit">
<div id="app"></div>
<script src='{% static "frontend/markers.js"%}'></script>
</body></html>