{% include 'header_user.html' %}

<div class="wrapper">

    {% if new %}
        <div style="text-align:center">
                {% include "frontend/index.html"%}
        </div>
    {% else %}
        <div style="text-align:center"><h1>Sorry, but you have no credits!</h1></div>
    {% endif %}

 
</div>
</div>


