{% include 'header_user.html' %}
<div class="wrapper options">
<div class="toolsPanel">
  <div class="breadcrum">Account</div>

  <div class="logoutBtn"><a href="/logout">Logout</a></div>
</div>

  <div class="container content">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">Change Password</button>
    </form>


  </div>
</div>