{% include 'header_user.html' %}

<style>
    .container {
        width: 50%;
        margin: 6rem auto;
    }
    .payments {
        display: flex;
        justify-content: space-between;
    }
    .title {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .apple__ {
        display:none;
    }
</style>

<input type="hidden" id="count" value="{{count}}">
<input type="hidden" id="cost" value="{{cost}}">
<input type="hidden" id="product_id" value="{{product_id}}">
<input type="hidden" id="product_type" value="{{product_type}}">
<input type="hidden" id="hash" value="{{hash}}">


<div class="container">
    <div class="title"><h2>Choose payment method</h2></div>
    <div class="payments">
        <div class="paypal__">
            {{ form.render }}
        </div>
        <div class="google__">
            <div id="container"></div>
        </div>
        <div class="apple__">
            <style>
                #apple-pay-button {
                    display: none;
                    background-color: black;
                    background-image: -webkit-named-image(apple-pay-logo-white);
                    background-size: 100% 100%;
                    background-origin: content-box;
                    background-repeat: no-repeat;
                    width: 12rem;
                    height: 44px;
                    padding: 10px 0;
                    border-radius: 10px;
                }
            </style>
            <button id="apple-pay-button"></button>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
    let product_id = document.getElementById("product_id").value;
    let product_type = document.getElementById("product_type").value;
    let hash = document.getElementById("hash").value;
</script>
<script type="text/javascript">
    Stripe.setPublishableKey('pk_test_ct18XNZxgjFZWE3p5kwg3M9W0056nEPFu6');

    Stripe.applePay.checkAvailability(function(available) {
        if (available) {
            document.getElementById('apple-pay-button').style.display = 'block';
            document.getElementsByClassName('apple__')[0].style.display = 'block';
        }
    });
    if(window.ApplePaySession){
        document.getElementById('apple-pay-button').style.display = 'block';
        document.getElementsByClassName('apple__')[0].style.display = 'block';
    }

    document.getElementById('apple-pay-button').addEventListener('click', beginApplePay);

    function beginApplePay() {
        var paymentRequest = {
            countryCode: 'US',
            currencyCode: 'USD',
            total: {
                label: 'Total',
                amount: document.getElementById('cost').value
            }
        };
        var session = Stripe.applePay.buildSession(paymentRequest,
            function(result, completion) {

                //====================================================
                function readCookie(name) {
                    //function split cookie for get csrf token
                    var nameEQ = name + "=";
                    var ca = document.cookie.split(';');
                    for(var i=0;i < ca.length;i++) {
                        var c = ca[i];
                        while (c.charAt(0)==' ') c = c.substring(1,c.length);
                        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                    }
                    return null;
                }
                const CSRFTOKEN = readCookie('csrftoken'); //get csrftoken
//======================================================

                $.ajax({
                    url: 'https://ifloorplan360.com/user/apple-register-hash/',
                    type: 'post',
                    data: { token: result.token.id, old_hash: hash },
                    headers: {
                        "X-CSRFToken": CSRFTOKEN,
                        'content-type': 'application/json'
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    }
                });

                // $.post('https://ifloorplan360.com/user/apple-register-hash/', { token: result.token.id, old_hash: hash }).done(function(data) {
                //     console.log(data)
                //     completion(ApplePaySession.STATUS_SUCCESS);
                //     // You can now redirect the user to a receipt page, etc.
                //     // document.location.href = "https://ifloorplan360.com/user/payment-done/?product_id="+product_id+"&method=apple&hash="+result.token.id+"&product_type="+product_type;
                // }).fail(function() {
                //     completion(ApplePaySession.STATUS_FAILURE);
                // });

            }, function(error) {
                console.log(error.message);
            });

        // session.oncancel = function() {
        //     console.log("User hit the cancel button in the payment window");
        // };

        session.begin();
    }

</script>
<script>
/**
 * Define the version of the Google Pay API referenced when creating your
 * configuration
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#PaymentDataRequest|apiVersion in PaymentDataRequest}
 */
const baseRequest = {
  apiVersion: 2,
  apiVersionMinor: 0
};

/**
 * Card networks supported by your site and your gateway
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
 * @todo confirm card networks supported by your site and gateway
 */
const allowedCardNetworks = ["AMEX", "DISCOVER", "INTERAC", "JCB", "MASTERCARD", "VISA"];

/**
 * Card authentication methods supported by your site and your gateway
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
 * @todo confirm your processor supports Android device tokens for your
 * supported card networks
 */
const allowedCardAuthMethods = ["PAN_ONLY", "CRYPTOGRAM_3DS"];

/**
 * Identify your gateway and your site's gateway merchant identifier
 *
 * The Google Pay API response will return an encrypted payment method capable
 * of being charged by a supported gateway after payer authorization
 *
 * @todo check with your gateway on the parameters to pass
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#gateway|PaymentMethodTokenizationSpecification}
 */
const tokenizationSpecification = {
  type: 'PAYMENT_GATEWAY',
  parameters: {
    'gateway': 'example',
    'gatewayMerchantId': 'exampleGatewayMerchantId'
  }
};

/**
 * Describe your site's support for the CARD payment method and its required
 * fields
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
 */
const baseCardPaymentMethod = {
  type: 'CARD',
  parameters: {
    allowedAuthMethods: allowedCardAuthMethods,
    allowedCardNetworks: allowedCardNetworks
  }
};

/**
 * Describe your site's support for the CARD payment method including optional
 * fields
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
 */
const cardPaymentMethod = Object.assign({},
  baseCardPaymentMethod, {
    tokenizationSpecification: tokenizationSpecification
  }
);

/**
 * An initialized google.payments.api.PaymentsClient object or null if not yet set
 *
 * @see {@link getGooglePaymentsClient}
 */
let paymentsClient = null;

/**
 * Configure your site's support for payment methods supported by the Google Pay
 * API.
 *
 * Each member of allowedPaymentMethods should contain only the required fields,
 * allowing reuse of this base request when determining a viewer's ability
 * to pay and later requesting a supported payment method
 *
 * @returns {object} Google Pay API version, payment methods supported by the site
 */
function getGoogleIsReadyToPayRequest() {
  return Object.assign({},
    baseRequest, {
      allowedPaymentMethods: [baseCardPaymentMethod]
    }
  );
}

/**
 * Configure support for the Google Pay API
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#PaymentDataRequest|PaymentDataRequest}
 * @returns {object} PaymentDataRequest fields
 */
function getGooglePaymentDataRequest() {
  const paymentDataRequest = Object.assign({}, baseRequest);
  paymentDataRequest.allowedPaymentMethods = [cardPaymentMethod];
  paymentDataRequest.transactionInfo = getGoogleTransactionInfo();
  paymentDataRequest.merchantInfo = {
    // @todo a merchant ID is available for a production environment after approval by Google
    // See {@link https://developers.google.com/pay/api/web/guides/test-and-deploy/integration-checklist|Integration checklist}
    // merchantId: '01234567890123456789',
    merchantName: 'Example Merchant'
  };

  paymentDataRequest.callbackIntents = ["PAYMENT_AUTHORIZATION"];

  return paymentDataRequest;
}

/**
 * Return an active PaymentsClient or initialize
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/client#PaymentsClient|PaymentsClient constructor}
 * @returns {google.payments.api.PaymentsClient} Google Pay API client
 */
function getGooglePaymentsClient() {
  if (paymentsClient === null) {
    paymentsClient = new google.payments.api.PaymentsClient({
      environment: 'TEST',
      paymentDataCallbacks: {
        onPaymentAuthorized: onPaymentAuthorized
      }
    });
  }
  return paymentsClient;
}

/**
 * Handles authorize payments callback intents.
 *
 * @param {object} paymentData response from Google Pay API after a payer approves payment through user gesture.
 * @see {@link https://developers.google.com/pay/api/web/reference/response-objects#PaymentData object reference}
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/response-objects#PaymentAuthorizationResult}
 * @returns Promise<{object}> Promise of PaymentAuthorizationResult object to acknowledge the payment authorization status.
 */
function onPaymentAuthorized(paymentData) {
  return new Promise(function(resolve, reject) {
    // handle the response
    processPayment(paymentData)
      .then(function() {
        resolve({
          transactionState: 'SUCCESS'
        });
      })
      .catch(function() {
        resolve({
          transactionState: 'ERROR',
          error: {
            intent: 'PAYMENT_AUTHORIZATION',
            message: 'Insufficient funds, try again. Next attempt should work.',
            reason: 'PAYMENT_DATA_INVALID'
          }
        });
      });
  });
}

/**
 * Initialize Google PaymentsClient after Google-hosted JavaScript has loaded
 *
 * Display a Google Pay payment button after confirmation of the viewer's
 * ability to pay.
 */
function onGooglePayLoaded() {
  const paymentsClient = getGooglePaymentsClient();
  paymentsClient.isReadyToPay(getGoogleIsReadyToPayRequest())
    .then(function(response) {
      if (response.result) {
        addGooglePayButton();
      }
    })
    .catch(function(err) {
      // show error in developer console for debugging
      console.error(err);
    });
}

/**
 * Add a Google Pay purchase button alongside an existing checkout button
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#ButtonOptions|Button options}
 * @see {@link https://developers.google.com/pay/api/web/guides/brand-guidelines|Google Pay brand guidelines}
 */
function addGooglePayButton() {
  const paymentsClient = getGooglePaymentsClient();
  const button =
    paymentsClient.createButton({
      onClick: onGooglePaymentButtonClicked
    });
  document.getElementById('container').appendChild(button);
}

/**
 * Provide Google Pay API with a payment amount, currency, and amount status
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#TransactionInfo|TransactionInfo}
 * @returns {object} transaction info, suitable for use as transactionInfo property of PaymentDataRequest
 */
function getGoogleTransactionInfo() {
  return {
    displayItems: [{
        label: "Subtotal",
        type: "SUBTOTAL",
        price: document.getElementById('cost').value,
      },
      {
        label: "Tax",
        type: "TAX",
        price: "0.0",
      }
    ],
    countryCode: 'US',
    currencyCode: "USD",
    totalPriceStatus: "FINAL",
    totalPrice: document.getElementById('cost').value,
    totalPriceLabel: "Total"
  };
}


/**
 * Show Google Pay payment sheet when Google Pay payment button is clicked
 */
function onGooglePaymentButtonClicked() {
  const paymentDataRequest = getGooglePaymentDataRequest();
  paymentDataRequest.transactionInfo = getGoogleTransactionInfo();

  const paymentsClient = getGooglePaymentsClient();
  paymentsClient.loadPaymentData(paymentDataRequest);
}

let attempts = 0;
/**
 * Process payment data returned by the Google Pay API
 *
 * @param {object} paymentData response from Google Pay API after user approves payment
 * @see {@link https://developers.google.com/pay/api/web/reference/response-objects#PaymentData|PaymentData object reference}
 */


function processPayment(paymentData) {
  return new Promise(function(resolve, reject) {
    setTimeout(function() {
      // @todo pass payment token to your gateway to process payment
      let paymentToken = paymentData.paymentMethodData.tokenizationData.token;
      document.location.href = "https://ifloorplan360.com/user/payment-done/?product_id="+product_id+"&method=google&hash="+hash+"&product_type="+product_type+"&token_google="+paymentToken;
    }, 500);
  });
}
</script>
<script async
  src="https://pay.google.com/gp/p/js/pay.js"
  onload="onGooglePayLoaded()"></script>

</body>
</html>