{% include 'header_user.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "frontend/styles/published.css"%}">
<link rel="stylesheet" href="{% static "frontend/App.css"%}">
<link rel="stylesheet" href="{% static "frontend/App_other.css"%}">
<link rel="stylesheet" href="{% static "frontend/styles/new.css"%}">
<input type="hidden" value="" id="dataEdit">
<div id="app"></div>
<!--<script src='{% static "frontend/published.js"%}'></script>-->
<script src='{% static "frontend/published_new.js"%}'></script>
</body></html>


