{% include 'header_user.html' %}

<div class="wrapper">

    <div class="purchaseToolsPanel">
        <div class="title_purchase">Purchase</div>
        <div class="pricesInfo">All prices in AUS Dollars</div>
    </div>
    <div class="container content">

        <div class="title_block_purchase">
            <div><h3>Purchase tokens</h3><p>Tokens never expire</p></div>
            <div><h2>Purchase Tokens or Subscribe</h2><p class="info_about_token">One Token = one iFloorPlan - published and hosted for one year</p></div>
            <div class="payment">
                <input type="hidden" id="payment_method" value="PayPal">
                <a class="method" href="">Apple pay</a>
                <a class="method" href="">Google pay</a>
                <a class="method" href="">PayPal</a>
            </div>
        </div>
        <div class="tokens_purchase">
            <div class="container_price">
                <div class=" item_row_price">
                    {% for item in data_purchase %}
                    <div class="body_item">
                        <div class="price_item">
                            <div class="sticker_popular_wrap">
<!--                                {% if item.popular %}-->
<!--                                <div class="sticker-popular">Popular</div>-->
<!--                                {% endif %}-->
                            </div>
                            <ul class="list_content_item">
                                {% for i in item.price.all %}
                                <li>{{ i.title }}</li>
                                {% endfor %}
                            </ul>
                            <div class="BtnBuyNow">
                                <input type="hidden" class="id_product" value={{item.id}}>
<!--                                <input type="hidden" class="credits" value={{item.count_credits}}>-->
                                <a href="https://ifloorplan360.com/user/process-payment?product_id={{item.id}}&type=simple" class="buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="subscription_info">
            <div><h3>Subscriptions</h3><p>Unused Tokens expire after 1 year</p></div>
            <div><h3>API subscription</h3><p>Use your domain name not ours</p></div>
        </div>

        <div class="subscriptions_price">
            <div class="container_price">

                <div class="item_row_price">
                    {% for item in data_subscriptions %}
                    <div class="body_item">
                        <div class="price_item">
                            <div class="sticker_popular_wrap">
<!--                                {% if item.popular %}-->
<!--                                <div class="sticker-popular">Popular</div>-->
<!--                                {% endif %}-->
                            </div>
                            <ul class="list_content_item">
                                <li>{{ item.title }}</li>
                                <form>
                                    <input type="radio" id="year{{ item.id }}" name="subscription{{ item.id }}" class="pearV" value="year">
                                    <label for="year{{ item.id }}">${{ item.cost_by_year }}.00 pa</label><br>
                                    <input type="radio" id="mount{{ item.id }}" name="subscription{{ item.id }}" class="pearV" value="mount">
                                    <label for="mount{{ item.id }}">${{ item.cost_by_mount }}.00 pm</label>
                                </form>
                                <li>{{ item.credit_count }} Tokens</li>
                                <li>${{ item.each }} each</li>
                            </ul>
                            <div class="BtnBuyNow">
                                <a id="subscription{{ item.id }}" href="https://ifloorplan360.com/user/process-payment?product_id={{item.id}}&type=sub&pear=year">Subscription</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <hr class="margin-bottom-20">
            </div>
        </div>
        <div class="moreInfoDetails">
            <h3>More than 1000 Tokens pa. <a href="{% url 'Contact' %}">Contact us.</a> While label options. <a
                    href="{% url 'Contact' %}">Contact us</a></h3>
        </div>


    </div>
    <!--=== End Footer Version 1 ===-->
</div>


<script>
    jQuery(document).ready(function ($) {


        $(".pearV").click(function (){
            let button = document.getElementById((this).name);
            const url = new URL(button.href);
            const params = new URLSearchParams(url.search)
            params.set('pear', (this).value);
            url.search = params.toString();
            button.href = url.toString();
        })
    })
</script>



{% include 'footer.html' %}