{% include 'header_user.html' %}
<div class="wrapper options">
<div class="toolsPanel">
  <div class="breadcrum">Account</div>

  <div class="logoutBtn"><a href="/logout">Logout</a></div>
</div>

  <div class="container content">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}


      <div class="tab-content" style="margin-left:10px;margin-right:10px">
        <h3>Account status</h3>
        <div>You have {{plans}} iFloorPlans</div>
        <div>You have {{credits}} Credits</div>
        <div>You have 10 iFloorPlans expiring soon <div>Take action</div></div>
        <div>You have 11 iFloorPlans no longer viewable <div>Take action</div></div>
      </div>



  </div>
</div>