{% include 'header_user.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "frontend/styles/templates.css"%}">
<div id="app"></div>
<script src='{% static "frontend/templates.js"%}'></script>
</body></html>