<!--include header path-->
{% include 'header.html' %}


<div class="wrapper contact">


	<!--=== Content Part ===-->
	<div class="container content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}


				<form accept-charset="UTF-8" action="" method="post" class="reg-page">

					<div class="reg-header">
						<h2>Send us a message</h2>
					</div>



					{% csrf_token %}
					{{ form.as_p }}


					<!-- Google reCAPTCHA box -->
					<script src='https://www.google.com/recaptcha/api.js'></script>
					<div class="g-recaptcha" data-sitekey="6Ld8xPcUAAAAAITj422ncjUenrVA79DFm9cmzuLN"></div>

					<p><button type="submit" name="send" class="btn-u pull-right">Send Message</button></p>



				</form>
			</div>


		</div>
	</div>


	<script type="text/javascript">

		<!--

		$(function () {

			$('#captcha').find(".controls")

					.append('<p><a href="#" id="new">Get new code</a></p>');



			$('#new').click(function (event) {

				var d = new Date();



				event.preventDefault();



				$('#img').attr("src", 'captcha/?sid=' + d.getTime());

			});

		});

		//-->

	</script>


</div>

<!--include footer path-->
{% include 'footer.html' %}