<!--include header path-->
{% include 'header.html' %}

<div class="wrapper features">


		<!--=== Content ===-->

<!--<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>-->
<!--=== Content Part 1 ===-->
	<div class="container margin-top-20">
		<!-- Service Blocks -->
		{% for i in data %}
			<div class="row margin-bottom-30">
				{% for j in i %}
					<div class="col-md-4">
						<div class="service">
							<div class="desc">
							   <h4>{{ j.title }}</h4>
								{{ j.description }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
		<!-- End Service Blocks row 1 -->



	<!-- End Service Blocks row 4 -->

		<div class="row margin-bottom-30">
			<div class="col-md-12">

				<div>

					<div class="centered-text">
						<h5>Still reading this? We could go on and on, but if you've read this much you should probably just try it out. <a href="register/"> Register free</a><br>
						or get in touch and tell us what you are looking for. <a href="contact/">Contact us</a><br>

						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- End Service Blokcs -->

	<!-- Recent Works -->
<!--<div class="headline"><h2>Recent Works</h2></div>
	<div class="row margin-bottom-20">
		<div class="col-md-3 col-sm-6">
			<div class="thumbnails thumbnail-style thumbnail-kenburn">
				<div class="thumbnail-img">
					<div class="overflow-hidden">
						<img class="img-responsive" src="assets/img/main/img2.jpg" alt="" />
					</div>
					<a class="btn-more hover-effect" href="#">read more +</a>
				</div>
				<div class="caption">
					<h3><a class="hover-effect" href="#">Project One</a></h3>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnails thumbnail-style thumbnail-kenburn">
				<div class="thumbnail-img">
					<div class="overflow-hidden">
						<img class="img-responsive" src="assets/img/main/img3.jpg" alt="" />
					</div>
					<a class="btn-more hover-effect" href="#">read more +</a>
				</div>
				<div class="caption">
					<h3><a class="hover-effect" href="#">Project Two</a></h3>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnails thumbnail-style thumbnail-kenburn">
				<div class="thumbnail-img">
					<div class="overflow-hidden">
						<img class="img-responsive" src="assets/img/main/img9.jpg" alt="" />
					</div>
					<a class="btn-more hover-effect" href="#">read more +</a>
				</div>
				<div class="caption">
					<h3><a class="hover-effect" href="#">Project Three</a></h3>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnails thumbnail-style thumbnail-kenburn">
				<div class="thumbnail-img">
					<div class="overflow-hidden">
						<img class="img-responsive" src="assets/img/main/img10.jpg" alt="" />
					</div>
					<a class="btn-more hover-effect" href="#">read more +</a>
				</div>
				<div class="caption">
					<h3><a class="hover-effect" href="#">Project Four</a></h3>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
				</div>
			</div>
		</div>
	</div>
	 End Recent Works -->

</div>

<!--include footer path-->
{% include 'footer.html' %}