<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IFloorPlan {{pk}}</title>
</head>
<body>
    <input type="hidden" id="ifloorplan_id" value={{pk}}>
    {% load static %}
    <link rel="stylesheet" href="{% static "frontend/styles/ifloorplan.css"%}">
    <div style="text-align:center">
        <div id="app"></div>
    </div>
    <script src='{% static "frontend/ifloorplan.js"%}'></script>
</body>
</html>