<!--include header path-->
{% include 'header.html' %}

<div class="wrapper">
	<!--=== Coronavirus time statement and offer ===-->

	<div class="container">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="purchase margin-bottom-30">
				<div class="row">
					{{data.attantion_message|safe}}
					<span align="center"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 79px; height: 28px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.2a008290075125adde2d7b849b06a0bb.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=iFloorPlan&amp;show_count=false&amp;show_screen_name=false&amp;size=l&amp;time=1589467878726" data-screen-name="iFloorPlan"></iframe><script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>


	<div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
				{% for image in data.slider_image.all %}
					<li class="slide"><img src="{{image.image.url}}" alt="{{ forloop.counter }}" class="slide-img"></li>
				{% endfor %}
            </ul>

            <div id="prev-next-btns">
                <div id="prev-btn"></div>
                <div id="next-btn"></div>
            </div>

            <ul id="nav-btns">
				{% for item in data.slider_image.all %}
<!--					{{ forloop.counter }} # starting index 1-->
<!--				{{ forloop.counter0 }} # starting index 0-->
					<li class="slide-nav-btn"></li>
				{% endfor %}
            </ul>
        </div>
    </div>

<!--	End slider -->






	<!--=== Content ===-->

	<div class="container ifloorplan_frame">

		<div class="row margin-top-20">

			<div class="home-ifp-iframe">
				<iframe src="https://ifloorplan360.com/ifloorplan/{{data.plan}}" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
			</div>

		</div>
	</div>

	<!--=== End Content ===-->

	<!--=== Purchase Block ===-->
	<div class="purchase">
		<div class="container">
			<div class="row">
				<div class="col-md-8 animated fadeInLeft">
					<span>{{data.title_help_text1}}</span>
					<p>{{data.help_text1}}</p>
				</div>
				<div class="col-md-4 btn-buy animated fadeInRight">
					<a href="{{data.register_button_link}}" class="btn-u btn-u-lg"><i class="fa fa-sign-in"></i> {{data.register_button_label}}</a>
				</div>
			</div>
		</div>
	</div><!--/row-->
	<!-- End Purchase Block -->


	<!--=== Content Part 1 ===-->

	<!-- Service Blocks -->
	<div class="container margin-top-20">
		<div class="row margin-bottom-20">
			{% for item in features %}
				<div class="col-md-4">
					<div class="service">
						<div class="desc">
							<h4>{{item.title}}</h4>
							{{item.description}}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<!-- End Service Blocks row 1 -->

		<div class="row flex_row_center margin-bottom-30">
			<div class="centered-text">
				<h4><a href="features/">See full list of features</a></h4>

			</div>
		</div>
	</div>



	<!-- End Service Blocks row 2 -->

	<!--=== Options Block ===-->
	<div class="purchase margin-bottom-30">
		<div class="container">
			<div class="row">
				<div class="col-md-5 animated fadeInLeft">
					<span>{{data.title_help_text2}}</span>
					<p>{{data.help_text2}}</p>
				</div>
				<div class="col-md-7 btn-buy animated fadeInRight">

					<a href="{{data.button_link1}}" class="btn-u btn-u-lg">{{data.button_label1}}</a>
					<a href="{{data.button_link2}}" class="btn-u btn-u-lg">{{data.button_label2}}</a>
					<a href="{{data.button_link3}}" class="btn-u btn-u-lg">{{data.button_label3}}</a>
				</div>
			</div>
		</div>
	</div><!--/row-->
	<!-- End Options Block -->


	<style>
		.overflow-hidden {
			overflow: hidden;
			width: 100%;
			height: 220px;
			border: 1px black solid;
		}
	</style>

	<!-- Recent iFloorPlans -->
	<div class="container">

		<div class="headline"><h2>Recent iFloorPlans</h2></div>

		<div class="row margin-bottom-20">
			{% for plan in plans %}
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<iframe src="https://ifloorplan360.com/ifloorplan/{{plan.id}}" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
							</div>

							<a class="btn-more hover-effect" href="https://ifloorplan360.com/ifloorplan/{{plan.id}}" target="_blank">View</a>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>


	<!-- End Recent Works -->



</div>

<!--include footer path-->
{% include 'footer.html' %}
