<!--include header path-->
{% include 'header.html' %}

<div class="wrapper login">
		

		<!--=== Content Part ===-->
		<div class="container content">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 wrap">
					<form method="post">
						{% csrf_token %}
						{{ form }}
						<div class="row butt"><button type="submit" class="btn-u">Login</button></div>
					</form>
				</div>
			</div><!--/row-->
		</div><!--/container-->
		<!--=== End Content Part ===-->


<script type="text/javascript">

<!--

$(function() {

	document.getElementById('username').focus();

});

if (top.location != location) {

	top.location.href = document.location.href;

}

//-->

</script>

</div>

<!--include footer path-->
{% include 'footer.html' %}