<!--include header path-->
{% include 'header.html' %}
<!--<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>-->
<div class="wrapper pricing">

    <div class="container content">

        <div class="purchase">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 animated fadeInLeft">


                        <div class="col-md-6">
                            <h3>Free starter plan</h3>
                            <a href="/register/" class="btn-u btn-u-lg hidden-xs">Register free and get 2 free credits</a>
                            <a href="/register/" class="btn-u hidden-sm hidden-md hidden-lg">Register free and get 2 free credits</a>
                        </div>

                    </div>

                    <div class="col-md-4 animated fadeInRight">

                        <div class="margin-top-20">
                            <h3>One credit = One iFloorPlan</h3>
                            <h4>Prices in Australian dollars</h4>
                            <h4>Secure Payments by <i>PayPal</i></h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <!-- End Purchase Block -->
    <div class="container"><h3 class="pull-left">Purchase credits</h3></div>
    <div class="container pad">
        <div class="row pricing-table-v1 no-space-pricing">
            {% for item in data_purchase %}
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="pricing-v1 {% if item.popular %} pricing-v1-green {% else %} pricing-v1-dark-blue {% endif %}">
                        <div class="pricing-v1-head text-center">
                            {% if item.popular %}
                                <div class="sticker-left">Popular</div>
                            {% endif %}
                            <h4>{{ item.title }}</h4>
                            <h5><span></span>{{ item.count_credits }}<i>credit{% if item.count_credits > 1 %}s{% endif %}</i></h5>
                        </div>
                        <ul class="list-unstyled pricing-v1-content">
                            {% for i in item.price.all %}
                                <li>{{ i.title }}</li>
                            {% endfor %}
                        </ul>
                        <div class="pricing-v1-footer">
                            <span class="btn-u btn-block text-center">${{ item.cost }}.00</span>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <hr class="margin-bottom-10">


    <div class="container center">
        {% for item in data_api %}
            <div class="col-md-4 col-md-offset-2">
                <h3>{{ item.title }} ${{ item.cost }}.00</h3>
                {{ item.discription|safe }}
            </div>
        {% endfor %}
    </div>


    <hr class="margin-bottom-20">


    <div class="container">
        <h3 class="pull-left">Annual subscription plans</h3>
    </div>

    <div class="container pad">

<!--        <div class="row pricing-table-v1 no-space-pricing">-->
<!--            {% for item in data_annual %}-->
<!--                <div class="col-md-3 col-sm-3 col-xs-6">-->
<!--                    <div class="pricing-v1 {% if item.popular %} pricing-v1-green {% else %} pricing-v1-dark-blue {% endif %}">-->
<!--                        <div class="pricing-v1-head text-center">-->
<!--                            {% if item.popular %}-->
<!--                                <div class="sticker-left">Popular</div>-->
<!--                            {% endif %}-->
<!--                            <h4>{{ item.title }}</h4>-->
<!--                            <h5><span></span>{{ item.count_credits }}<i>credit{% if item.count_credits > 1 %}s{% endif %}</i></h5>-->
<!--                        </div>-->
<!--                        <ul class="list-unstyled pricing-v1-content">-->
<!--                            {% for i in item.price.all %}-->
<!--                                <li>{{ i.title }}</li>-->
<!--                            {% endfor %}-->
<!--                        </ul>-->
<!--                        <div class="pricing-v1-footer">-->
<!--                            <span class="btn-u btn-block text-center">${{ item.cost }}.00</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            {% endfor %}-->

<!--        </div>-->
        <hr class="margin-bottom-20">
    </div>

</div>

<!--include footer path-->
{% include 'footer.html' %}