<!--include header path-->
{% include 'header.html' %}

<div class="wrapper sign_up">
		





    <!--=== Content Part ===-->
    <div class="container content">

	<div class="alert alert-error" id="errors" style="display:none">

		<h3>Oops</h3>

		<p>Something is wrong with the information you provided.</p>

		<ul>


			<li>&nbsp;</li>


		</ul>

	</div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 wrap">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6Ld8xPcUAAAAAITj422ncjUenrVA79DFm9cmzuLN"></div>
                <div class="row butt"><button type="submit" class="btn-u">Sign up</button></div>
              </form>
        </div>
        </div>
      </div>
    </div>

<!--include footer path-->
{% include 'footer.html' %}