* {
	margin: 0;
	padding: 0;
}
*, :after, :before {
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: PFEncoreSansPro-Medium, sans-serif;
}
a {
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
li {
	list-style: none;
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	font-size: 10px;
	line-height: 1.6;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.container.ifloorplan_frame {
	height: 80vh;
}
.col-md-3 {
	width: 25%;
}
p {
	margin: 0 0 10px;
}
h2 {
	line-height: 33px;
}
h1, h2, h3, h4, h5, h6 {
	color: #555;
	margin-top: 5px;
	text-shadow: none;
	font-weight: normal;
	font-family: "Open Sans", Arial, sans-serif;
}
ol, ul {
	margin-bottom: 10px;
}
p, li, li a, label {
	color: #555;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
/*---FONTS-----------------*/
p, li, li a, label {
	color: #555;
}
.header .topbar ul.loginbar > li > a, .header .topbar ul.loginbar > li > a:hover {
	color: #7c8082;
	font-size: 1.1rem;
	text-transform: uppercase;
}
.latest-list li a {
	color: #eee;
	font-size: 1.3rem;
}
.header .navbar-nav > li > a {
	color: #687074;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
}
.footer-v1 .footer p {
	color: #eee;
	font-size: 1.3rem;
}
.footer a, .copyright a, .footer a:hover, .copyright a:hover {
	color: #99ccff;
}
.footer-v1 .footer h2 {
	color: #eee;
	font-size: 1.8rem;
	font-weight: 200;
}
.latest-list li a {
	color: #eee;
}
.footer-v1 address, .footer-v1 .link-list a, .footer-v1 .link-list i {
	color: #eee;
}
.link-list a {
	font-size: 1.1rem;
	padding: 6px 0px;
	display: inline-block;
	text-transform: uppercase;
}
.footer-v1 address {
	line-height: 23px;
}
address {
	font-style: normal;
	font-size: 1.3rem;
}
/*---HEADER-----------------*/
.navbar-toggle {
	display: none;
}
.boxed-layout {
	padding: 0;
	box-shadow: 0 0 5px #ccc;
	margin: 0 auto !important;
	background: url(../img/15.png) repeat;
}
.wrapper {
	background: #fff;
}
.header {
	background: #fff;
	border-bottom: solid 2px #eee;
}
.header > .container {
	display: flex;
	justify-content: flex-end;
}
.header .topbar {
	padding-top: 10px;
}
.header .topbar ul.loginbar {
	display: flex;
}
.header .topbar ul.loginbar li.topbar-devider {
	height: 10px;
	top: 3px;
	padding: 0;
	font-size: 8px;
	position: relative;
	margin: 0 9px;
	font-family: Tahoma;
	border-right: solid 1px #bbb;
}
.collapse.navbar-collapse.mega-menu.navbar-responsive-collapse {
	margin-top: -6px;
}
.collapse.navbar-collapse.mega-menu.navbar-responsive-collapse > .container {
	display: flex;
	justify-content: space-between;
}
.header .navbar-nav {
	display: flex;
	align-items: flex-end;
}
.header .navbar-nav > li > a {
	padding-left: 20px;
	padding-bottom: 12px;
	line-height: 20px;
}
.header .navbar-nav > li > a:hover, .header .navbar-nav > .active > a {
	border-bottom: 2px solid #4765a0;
	text-decoration: none;
}
a, a:focus, a:hover, a:active, button, button:hover {
	outline: 0 !important;
}
/*BURGER BUTTON*/
.header .navbar-toggle, .header .navbar-toggle:hover, .header .navbar-toggle:focus {
	background: #4765a0;
}
.header .navbar-toggle:hover {
	background: #324c80 !important;
}
.header .navbar-toggle {
	border-color: #324c80;
	border: 1px solid transparent;
	padding: 6px 10px;
	margin: 8px 0;
}
.sr-only {
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.header .navbar-toggle .fa {
	color: #fff;
	font-size: 19px;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
	content: "\f0c9";
}
/*---FOOTER-----------------*/
.footer-v1 .container {
	padding: 0;
}
.footer-v1 .footer {
	padding: 40px 0;
	background: #0462A6;
}
.footer .row {
	display: flex;
}
.footer-logo {
	margin: 17px 0 20px;
}
.footer-v1 .headline {
	border-bottom: 1px solid rgba(255,255,255,0.15);
	margin: 10px 0 25px 0;
}

.headline h2, .headline h3, .headline h4 {
	margin: 0 0 -2px 0;
	padding-bottom: 5px;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.latest-list li {
	padding: 8px 0;
	border-top: 1px solid #353535;
}
.latest-list li:first-child {
	padding-top: 0;
	border-top: none;
}
address {
	margin-bottom: 20px;
}
.footer-v1 .copyright {
	background: #222;
	border-top: none;
	padding: 10px 0 5px;
}
.footer-v1 .copyright p {
	font-size: 1.3rem;
	color: #eee;
	margin-top: 14px;
}
.footer-v1 .copyright a {
	margin: 0 2px;
	color: #eee;
}
.footer-v1 .footer .map-img {
	background: url(../img/map-img.png) 5px 45px no-repeat;
}
/*---MEDIA-----------------*/
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (max-width: 991px) {
	.navbar-toggle {
		display: inline-block;
	}
	.nav.navbar-nav {
		display: none;
	}
	.header {
		padding-bottom: 0;
	}
	.header .topbar {
		padding: 8px 0;
	}
	.footer .row {
		flex-direction: column;
	}
	.md-margin-bottom-40 {
		margin-bottom: 20px;
	}
	.col-md-3 {
		width: 100%;
	}
}






/*-----------------------------------------SIGN UP PAGE-----------------------------------------*/
.breadcrumbs {
	padding: 1px 0 1px;
	overflow: hidden;
	border-bottom: solid 1px #eee;
	background: url(../img/breadcrumbs.png) repeat;
}
.breadcrumbs > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.breadcrumbs h1 {
	color: #666;
	font-size: 2.2rem;
	margin: 8px 0 10px 0;
}
.breadcrumb {
	display: flex;
	padding: 8px 0 8px 15px;
	list-style: none;
	margin: 0;
}
.breadcrumb a {
	color: #777;
}
.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
}
.breadcrumb > li {
	font-size: 1.3rem;
}
.breadcrumb li.active, .breadcrumb li a:hover {
	color: #4765a0;
	text-decoration: none;
}

.sign_up .content {
	padding-top: 20px;
	padding-bottom: 40px;
}
.sign_up .alert {
	font-size: 1.3rem;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}
.sign_up .wrap {
	margin: 0 auto;
}
.sign_up .wrap > form {
	color: #555;
	padding: 30px;
	background: #fefefe;
	border: solid 1px #eee;
	box-shadow: 0 0 3px #eee;
}
.sign_up .wrap > form label {
	color: #777;
	font-size: 1.3rem;
	display: block;
	margin-bottom: 5px;
	font-weight: 700;
}
.sign_up .wrap > form select {
	color: #777;
	outline: none;
}
.sign_up .wrap > form span,
.sign_up .wrap > form ul > li {
	color: #777;
	font-size: 1.3rem;
	display: block;
	font-weight: 400;
}
.sign_up .wrap > form input {
	margin-bottom: 10px;
}
.sign_up #id_username,
.sign_up #id_email,
.sign_up #id_password1,
.sign_up #id_password2,
.sign_up #id_coupon {
	box-shadow: none;
	border-radius: 0;
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border: 1px solid #ccc;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	outline:none;
}
.sign_up #id_username:focus,
.sign_up #id_email:focus,
.sign_up #id_password1:focus,
.sign_up #id_password2:focus,
.sign_up #id_coupon:focus {
	border-color: #bbb;
	box-shadow: 0 0 2px #c9c9c9;
}
.sign_up .wrap > form > p:nth-child(8) {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
}
.sign_up .wrap > form > p:nth-child(9),
.sign_up .wrap > form > p:nth-child(11) {
	margin-top: 30px;
	display: flex;
	align-items: center;
}
.sign_up .wrap > form > p:nth-child(10),
.sign_up .wrap > form > p:nth-child(11) {
	margin-top: 20px;
}
.sign_up .wrap > form > p:nth-child(9) > label,
.sign_up .wrap > form > p:nth-child(11) > label  {
	line-height: 5px;
	margin-right: 5px !important;
}
.sign_up .wrap > form > p:nth-child(9) > label,
.sign_up #id_terms_and_cond,
.sign_up .wrap > form > p:nth-child(11) > label,
.sign_up #id_email_news {
	margin: 0;
}
.sign_up .g-recaptcha {
	margin-top: 40px;
}
.sign_up .butt {
	display: flex;
	justify-content: flex-end;
}
.sign_up .btn-u {
	border: 0;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
	padding: 10px 13px;
	position: relative;
	background: #0462a6;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
}
/*---MEDIA-----------------*/
@media (min-width: 768px) {
	.sign_up .wrap {
		width: 66.66666667%;
	}
}
@media (min-width: 992px) {
	.sign_up .wrap {
		width: 50%;
	}
}
@media (max-width: 991px) {
	.breadcrumbs {
		display: none;
	}
}
@media (max-width: 767px) {
	.sign_up .content,
	.sign_up #main .container {
		width: auto;
	}
	.sign_up .content,
	.sign_up .wrap {
		padding-left: 0;
		padding-right: 0;
	}
	.sign_up #main .container {
		padding: 0;
	}
}









/*-----------------------------------------LOGIN PAGE-----------------------------------------*/
.login .content {
	padding-top: 20px;
	padding-bottom: 40px;
}
.login .wrap {
	margin: 0 auto;
}
.login .wrap form {
	color: #555;
	padding: 30px;
	background: #fefefe;
	border: solid 1px #eee;
	box-shadow: 0 0 3px #eee;
}
.login .wrap form .alert {
	font-size: 1.3rem;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}
.login .wrap > form input {
	margin-bottom: 10px;
}
.login .wrap > form label {
	color: #777;
	font-size: 1.3rem;
	display: block;
	margin-bottom: 5px;
	font-weight: 700;
}
.login #id_username,
.login #id_password {
	box-shadow: none;
	border-radius: 0;
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border: 1px solid #ccc;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	outline:none;
}
.login #id_username:focus,
.login #id_password:focus {
	border-color: #bbb;
	box-shadow: 0 0 2px #c9c9c9;
}
.login .butt {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
.login .btn-u {
	border: 0;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
	padding: 10px 13px;
	position: relative;
	background: #0462a6;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
}
/*---MEDIA-----------------*/
@media (min-width: 768px) {
	.login .wrap {
		width: 50%;
	}
}
@media (min-width: 992px) {
	.login .wrap {
		width: 33.33333333%;
	}
}
@media (max-width: 991px) {
	.breadcrumbs {
		display: none;
	}
}
@media (max-width: 767px) {
	.login .content,
	.login #main .container {
		width: auto;
	}
	.login .content,
	.login .wrap {
		padding-left: 0;
		padding-right: 0;
	}
	.login #main .container {
		padding: 0;
	}
}





/*-----------------------------------------FEATURES PAGE-----------------------------------------*/
.features .margin-top-20 {
	margin-top: 20px;
	padding: 0;
}
.features .margin-bottom-30 {
	margin-bottom: 30px;
	display: flex;
}
.features .service {
	overflow: hidden;
	margin-bottom: 20px;
	padding: 15px 15px 10px;
	box-shadow: 0 0 5px #ddd;
}
.features .service:hover {
	background: #fcfcfc;
	box-shadow: 0 0 5px #ddd;
	transition: box-shadow 0.2s ease-in-out;
}
.features .service .desc {
	font-size: 1.3rem;
	padding: 0 15px;
	overflow: hidden;
}
.features .service .desc h4 {
	font-size: 2.2rem;
	line-height: 25px;
	margin-bottom: 10px;
}
.features .centered-text {
	text-align: center;
}
.features .centered-text h5 {
	font-size: 1.4rem;
	margin-bottom: 10px;
}
a {
	color: #4765a0;
}
/*---MEDIA-----------------*/
@media (min-width: 992px) {
	.features .col-md-4 {
		width: 33.33333333%;
	}
	.features .col-md-12 {
		 width: 100%;
	}
}
@media (min-width: 1200px) {
	.features .service {
		min-height: 280px;
	}
}
@media (max-width: 991px) {
	.features .margin-bottom-30 {
		flex-direction: column;
	}
}






/*-----------------------------------------PRICING PAGE-----------------------------------------*/
.pricing .content {
	padding-top: 20px;
	padding-bottom: 40px;
}
.pricing .purchase {
	padding: 25px 0 30px;
	border-bottom: solid 1px #eee;
	background: url(../img/breadcrumbs.png) repeat;
}
.pricing .purchase > .container > .row {
	display: flex;
}
.pricing .fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	padding-left: 46px;
	padding-right: 46px;
}
.pricing .fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}
.pricing .animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.pricing h3 {
	font-size: 2rem;
	line-height: 27px;
	margin-bottom: 10px;
}
.pricing .btn-u-lg, a.btn-u-lg {
	font-size: 1.8rem;
	padding: 10px 25px;
}
.pricing .btn-u {
	background: #0462a6;
	border: 0;
	color: #fff;
	font-weight: 400;
	position: relative;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
}
.pricing .hidden-lg {
	font-size: 1.4rem;
}
.pricing .btn-u:hover, .btn-u:focus,
.pricing .btn-u:active, .btn-u.active,
.pricing .open .dropdown-toggle.btn-u {
	background: #1272b7;
	color: #fff;
	text-decoration: none;
}
.pricing .margin-top-20 {
	margin-top: 20px;
}
.pricing .margin-top-20 h4 {
	font-size: 1.8rem;
	line-height: 27px;
	margin-bottom: 10px;
}
.pricing .no-space-pricing {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.pricing .pricing-table-v1 .pricing-v1 {
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
}
.pricing .pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-head {
	background: rgba(4, 98, 166, 1);
}
h4,h5 {
	line-height: 25px;
}
.text-center {
	text-align: center;
}
.pricing .pricing-table-v1 .pricing-v1-head h4,
.pricing .pricing-table-v1 .pricing-v1-head h5 {
	font-size: 1.4rem;
	margin: 0;
	color: #fff;
	padding: 9px 0;
	font-family: Arial;
	letter-spacing: 1px;
}
.pricing .pricing-table-v1 .pricing-v1-head h5 {
	font-size: 40px;
	margin-left: 0px;
}
.pricing .pricing-table-v1 .pricing-v1-head h5 span {
	top: -23px;
	font-size: 13px;
	position: relative;
	padding-right: 2px;
}
.pricing .pricing-table-v1 .pricing-v1-head h5 i {
	top: -5px;
	font-size: 14px;
	padding-left: 2px;
	position: relative;
	font-style: normal;
}
.pricing .pricing-table-v1 .pricing-v1-content {
	margin-bottom: 0;
	background: #f9f9f9;
}
.pricing .pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-content li {
	border-bottom: 1px solid rgba(71,101,160, 0.3);
	margin: 0;
	color: #888;
	padding: 13px 20px;
	font-size: 1.3rem;
}

.pricing .list-unstyled {
	padding-left: 0;
	list-style: none;
}
.pricing .btn-u {
	border: 0;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	padding: 6px 13px;
	position: relative;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
}
.pricing .btn-u.btn-block {
	width: 100%;
}
.pricing .pricing-table-v1 .pricing-v1-head {
	padding: 1px 0;
	background: #74C52C;
}
.pricing .pricing-table-v1 .sticker-right,
.pricing .pricing-table-v1 .sticker-left {
	transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	color: #fff;
	width: 150px;
	font-weight: bold;
	font-family: Arial;
	position: absolute;
	text-align: center;
	letter-spacing: 2px;
	background-color: #585f69;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.pricing .pricing-table-v1 .pricing-v1-content li {
	margin: 0;
	color: #888;
	padding: 13px 20px;
	border-bottom: 1px solid rgba(116, 197, 44, 0.3);
	font-size: 1.3rem;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.pricing .container.center {
	display: flex;
	justify-content: center;
}
.pricing .col-md-4 {
	font-size: 1.3rem;
}
.pricing .col-md-3:first-child {
	padding-left: 0;
}
.pricing .col-md-3:last-child {
	padding-right: 0;
}
/*---MEDIA-----------------*/
@media (min-width: 468px) {
	.pricing .hidden-lg {
		display: none !important;
	}
}
@media (min-width: 992px) {
	.pricing .col-md-8 {
		width: 66.66666667%;
	}
	.pricing .col-md-6 {
		width: 50%;
	}
	.pricing .col-md-4 {
		width: 33.33333333%;
	}
	.pricing .col-md-3 {
		width: 25%;
	}
}
@media (min-width: 1200px) {
	.pricing .pricing-table-v1 .pricing-v1 {
		-webkit-transition: all 300ms;
		-moz-transition: all 300ms;
	}
	.pricing .pricing-table-v1 .sticker-left {
		top: 10px;
		left: -51px;
		padding: 5px;
		font-size: 1rem;
	}
}
@media (max-width: 1200px) {
	.pricing .pricing-table-v1 .sticker-left {
		top: 10px;
		left: -58px;
	}
}
@media (max-width: 991px) {
	.pricing .content .purchase .container .row {
		display: flex;
		flex-direction: column;
	}
	.pricing .fadeInLeft > div,
	.pricing .fadeInRight > div {
		text-align: center;
	}
	.pricing .no-space-pricing [class^="col-"],
	.pricing .no-space-pricing [class*=" col-"] {
		padding: 5px;
	}
	.pricing .pricing .row {
		margin: 0;
	}
	.pricing .container.pad {
		padding: 0;
	}
	.pricing .pricing-table-v1 .pricing-v1-content li,
	.pricing .pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-content li {
		padding: 9px 10px;
	}
	.pricing .container.center {
		flex-direction: column;
	}
}
@media (max-width: 767px) {
	.pricing .no-space-pricing {
		flex-wrap: wrap;
	}
	.pricing .no-space-pricing [class^="col-"],
	.pricing .no-space-pricing [class*=" col-"] {
		padding: 10px;
		width: 50%;
	}
	.pricing .hidden-xs {
		display: none;
	}
	.pricing .hidden-lg {
		display: block !important;
		width: fit-content;
		margin: 0 auto;
	}
	.pricing .pricing-table-v1 .sticker-right,
	.pricing .pricing-table-v1 .sticker-left {
		top: 39px;
		padding: 0;
		float: left;
		left: -42px;
		width: 100px;
		border: none;
		transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
	}
}
@media (max-width: 375px) {
	.pricing .col-md-6,
	.pricing .col-md-8,
	.pricing .col-md-4 {
		padding: 0;
	}
	.pricing .no-space-pricing [class^="col-"],
	.pricing .no-space-pricing [class*=" col-"] {
		width: 100%;
	}
}


@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}



/*-----------------------------------------CONTACT PAGE-----------------------------------------*/
.contact .col-md-offset-3 {
	margin: 0 auto;
}
.contact .reg-page {
	color: #555;
	padding: 30px;
	background: #fefefe;
	border: solid 1px #eee;
	box-shadow: 0 0 3px #eee;
}
.contact .content {
	padding-top: 20px;
	padding-bottom: 40px;
}
.contact .reg-header {
	color: #555;
	text-align: center;
	margin-bottom: 35px;
	border-bottom: solid 1px #eee;
}
.contact .reg-header h2 {
	font-size: 2.4rem;
	margin-bottom: 15px;
}
.contact .reg-page label {
	color: #777;
	font-size: 1.3rem;
	display: block;
}
.contact .color-red {
	color: #e74c3c;
}
.contact label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}
.contact input,
.contact textarea {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.contact input,
.contact textarea {
	box-shadow: none;
	border-radius: 0;
}
.contact input:focus,
.contact textarea:focus {
	border-color: #bbb;
	box-shadow: 0 0 2px #c9c9c9;
	outline: none;
}
.contact textarea {
	height: auto;
}
.contact .g-recaptcha {
	margin-top: 20px;
}
.contact .btn-u {
	border: 0;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
	padding: 10px 13px;
	position: relative;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
	background: #0462a6;
}
.contact .reg-page > :last-child {
	margin-bottom: 30px;
}
@media (min-width: 768px) {
	.contact .col-sm-6 {
		width: 50%;
	}
}
@media (min-width: 992px) {
	.contact .col-md-6 {
		width: 50%;
	}
	.contact .reg-page > p:nth-child(3),
	.contact .reg-page > p:nth-child(4),
	.contact .reg-page > p:nth-child(5),
	.contact .reg-page > p:nth-child(6) {
		width: 58.33333333%;
	}
	.contact .reg-page > p:nth-child(7) {
		width: 91.66666667%;
	}
}
@media (max-width: 767px) {
	.contact .content,
	.contact #main .container {
		width: auto;
		padding: 0;
	}
	.contact .col-md-offset-3,
	.contact #main .containe {
		padding: 0;
	}
	.contact .content {
		padding-top: 20px;
		padding-bottom: 40px;
	}
}



/*-----------------------------------------HOME PAGE-----------------------------------------*/
.container:nth-child(2) .purchase > .row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.purchase span {
	color: #666;
	display: block;
	font-size: 24px;
	line-height: 35px;
	font-weight: normal;
	margin-bottom: 12px;
	font-family: "Open Sans", Arial, sans-serif;
}
.purchase {
	padding: 25px 0 30px;
	border-bottom: solid 1px #eee;
	background: url(../img/breadcrumbs.png) repeat;
	margin-bottom: 30px;
}
h4 {
	line-height: 25px;
	font-size: 1.8rem;
	margin: 5px 0 10px 0;
}
#ifloorplan-property-address {
	position: absolute;
	font-size: 1.4rem;
	font-weight: bold;
	z-index: 1;
	color: #848484;
	left: 6.8px;
	top: 466px;
}
.purchase .container .row {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.purchase p {
	font-size: 1.3rem;
	margin-bottom: 0;
}
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	padding-left: 45px;
	padding-right: 45px;
}
.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	text-align: center;
	padding: 0 45px;
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.btn-u {
	background: #0462a6;
}
.btn-u {
	border: 0;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	padding: 6px 13px;
	position: relative;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
}
.btn-u:hover {
	background: #1272b7;
	color: #fff;
	text-decoration: none;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.flex_row {
	display: flex;
	justify-content: space-between;
}
.service {
	overflow: hidden;
	margin-bottom: 20px;
	padding: 15px 15px 10px;
	box-shadow: 0 0 5px #ddd;
}
.service .desc {
	padding: 0 15px;
	overflow: hidden;
}
.service .desc h4 {
	 font-size: 2.2rem;
	 line-height: 25px;
 }
.service .desc p {
	font-size: 1.3rem;
}
.flex_row_center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.headline {
	display: block;
	margin: 10px 0 25px 0;
	border-bottom: 1px dotted #e4e9f0;
}
.headline h2 {
	font-size: 2.2rem;
	border-bottom: 2px solid #4765a0;
	margin: 0 0 -2px 0;
	padding-bottom: 5px;
	display: inline-block;
}
.headline + .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.thumbnail-style {
	padding: 7px;
	margin-bottom: 20px;
}
.thumbnail-style .thumbnail-img {
	position: relative;
	margin-bottom: 11px;
}
.overflow-hidden {
	overflow: hidden;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto;
}
.thumbnail-style a.btn-more {
	right: -10px;
	bottom: 10px;
	color: #fff;
	padding: 1px 6px;
	position: absolute;
	background: #4765a0;
	display: inline-block;
	font-size: 1.3rem;
}
.hover-effect {
	transition: all 0.4s ease-in-out;
}
.thumbnail-style a.btn-more:hover {
	box-shadow: 0 0 0 2px #324c80;
	text-decoration: none;
	outline: none;
}
.purchase > .row > * {
	text-align: center;
}
@media (min-width: 768px) {
	.col-sm-6 {
		width: 50%;
	}
}
@media (min-width: 992px) {
	.col-md-10 {
		width: 83.33333333%;
		margin: 0 auto;
	}
	.col-md-8 {
		width: 66.66666667%;
	}
	.col-md-4 {
		width: 33.33333333%;
	}
	.col-md-5 {
		width: 41.66666667%;
	}
	.col-md-3 {
		width: 25%;
	}
}
@media (min-width: 1200px) {
	.service {
		min-height: 280px;
	}
}
@media (max-width: 991px) {
	.purchase .container .row {
		flex-direction: column;
		justify-content: center;
	}
	.fadeInLeft > * {
		text-align: center;
	}
	.fadeInLeft {
		margin-bottom: 20px;
	}
	.flex_row {
		flex-direction: column;
	}
	.col-md-4 {
		width: 100%;
		padding: 0;
	}
	.purchase {
		margin-bottom: 20px;
	}
	.purchase .btn-buy a {
		margin-top: 25px;
		font-size: 16px;
	}
}
@media (max-width: 767px) {
	.col-md-10 {
		padding: 0;
	}
	.fadeInLeft {
		padding: 0 20px;
	}
	.fadeInRight {
		padding: 0;
	}
}



.messages {
	font-size: 12px;
}
.success {
	background-color: #8fcf82;
	color: black;
}
.error {
	background-color: #ff6872;
	color: black;
}



