
.item p {
    align-items: start;
}

.progress {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    height: 20px;
    background-color: #a9a9a9;
}

.status {
    background-color: #6bcecf;
    height: 18px;
    margin-bottom: 1px;
}

.MenuWrap {
    position: absolute;
    background-color: #323131;
    color: white;
    /*bottom: -597px;*/
    /*bottom: -609px;*/
    top: 32px;
    left: 0px;
    /*z-index: 999;*/
    z-index: 1000000;
}

.layout .scale-layout.workPlace .dnd-wrapper {
    overflow: hidden;
}

.toolsBtn {
    position: relative;
}

.itemMenu {
    text-align: left;

    padding: 10px;
    width: 180px;
    border: 1px solid #0000002a;
}

.SubMenuWrap {
    display: flex;
    justify-content: space-between;
}


button {
    cursor: pointer;
}

/*First step*/
.subHeader {
    padding: 10px 15px;
    border-bottom: solid 2px #eee;
}

.title {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
}

.mainApp {
    padding: 120px 0;
}

.mainApp button {
    padding: 15px;
    width: 300px;
    color: #fff;
    background: #1276EB;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 2rem;
}

.mainApp p {
    margin: 20px 0;
    font-size: 4rem;
}

/*topPanelWrap*/
.topPanelWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px #eee;
    padding: 10px 15px;
    font-size: 1.3rem;
}

.topPanelWrap a {
    text-decoration: none;
}

.topPanelWrap p {
    font-weight: 600;
}

.topPanelWrap .firstOpt,
.topPanelWrap .thirthOpt {
    display: flex;
    align-items: center;
}

.topPanelWrap .firstOpt .fa-caret-up {
    margin-right: 10px;
    cursor: pointer;
}

.topPanelWrap .firstOpt .toolsBtn {
    display: flex;
    align-items: center;
    margin-right: 20px;
    /*padding: 2px 20px;*/
    border-radius: 5px;
    background-color: #1276EB;
    color: #fff;

    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.topPanelWrap .firstOpt .toolsBtn .toolsBtnWrapp {
    display: flex;
    padding: 2px 20px;
}

.topPanelWrap .firstOpt .toolsBtn p {
    margin-right: 15px;
    color: #fff;

}

.prevBtn {
    display: flex;
    align-items: center;
}

.prevBtn i {
    margin-right: 10px;
}

.prevBtn p {
    padding-right: 10px;
    border-right: 1px solid #4a4a4a;
}

.nextBtn {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.nextBtn p {
    margin-right: 10px;
    padding-left: 10px;
}

.nextBtn i {
    padding-right: 10px;
    /*border-right: 1px solid #4a4a4a;*/
}

.topPanelWrap i:before {
    font-size: 2rem;
}

.topPanelWrap .thirthOpt .saveNowBtn {
    margin-right: 15px;
}

.topPanelWrap .thirthOpt .previewBtn {
    margin-right: 5px;
}

.topPanelWrap .thirthOpt .previewBtn,
.topPanelWrap .thirthOpt .publishBtn {
    border-radius: 5px;
    padding: 2px 25px;
    background-color: FF9300;
}

.topPanelWrap .thirthOpt .previewBtn p,
.topPanelWrap .thirthOpt .publishBtn p {
    color: #fff;
}

.itemMenu {
    cursor: pointer;
}

.SubMenuWrap {
    max-height: 42px;
    position: relative;
}

.itemMenu:hover {
    background-color: #1276EB;
}

.SubItems {
    display: none;
}

.SubMenuWrap:hover > .SubItems {
    display: block;
    position: absolute;
    right: -180px;
    top: -1px;
    background-color: #323131;
}

.MenuWrap .itemMenu.SubMenuWrap:first-child:before {
    content: '';
    border: 5px solid transparent;
    border-bottom: 10px solid #323131;
    position: absolute;
    left: 50px;
    top: -15px;
    width: 0;
}


/*Second step*/
.plans .uploadPlans,
.images .uploadImages,
.upload .uploadImages {
    width: 50%;
    margin: 50px auto;
    padding: 50px 100px;
    border: 1px dashed #4A4A4A;
    padding-bottom: 150px;
}

.plans .uploadPlans .dropzone h3:first-child,
.images .uploadImages .dropzone h3:first-child,
.upload .uploadImages .dropzone h3:first-child,
.upload .uploadImages .cancel h3:first-child {
    color: #000;
    font-size: 3rem;
    margin: 0;
    line-height: normal;
}

.plans .uploadPlans .dropzone h3:not(:first-of-type),
.images .uploadImages .dropzone h3:not(:first-of-type),
.upload .uploadImages .dropzone h3:not(:first-of-type),
.upload .uploadImages .cancel h3:not(:first-of-type) {
    color: #000;
    font-size: 3rem;
    margin: 40px 0;
}

.plans .uploadPlans .dropzone button,
.images .uploadImages .dropzone button,
.upload .uploadImages .dropzone button,
.upload .uploadImages .cancel button {
    padding: 5px 15px;
    color: #fff;
    background-color: #7CC6FB;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 60px;
}


.plan.library .planLibrary {
    margin: 0 auto;
    max-width: 1600px;
}

.plan.library .titleBlock {
    padding: 0;
    /*margin-bottom: 50px;*/
}

.plan.library .titleBlock .planLibraryPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #dbdbdb;
    border-left: solid 1px #edededd4;
    /*padding: 10px 15px;*/
    font-size: 1.3rem;
}

.plan.library .titleBlock h3 {
    margin: 3px 15px;
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

.plan.library .titleBlock p {
    /*font-size: 1.2rem;*/
    color: #000;
    font-weight: 600;
    margin: 1%;
    font-size: 15px;
}

.plan.library .btnGroup {
    /*margin: 100px auto 0 auto;*/
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
}

.plan.library .btnGroup button {
    max-width: 250px;
    /*width: 100%;*/
    padding: 5px 20px;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: #FF9300;
    border-radius: 5px;
}

.plan.library .btnGroup button:first-child {
    margin-right: 20px;
    background: inherit;
    color: #1276EB;
}

.plan.library .plansLib {
    display: flex;
    padding: 10px 100px;
    /*margin: 0 100px;*/
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 600px;
    overflow-y: scroll;
}

.plan.library .planItem {
    width: calc(((1600px - 400px) / 4) - (150px / 4));
    height: calc(((1600px - 400px) / 4) - (18px / 4));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}

.checked {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: solid 2px #eee;
    border-radius: 100%;
    z-index: 999999;
    background: #fff;
}

.checked i {
    font-size: 1.5rem;
    color: #52F663;
}

.plan.library .planItem .image {
    border: solid 2px #eee;
    height: 90%;
}

.plan.library .planItem .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.plan.library .btnAdd .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan.library .btnAdd .image button {
    padding: 5px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    background-color: #1276EB;
}

.plan.library .planItem .options {
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.plan.library .planItem .options i {
    font-size: 1.3rem;
    cursor: pointer;
}

.plan.library .planItem .options .fa-plus {
    margin-right: 10px;
}


.plan.library .plansLib::-webkit-scrollbar {
    width: 15px;
}

.plan.library .plansLib::-webkit-scrollbar-track {
    background: #c4c4c4;
    border: 1px solid #4a4a4a;
}

.plan.library .plansLib::-webkit-scrollbar-thumb {
    background: #908f8f;
    border-radius: 10px;
}

.addLevelWrap, .saveAsTemplateWrap {
    position: absolute;
    border: black 1px solid;
    border-radius: 3px;
    display: block;
    width: 300px;
    text-align: left;
    background: white;
    padding: 14px 18px;
}

.addLevelWrap {
    top: 170px;
    left: 186px;
}

.saveAsTemplateWrap {
    top: 507px;
    left: 182px;
}

.addLevelWrap p, .saveAsTemplateWrap p {
    color: black !important;
}

.optionLevelCreate {
    width: 36rem;
    text-align: center;
    margin: 70px auto;
}

.optionLevelCreate div {
    font-size: 2.3rem;
    font-weight: 600;
    background: #1276EB;
    margin-bottom: 20px;
    color: white;
    padding: 1rem 0;
    border-radius: 1.5rem;
    box-shadow: 0px 3px 6px 2px #e5e5e5;
}

.optionLevelCreate div:nth-child(odd) {
    cursor: pointer;
}

.optionLevelCreate div:nth-child(2) {
    cursor: ;
    background: none;
    box-shadow: none;
}

.wrapNewLevelCreateOption {
    margin-top: 100px;
}

.titleLevelOptionCreate {
    font-size: 22px;
}

.titleLevelOptionCreate h2 {
    color: #000;
    font-weight: 700;
}

.image.library .planLibrary {
    padding: 50px 100px;
}

.image.library .plansLib {
    /*margin: 50px 0;*/
    margin: 0;
    padding: 1% 10%;
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    overflow-y: scroll;
    /*padding: 10px;*/
}

.imageItem_sub {
    position: relative;
    width: calc((100% / 6) - (125px / 6));
    height: 130px;
    margin-right: 23px;
    margin-bottom: 25px;
}

.imageItem_sub:nth-child(6n) {
    margin-right: 0;
}

.imageItem_sub .image {
    border: solid 2px #eee;
    width: 100%;
    height: 95%;
    margin-bottom: 5%;
}

.imageItem_sub .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imageItem_sub .options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 10%;
}

.imageItem_sub .options i {
    cursor: pointer;
}

.imageItem_sub .options .fa-plus {
    margin-right: 10px;
}

.image.library .titleBlock {
    display: flex;
    justify-content: space-between;
}

.image.library .titleBlock .info {

}

.image.library .titleBlock .info p {
    font-size: 1.3rem;
    color: #000;
    text-align: left;
}

.image.library .midBlockTitle h3,
.image.library .midBlockTitle h4,
.image.library .midBlockTitle p {
    color: #000;
}

.image.library .midBlockTitle h3,
.image.library .midBlockTitle h4 {
    font-weight: 600;
}

.image.library .addImageBlock {
    display: flex;
    align-items: flex-end;
}

.image.library .midBlockTitle p {
    font-size: 1.2rem;
}

.image.library .addImageBlock button {
    padding: 5px 15px;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #1276EB;
}

.image.library .btnGroup {
    display: flex;
    justify-content: space-between;
}

.image.library .btnGroup p {
    font-size: 1.2rem;
    color: #8C8C8C;
    text-align: left;
}

.image.library .btnGroup button {
    padding: 5px 25px;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #FF9300;
}

.image.library .plansLib::-webkit-scrollbar {
    width: 15px;
}

.image.library .plansLib::-webkit-scrollbar-track {
    background: #c4c4c4;
    border: 1px solid #4a4a4a;
}

.image.library .plansLib::-webkit-scrollbar-thumb {
    background: #908f8f;
    border-radius: 10px;
}


.workPlace {
    /* padding: 10px; */
    background: white;
    box-sizing: border-box;
    /* resize: horizontal; */
    position: relative;
    border: 2px black dashed;
    /*height: calc(100vh - 145px);*/
    /*width: calc((100vh - 145px) * 1.7777);*/

    /*width: 100%;*/
    /*width: 75vw;*/
    /*height: calc(75vw * 0.5625);*/
    margin: 20px auto 0 auto;
    overflow: hidden;
    height: 87vh;
    width: calc(87vh * 1.7777);
}

.edit-text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.edit-font-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 170px;
    color: #636161;

    border: 1px solid #80808066;
    cursor: pointer;
    user-select: none;
}

.edit-font-wrapper p {
    font-weight: 600;
}

.edit-font-wrapper .font-style {
    min-width: 85px;
}

.edit-font-wrapper > div {
    padding: 3px 5px;
}

.edit-font-wrapper .font-style ul, .edit-font-wrapper .font-size ul {
    padding: 2px 5px;
    width: 100%;
    left: 0;
    text-align: left;
}

.edit-font-wrapper .font-style ul li, .edit-font-wrapper .font-size ul li {
    border-bottom: 1px solid #8080807d;
}

.edit-font-wrapper .font-style div i {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.italic-style i {
    font-style: italic;
}

.italic-style.active, .bold-style.active {
    background: gray;
    border-radius: 2px;
    color: white;
}

.edit-text-block .edit-font-wrapper .font-style, .edit-text-block .edit-font-wrapper .font-size {
    position: relative;
    font-weight: 600;
}

.ck-editor__editable {
    height: 500px !important;
    border: grey 1px dashed !important;
}

.ck-editor {
    margin: 0px 100px !important;
}

.ck-file-dialog-button {
    display: none !important;
}

.colorPanel {
    position: absolute;
    width: 300px;
    height: auto;
    background: #ffffff;
    top: 45px;
    left: 5px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px 5px;
}

.colorPanel .btnWrap {
    text-align: center;
}

.cams.position .colorPickerTitle {
    margin-bottom: 15px;
}

.cams.position .colorPickerTitle h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    line-height: normal;
}

.cams.position .colorPickerTitle p {
    font-size: 1.3rem;
    font-weight: 500;
}

.cams.position .wrapColorPicker {
    padding-bottom: 50px;
    border-bottom: 1px solid #333;
    margin-bottom: 5px;
}

.cams.position .wrapColorPicker h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    line-height: normal;
    margin-bottom: 35px;
    padding-left: 5px;
}

.cams.position .btnWrap button {
    padding: 3px 35px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: #FF9300;
    margin-top: 50px;
}

.chrome-picker {
    margin: 0 auto;
}

.wrapColorPicker h3 {
    display: flex;
}

.video_title .first_title {
    margin-bottom: 80px;
}

.video_title {
    margin-top: 15px;
}

.video_inputs {
    margin: 40px auto;
    width: 500px;
}

.video_inputs .inputs {
    margin-bottom: 30px;
}

.video_inputs .inputs input {
    width: 100%;
    height: 46px;
    background: #e8e8e8;
    font-size: 20px;
}

.video_inputs .inputs label,
.input_lat_long label {
    display: flex;
    font-size: 18px;
}

.button_group {
    display: flex;
    justify-content: flex-end;
}

.button_group button, .map_btn .map {
    font-size: 17px;
    border: none;
}

.button_group .cancel {
    margin-right: 180px;
    background: none;
}

.button_group .save, .map_btn .map {
    background: #FFA337;
    color: white;
    padding: 3px 18px;
    border-radius: 4px;
}

.lat_long {
    border: 2px grey dashed;
    padding: 70px 22px;
    margin: 12px 8%;
}

.first_title_lat {
    margin-bottom: 70px;
}

.map_btn {
    margin: 40px auto;
}

.input_lat_long input {
    width: 100%;
    height: 47px;
    font-size: 21px;
}

.input_lat {
    width: 500px;
    margin: 0 auto;
}

.input_lat .button_group {
    margin-top: 20px;
}

.tabs {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    z-index: 10;
}

.tabs .tab {
    background: #EEEEEE;
    padding: 0px 17px;
    font-size: 18px;
    margin-right: 5px;
}

.manage_levels {
    position: relative;
    height: 48vw;
    border: 1px grey dashed;
    margin: 0 3%;
}

.desc_tabs {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
    font-size: 14px;
    margin-top: 15px;
}

.manage_body {
    display: flex;
    justify-content: center;
    margin: 0 5%;
}

.wrap_levels .level {
    display: flex;
    font-size: 17px;
    background: #F4F5F5;
    margin-bottom: 5px;
    justify-content: space-between;
}

.wrap_levels .active {
    background: #EBECED;
}

.manage_control_panel {
    display: flex;
    width: 50%;
    justify-content: center;
}

.control_buttons button {
    width: 100%;
    background: #1377EB;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 2px;
    margin-bottom: 12px;
}

.control_buttons {
    width: 212px;
    margin-top: 80px;
}

.levels_manage {
    width: 38%;
}

.plm_icon {
    display: inline;
    transform: rotate(90deg);
    top: 0;
    position: absolute;
    right: 0;
}

.cntr_btn button {
    margin-right: 35px;
}

.cntr_btn {
    position: relative;
}

.manage_levels .save {
    justify-content: center !important;
}

.panorama_tools {
    background: #ffffff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    z-index: 100;
    position: absolute;
    top: 5%;
    /* left: -9px; */
    width: 25%;
    height: 100vh;
    height: 90vh;
    padding-top: 30px;
    border-right: 2px solid #bfbfbf;
}

.markers_panelum {
    position: relative;
    height: 100%;
}

.choose {
    padding-top: 30px;
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}

.choose a {
    color: #217EED;
    text-decoration: none;
}

.choose .btn_done_pan .done {
    border-radius: 0.4rem;
    padding: 2px 25px;
    background-color: #FF9300;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.choose .choose_upload_wrap_pan h3 {
    color: #000;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 15px 0;
    line-height: normal;
}

.upload_panelum {
    border: 1px black dashed;
    margin: 24px 15px;
    padding: 15px 0;
}

.panorama .dropzone h3 {
    margin: 0;
    font-size: 1.6rem;
    color: #000;
    font-weight: 600;
}

.panorama .dropzone h3:nth-child(2) {
    margin: 30px 0;
}

.panorama .upload_panelum .cansel {
    border: none;
    background: transparent;
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
}

.choose_btn {
    padding: 5px 15px;
    border: none;
    background: #7CC6FB;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 15px;
}

.upload_panelum .cancel {
    margin: 12px auto;
    background: none;
    border: none;
    font-size: 17px;
}

.title_markers {
    margin-bottom: 50px;
}

.title_markers h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.markers_option {
    display: flex;
    justify-content: space-around;
}

.markers_option a {
    font-size: 1.3rem;
    font-weight: bold;
    color: #2F86EE;
}

.markers_keyboard {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
}

.markers_keyboard .scale {
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.markers_keyboard .scale label {
    font-size: 1.3rem;
    font-weight: 700;
}

.markers_keyboard .btn_group {
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
}

.markers_keyboard .btn_group button {
    padding: 3px 15px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.markers_keyboard .btn_group .add {
    background: #2F86EE;
}

.markers_keyboard .btn_group .save {
    background: #FF9300;
}

.markers .panelum_marker img {
    width: 100%;
}

.markers .panelum_marker {
    margin-right: 10px;
    width: 10%;
    margin-top: 25px;
}

.markers {
    margin-top: 10px;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.markerDrag {
    z-index: 103;
}

.panorama_images_wrap {
    margin: 12px;
    overflow-y: scroll;
    height: 540px;
    padding: 15px;
}

.pan_image_wrap {
    margin-bottom: 16px;
    position: relative;
}

.pan_image_wrap img {
    width: 100%;
}

.link_360_lib {
    display: block;
    font-size: 1.3rem;
    color: #217EED;
    font-weight: bold;
}

.select_btn {
    border: none;
    background: #FF9300;
    color: white;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px;
    border-radius: 5px;
}

.panorama .panorama_images_wrap::-webkit-scrollbar {
    width: 18px;
    background-color: #d6d6d6;
    border: 1px solid #9d9d9d;
}

.panorama .panorama_images_wrap::-webkit-scrollbar-thumb {
    background-color: #9d9d9d;
    border-radius: 8px;
}

.panorama_tools_lib {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 40px;
    align-items: center;
}

.rep_add_tools_lib .can_save_tools_lib {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rep_add_tools_lib button,
.rep_add_tools_lib h3 {
    margin-left: 25px;
}

.can_save_tools_lib button {
    margin-right: 25px;
}

.add360 {
    border: none;
    padding: 7px 12px;
    background: #1276EB;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
}

.can_save_tools_lib .selected {
    border: none;
    padding: 7px 12px;
    background: #FF9300;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
}

.replace360all,
.can_save_tools_lib .cancel {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: #1276EB;
}

.panorama_title_wrap {
    display: flex;
    position: relative;
}

.main_pan_title {
    position: absolute;
    bottom: 0;
    left: 43%;
}

.description_pan {
    margin: 12px;
    font-size: 12px;
    text-align: left;
}

.rep_add_tools_lib {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panorama_img_wrap_lib .pan_image_wrap {
    width: 250px;
    margin-right: 15px;
}

.panorama_img_wrap_lib {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 5%;
    overflow-y: scroll;
    height: 320px;
}

.pan_image_wrap .options {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.pan_image_wrap .options div {
    margin-right: 25px;
}

.pan_image_wrap {
    position: relative;
}

.hover__lib_text {
    position: absolute;
    bottom: 50%;
    left: 45%;
    background: white;
    padding: 5px;
    border-radius: 2px;
}

.edit-text-block form input {
    min-width: 370px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #80808066;
}

.edit-text-block form .input-buffer {
    position: absolute;
    top: -1000px;
    left: -1000px;
    visibility: hidden;
    white-space: nowrap;
    padding: 0 10px;
}

.font-size ul,
.font-style ul {
    position: absolute;
    background: white;
    cursor: pointer;
}

.imageWrap,
.start .images,
.interior-image {
    z-index: 1;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.36);
}

.tab.active_tab {
    background: #a9a9a9 !important;
}

.tempWrap {
    width: 80%;
    margin: 0 auto;
    height: 330px;
    overflow-y: scroll;
}

.template {
    border-bottom: 1px grey solid;
    display: flex;
    padding: 0 36px;
    cursor: pointer;
    margin-right: 20px;
}

.template_title {
    display: flex;
    margin-left: 10px;
    font-weight: bold;
}

.tempWrap > :nth-child(2) {
    border-top: 1px grey solid;
}

.clients_wrap {
    display: flex;
    justify-content: center;
}

.client_list_wrap, .clientWrap {
    width: 50%;
}

.client_list_wrap .clientWrap .btn_group_client {
    display: flex;
    justify-content: flex-end;
}

.client_items {
    overflow-y: scroll;
    height: 400px;
}

.client_items .client, .client_items .active_client {
    border-bottom: 1px grey solid;
    width: 90%;
    margin: 0 auto;
}

.client_items .client:first-child {
    border-top: 1px grey solid;
}

.client_preview {
    width: 70%;
    margin: 0 auto;
    height: 150px;
}

.inputs_client {
    display: flex;
    flex-direction: column;
    margin: 37px auto;
    width: 70%;
}

.inputs_client input {
    margin-bottom: 15px;
    height: 36px;
    border-radius: 5px;
    font-size: 16px;
    padding: 6px;
}

.active_client {
    background: #E8E8E8;
}


.client_wrap, .logo-wrapper {
    width: 100%;
    height: 100%;
}

.logo-wrapper {
    position: relative;
    overflow: hidden;
}

.logo-wrapper p, .logo-wrapper img {
    position: absolute;
}

.logo-wrapper .client_name {
    font-size: 2.5vw;
}

.contact_name, .contact_phone, .contact_email {
    font-size: 1.5vw;
}

.client_wrap_main {
    height: 20%;
}

.edit-text-block {
    position: relative;
}

.wrap_text_editor_main {
    position: absolute;
    top: -25px;
    opacity: 0;
    transition: opacity .5s;
    box-shadow: 0px 1px 5px #00000052;
}

/*.wrap_text_editor_main.action {*/
/*  opacity: 1;*/
/*}*/

.icon_reposition_image,
.icon_reposition_plan,
.icon_reposition_client,
.icon_reposition_brand,
.icon_reposition_address {
    position: absolute;
    width: 10%;
    top: 43%;
    left: 47%;
}

.icon_reposition_image img,
.icon_reposition_plan img,
.icon_reposition_client img,
.icon_reposition_brand img,
.icon_reposition_address img {
    width: 100%;
}

.icon_reposition_address {
    top: 3%;
}

.ken_burns_wrap .ken_done_btn {
    display: flex;
    justify-content: flex-end;
    padding: 12px 70px;
}

.ken_done_btn .save {
    border: none;
    padding: 5px 40px;
    color: white;
    background: #bdbdbd;
}

.ken_main_wrap {
    padding: 0px 15px;
    display: flex;
    justify-content: center;
}

.ken_tools_wrap {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.ken_wrap {
    width: 70%;
    border: 1px red solid;
}

.ken_images .image {
    width: 50%;
    margin: 0 auto;
}

.ken_images .image img {
    width: 100%;
}


/*----------------------Ken Burns----------------------------*/
.editorBurns {
    width: 100%;
    height: 100%;
    position: relative;
}

.editorBurns .start, .editorBurns .finish {
    position: absolute;
    width: 300px;
    height: 300px;
}

.editorBurns .start {
    border: 2px green solid;
}

.editorBurns .start p {
    color: green;
    display: flex;
    font-size: 18px;
    margin-left: 12px;
}

.editorBurns .finish {
    border: 2px blue solid;
}

.editorBurns .finish p {
    color: blue;
    display: flex;
    font-size: 18px;
    margin-left: 12px;
}

/*=======================END=================================*/

.upload.plans .uploadPlans div p,
.upload.images .uploadImages div p {
    font-size: 1.3rem;
}

.upload.plans .uploadPlans div p:not(:last-of-type),
.upload.images .uploadImages div p:not(:last-of-type) {
    margin-bottom: 10px;
}


.library.upload .uploadImages * {
    margin: 0;
}

.status_upload {
    width: 100%;
    margin: 50px auto;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status_upload .titleUpload {
    color: #000;
    font-size: 3rem;
    margin: 0;
    line-height: normal;
    margin-bottom: 30px;
}

.status_upload .items .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.status_upload .items .item:not(:last-child) {
    margin-bottom: 10px;
}

.status_upload .items {
    width: 80%;
}

.status_upload .items .item p {
    font-size: 1.3rem;
}

.status_upload .progress {
    width: 100%;
    border: none;
}

.status_upload .status {
    height: 100%;
    background-color: #A6E8FD;
}


input[type=range] {
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgba(120, 120, 120, 0);
    border: 0.2px solid #787878;
    border-radius: 1.3px;
    width: 100%;
    height: 0.2px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -13.6px;
    width: 18px;
    height: 27px;
    background: #0094ff;
    border: 2px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #858585;
}

input[type=range]::-moz-range-track {
    background: rgba(120, 120, 120, 0);
    border: 0.2px solid #787878;
    border-radius: 1.3px;
    width: 100%;
    height: 0.2px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 18px;
    height: 27px;
    background: #0094ff;
    border: 2px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 13.4px 0;
    color: transparent;
    width: 100%;
    height: 0.2px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #6b6b6b;
    border: 0.2px solid #787878;
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: rgba(120, 120, 120, 0);
    border: 0.2px solid #787878;
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    width: 18px;
    height: 27px;
    background: #0094ff;
    border: 2px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(120, 120, 120, 0);
}

input[type=range]:focus::-ms-fill-upper {
    background: #858585;
}

.brandWrap:hover {
    opacity: 1 !important;
}

.scale-layout.workPlace {
    border: none;
}

.scale-layout.workPlace .scales-panel .save_layout {
    background: #1276EB;
    border-radius: 3px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.41px;
    padding: 4px 31px;
    border: none;
}

.scale-layout.workPlace {
    /* padding: 10px; */
    background: white;
    box-sizing: border-box;
    /* resize: horizontal; */
    position: relative;
    /*height: calc(100vh - 145px);*/
    /*width: calc((100vh - 145px) * 1.7777);*/

    width: 100%;
    /*width: 80vw;*/
    /*height: calc(80vw * 0.5625);*/
    /*margin: 54px auto 0 auto;*/

    height: inherit;
    margin: 0 auto;
    overflow: visible;
}

.scale-layout.workPlace .scales-panel {
    /*margin: 0 10px 10px;*/
    /* margin like in topPanel*/
    /*border-bottom: 2px solid #cdcdcd;*/
    /*padding: 0 10px;*/
    /*margin-bottom: 10px;*/
    /*position: absolute;*/
    top: -51px;
    /*width: 100%;*/
    width: 75vw;
    margin: 0 auto;
}

.scale-layout.workPlace .scales-panel .notification p {
    font-size: 1.7rem;
}

.scale-layout.workPlace .scales-panel .notification p a {
    font-weight: 700;
    color: #1276EB;
    text-decoration: none;
}

.scales-panel > div .scale-wrapper h3 {
    margin: 10px;
    white-space: nowrap;
    font-size: 2rem;
    width: 50%;
}

.scales-panel > div .scale-wrapper input {
    width: 50%;
}


.icon_drag {
    position: relative;
}

.icon_drag .drag_text {
    position: absolute;
    top: -22px;
    left: 14px;
    width: 64px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
}

.icon_drag .drag_text p {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
}

/*.dnd-wrapper {*/
/*  margin: 0 auto;*/
/*  width: 70vw;*/
/*  height: calc(70vw * 0.5625);*/
/*}*/

.scale-layout.workPlace .dnd-wrapper {
    margin: 0 auto;
    position: relative;
    display: flex;
    /*width: 100%;*/

    /*width: 75vw;*/
    /*height: calc(75vw * 0.5625);*/

    /*height: 100% !important;*/
    /*border: none !important;*/
    /*border: 2px black dashed;*/
    z-index: 99;
    outline: 2px black dashed;
    height: 87vh;
    width: calc(87vh * 1.7777);
}

.scale-layout .scales-panel div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scale-layout.workPlace .dnd-wrapper .interior-image_wrap {
    z-index: -1;
}

.scale-layout.workPlace .dnd-wrapper .interior-brand_wrap {
    z-index: -2;
}

.scale-layout.workPlace .dnd-wrapper .client_reposition {
    z-index: -3;
}

.scale-layout.workPlace .dnd-wrapper .edit-text-block {
    z-index: -4;
}

.scale-layout.workPlace .dnd-wrapper .floor-plan-wrap {
    z-index: -5;
}

.scales_panel .scale_wrapper h3 {
    margin-right: 10px;
}

.video_marker {
    position: absolute;
    border-right: 1px #a1a1a1 solid;
    width: 25%;
    height: 100%;
    top: -2px;
    z-index: 122;
    background: #ffffff;
    left: -2px;
    padding: 15px;
}

.video_marker .linkAdd_video_marker {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.video_marker .linkAdd_video_marker .title {
    align-self: center;
    margin-top: 0;
    font-size: 18px;
}

.video_marker .linkAdd_video_marker label {
    font-size: 13px;
    margin-bottom: 5px;
}

.video_marker .linkAdd_video_marker input {
    width: 100%;
    outline: none;
    border: none;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    background: transparent;
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
    color: grey;
    margin-bottom: 22px;
}

.video_marker .linkAdd_video_marker button {
    background: #FF9300;
    border: none;
    padding: 4px 32px;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    font-size: 15px;
}

.video_marker .tools_video_marker .markers_video_marker {
    column-count: 3;
    padding: 30px 0;
    /*margin-bottom: 50px;*/

    width: 100%;
    height: 25%;
    border: 1px solid #000;
    overflow: auto;
    margin-bottom: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.video_marker .tools_video_marker .markers_video_marker .marker {
    /*width: 50%;*/
    width: 30%;
    margin-bottom: 15px;
}

.video_marker .tools_video_marker .markers_video_marker .marker img {
    width: 100%;
}

.video_marker .tools_video_marker .scale_video_marker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.video_marker .tools_video_marker .scale_video_marker label {
    margin-right: 50px;
    font-size: 14px;
    font-weight: 600;
}

.video_marker .tools_video_marker .scale_video_marker input {
    width: 100%;
    padding: 0 10px;
}

.video_marker .tools_video_marker .btn_group_video_marker button {
    border: none;
    padding: 5px 25px;
    background: #2472ff;
    color: white;
    font-weight: 600;
    font-size: 12px;
    border-radius: 4px;
    transition: .4s;
}

.video_marker .tools_video_marker .preview_video_marker {
    position: relative;
    width: 100%;
    height: 200px;
}

.video_marker .tools_video_marker .preview_video_marker iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_marker .tools_video_marker .btn_group_video_marker {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;

    margin-bottom: 2%;
}

/*.video_marker .tools_video_marker .btn_group_video_marker button{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

.video_marker .tools_video_marker .btn_group_video_marker .add_another {
    margin-right: 30px;
}

.video_marker .tools_video_marker .btn_group_video_marker button:hover {
    background: #0045c1;
}

.video_marker .tools_video_marker .btn_group_video_marker .done {
    background: #FF9300;
}

.video_marker .tools_video_marker .btn_group_video_marker .done:hover {
    background: #c87300;
}

.tools_video_marker .type_markers_video {
    margin-bottom: .5rem;
    text-align: center;
    margin-top: 12px;
}

.tools_video_marker .type_markers_video button {
    font-size: 1.3rem;
    font-weight: 600;
    background: white;
    color: #6495ed;
    cursor: pointer;
    margin: 0 3rem;
}

.tools .preview iframe {
    width: 100%;
}

.cam {
    z-index: 123;
}

.selectMark_wrapper {
    background: white;
    border-right: 2px solid #bfbfbf;
    position: absolute;
    width: 23%;
    /*min-width: 280px;*/
    height: 92vh;
    padding: 1.4rem;
    color: #4c4c4c;
    z-index: 300;
    top: 110%;
    left: 0;
    margin-left: 1.6rem;
    transition: 0.5s;
}

.selectMark_wrapper h4 {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto 1rem;
    font-weight: 700;
}

.selectMark_wrapper h5 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 1rem auto;
}

.selectMark_wrapper .selectMark {
    height: 45%;
    position: absolute;
    width: 92%;
    background: white;
    transition: 0.5s;
}

/*.selectMark_wrapper .selectMark .selectMark__action {*/
/*    display: -webkit-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -webkit-box-align: center;*/
/*    -ms-flex-align: center;*/
/*    align-items: center;*/
/*    -webkit-box-pack: justify;*/
/*    -ms-flex-pack: justify;*/
/*    justify-content: space-between;*/
/*}*/

/*.selectMark_wrapper .selectMark .selectMark__action h5 {*/
/*    font-size: 1.3rem;*/
/*    margin-bottom: .5rem;*/
/*    font-weight: 700;*/
/*    cursor: pointer;*/
/*}*/

.selectMark_wrapper .selectMark .selectMark__select {
    margin-bottom: .5rem;
}

.selectMark_wrapper .selectMark .selectMark__select a {
    font-size: 1.3rem;
    font-weight: 600;
    color: #6495ed;
    cursor: pointer;
}

.selectMark_wrapper .selectMark .selectMark__select a:nth-child(1) {
    margin-right: 7rem;
}

.selectMark_wrapper .selectMark .selectMark__markers {
    width: 100%;
    height: 60%;
    border: 1px solid #000;
    overflow: auto;
    margin-bottom: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.selectMark_wrapper .selectMark .selectMark__markers .selectMark__markers_item {
    width: 33%;
}

.selectMark_wrapper .selectMark .selectMark__markers .selectMark__markers_item img {
    width: 100%;
}

.selectMark__markers .selectMark__markers_item {
    /*border: 1px solid darkgrey;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 10px 10px;
    width: 410px;
}

.selectMark_wrapper .selectMark .selectMark__markers .selectMark__markers_item.markers {
    padding: 11%;
}

.selectMark__markers .selectMark__markers_item button {
    background: #99bdff;
    font-size: 14px;
    color: #515151;
    border: 1px solid gray;
    box-shadow: 0 3px 5px grey;
    margin: 4px 20px;
}

.rectangle {
    padding: 4px 30px;
    border: 1px solid gray;
    border-radius: 4px;
    transition: 0.4s;
}

.round-sides {
    padding: 4px 30px;
    border: 1px solid gray;
    border-radius: 14px;
    transition: 0.4s;
}

.round {
    padding: 20px 10px;
    border: 1px solid gray;
    border-radius: 50%;
    align-self: auto;
    transition: 0.4s;
}

.big-rectangle {
    padding: 10px 30px;
    border: 1px solid gray;
    border-radius: 8px;
    transition: 0.4s;
}

.big-round-sides {
    padding: 10px 30px;
    border: 1px solid gray;
    border-radius: 20px;
    transition: 0.4s;
}

.rectangle.active,
.round-sides.active,
.round.active,
.big-rectangle.active,
.big-round-sides.active {
    transform: scale(1.5);
    box-shadow: 0 6px 8px grey;
}


.selectButton__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 0.5rem;
}

.selectButton__label h3 {
    font-size: 1.3rem;
    font-weight: 600;
    width: 29%;
    margin: 0;
    text-align: start;
}

.selectButton__label input {
    padding: .3rem;
    font-size: 1.3rem;
    font-weight: 600;
    width: 70%;
}

.scale-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.customButtons__example {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.3rem;
}

.customButtons__example .customButtons__example_btn {
    border: none;
    font-size: 2rem;
    text-overflow: ellipsis;
    max-width: 25rem;
    white-space: nowrap;
    overflow: hidden;
}

.selectMark_wrapper .customButtons .scale-wrapper {
    width: 90%;
    margin: auto;
}

.selectMark_wrapper .selectMark .scale-wrapper {
    width: 80%;
    margin: auto;
}

.scale-wrapper h3 {
    font-size: 1.3rem;
    font-weight: 600;
    width: 29%;
    text-align: left;
}

.scale-wrapper input[type=range] {
    -webkit-appearance: none;
    width: 70%;
}

.scale-wrapper input[type=range]:focus {
    outline: none;
}

.scale-wrapper input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #fff;
    height: 2.8rem;
    width: 1.6rem;
    border-radius: 2px;
    background: #6495ed;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    margin-top: -1.4rem;
}

.scale-wrapper input[type=range]::-webkit-slider-thumb:hover {
    background: #3f5f99;
}

.scale-wrapper input[type=range]::-moz-range-thumb {
    border: 1px solid #fff;
    height: 2.8rem;
    width: 1.6rem;
    border-radius: 3px;
    background: #6495ed;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
}

.scale-wrapper input[type=range]::-moz-range-thumb:hover {
    background: #3f5f99;
}

.scale-wrapper input[type=range]::-ms-thumb {
    border: 1px solid #fff;
    height: 2.8rem;
    width: 1.6rem;
    border-radius: 2px;
    background: #6495ed;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
}

.scale-wrapper input[type=range]::-ms-thumb:hover {
    background: #3f5f99;
}

.scale-wrapper input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #000;
    border-radius: 1.3px;
}

.scale-wrapper input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000;
}

.scale-wrapper input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #000;
    border-radius: 1.3px;
}

.scale-wrapper input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

.scale-wrapper input[type=range]::-ms-fill-lower {
    background: #000;
    border-radius: 2.6px;
}

.scale-wrapper input[type=range]:focus::-ms-fill-lower {
    background: #000;
}

.scale-wrapper input[type=range]::-ms-fill-upper {
    background: #000;
    border-radius: 2.6px;
}

.selectMark__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .8rem 0;
    margin-top: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.selectMark__btns button {
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    background: none;
    outline: none;
    cursor: pointer;
    padding: .5rem 1.8rem;
    border-radius: 4px;
}

.selectMark__btns.swapMarkButt {
    bottom: 4%;
}

.selectMark__btns.swapMarkButt button {
    background-color: #1276EB;
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
}

.selectMark__btns .cancel {
    margin-right: .5rem;
}

.selectMark__btns .done {
    background: #ff9300;
    color: #fff;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.bounces {
    animation: bounce 1s;
}

.camPosSet {
    z-index: 124;
    width: 2%;
}

.chooseMarkButt {
    background-color: #1276EB;
    border: none;
    color: white;
    padding: 4px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.3rem;
}

.customButtons {
    background: white;
    position: absolute;
    width: 95%;
    transition: 0.5s;
}

.customButtons .chrome-picker {
    width: 65% !important;
    margin: 2rem auto;
}


.selectButton__colorSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.selectButton__colorSelector h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
}


/*Style for switch colors (markers & buttons)*/

.switch-btn {
    display: inline-block;
    width: 15%;
    height: 3rem;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: inset 0 0 10px 0 #999999;
    z-index: 0;
    margin: 1rem;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 0.3s;
}

.switch-btn::after {
    content: "";
    height: 120%;
    width: 60%;
    border-radius: 1.8rem;
    background: #1276EB;
    top: -13%;
    left: -5%;
    transition-duration: 0.3s;
    box-shadow: 0 0 10px 0 #999999;
    position: absolute;
    z-index: 1;
}

.switch-on {
    background: #fff;
    box-shadow: inset 0 0 10px 0 #999999; /* тень */
}

.switch-on::after {
    left: 50%;
    background: #1276EB;
}

button.handle {
    border: none;
    white-space: nowrap;
}

.dnd-wrapper button {
    border: none;
}


/*Style to make the 'chrome-picker' color point move smoothly*/
.saturation-white div:nth-child(2) {
    transition: 0.2s;
}

/* styles for save animation */
.saveAnimation {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.saveAnimation .save {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.3rem;
    width: 9rem;
    opacity: 0;
    transition: 0.3s;
}

.saveAnimation .save span {
    color: #005cbf;
    font-size: 3rem;
}

.saveAnimation .save .preloader {
    border: 0.5rem solid #f3f3f3;
    border-top: 0.5rem solid #3498db;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 0.3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}