@media screen and (orientation: landscape) and (max-width: 1400px) {
    .workPlace {
        width: 81vw;
        height: calc(81vw * 0.5625);
    }

    .scale-layout.workPlace .dnd-wrapper {
        height: 73vh;
        width: calc(73vh * 1.7777);
    }
}

@media screen and (orientation: landscape) and (max-width: 1366px) {
    .workPlace {
        width: 93vw;
        height: calc(93vw * 0.5625);
        margin: 4px auto;
    }

    .scale-layout.workPlace .dnd-wrapper {
        height: 75vh;
        width: calc(75vh * 1.7777);
    }
    .selectMark_wrapper{
        width: 450px;
    }
    .selectMark_wrapper h4{
        margin-bottom: 0.3rem;
    }
    .selectMark_wrapper h5{
        margin: 0 auto;
    }
    .customButtons .chrome-picker{
        margin: 0.5rem auto;
    }
    .selectMark_wrapper h4{
        font-size: 1.5rem;
    }
    .selectMark_wrapper h5{
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    .selectButton__colorSelector h3{
        margin: 0.4rem auto;
    }
    .switch-btn{
        height: 2.5rem;
        margin: 0.7rem;
    }
    .scale-wrapper h3{
        margin: 0.2rem 0;
    }
    .selectMark_wrapper{
        height: 93vh;
    }
}

@media screen and (orientation: landscape) and (max-width: 568px) {
    .scale-layout.workPlace .dnd-wrapper {
        height: 75vh;
        width: calc(75vh * 1.7777);
    }
}

@media screen and (orientation: portrait) {
    .workPlace {
        width: 95vw;
        height: calc(95vw * 0.5625);
    }

    .scale-layout.workPlace .dnd-wrapper {
        width: 95vw;
        height: calc(95vw * 0.5625);
    }
}

@media screen and (orientation: portrait) and (min-width: 1024px) {
    .workPlace {
        width: 81vw;
        height: calc(81vw * 0.5625);
    }
}

@media screen and (max-width: 1366px) {
    .scale-layout.workPlace .scales-panel {
        width: 98%;
    }

    .MenuWrap {
        left: -24px;
    }

    .plans .uploadPlans, .images .uploadImages, .upload .uploadImages {
        width: 440px;
        padding: 30px 40px;
    }
    .plans .uploadPlans .dropzone button,
    .images .uploadImages .dropzone button,
    .upload .uploadImages .dropzone button,
    .upload .uploadImages .cancel button{
        margin-bottom: 30px;
    }
    .plans .uploadPlans .dropzone h3:not(:first-of-type),
    .images .uploadImages .dropzone h3:not(:first-of-type),
    .upload .uploadImages .dropzone h3:not(:first-of-type),
    .upload .uploadImages .cancel h3:not(:first-of-type){
        margin: 20px 0;
    }
    .selectMark_wrapper{
        padding: 0.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .mainApp{
        display: none;
    }
    .scales-panel > div .scale-wrapper h3 {
        margin: 4px 10px;
    }

    .plans .uploadPlans, .images .uploadImages, .upload .uploadImages {
        padding: 20px;
    }

    .plans .uploadPlans .dropzone button,
    .images .uploadImages .dropzone button,
    .upload .uploadImages .dropzone button,
    .upload .uploadImages .cancel button {
        margin-bottom: 20px;
    }

    .NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper h3 {
        font-size: 1.5rem;
    }

    .selectMark_wrapper h4 {
        font-size: 1.2rem;
        line-height: 1rem;
    }

    .customButtons .chrome-picker{
        margin: 2px auto;
        height: 228px;
    }

    .itemMenu {
        padding: 5px;
    }
    .selectMark_wrapper{
        width: 380px;
    }
    .chooseMarkButt{
        font-size: 1em;
        padding: 2px 6px;
    }
    .switch-btn{
        height: 2rem;
        margin: 0.4rem;
    }
    .selectButton__label h3{
        font-size: 1.1rem;
    }
    .scale-wrapper h3{
        font-size: 1.1rem;
        margin: 0.2rem 0.4rem;
    }
}

@media screen and (max-width: 992px) {
    .mainApp {
        padding: 20px 0;
    }

    .plans .uploadPlans, .images .uploadImages, .upload .uploadImages {
        margin: 20px auto;
        width: 350px;
    }

    .plans .uploadPlans .dropzone h3:first-child,
    .images .uploadImages .dropzone h3:first-child,
    .upload .uploadImages .dropzone h3:first-child,
    .upload .uploadImages .cancel h3:first-child {
        font-size: 2rem;
    }

    .plans .uploadPlans .dropzone h3:not(:first-of-type),
    .images .uploadImages .dropzone h3:not(:first-of-type),
    .upload .uploadImages .dropzone h3:not(:first-of-type),
    .upload .uploadImages .cancel h3:not(:first-of-type) {
        font-size: 2rem;
    }

    .mainApp button {
        padding: 8px;
        width: 260px;
    }

    .mainApp p {
        margin: 10px 0;
        font-size: 2rem;
    }

    .NewWrapper .scale.layout .topPanelWrap .secondOpt {
        font-size: 1.2rem;
    }

    .NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range] {
        margin-left: 10px;
    }

    .MenuWrap {
        top: 29px;
        left: -12px;
    }

    .topPanelWrap {
        font-size: 1.1rem;
    }

    .itemMenu {
        padding: 2px 5px;
    }

    .topPanelWrap i:before {
        font-size: 1.5rem;
    }

    .itemMenu {
        width: 140px;
    }

    .SubMenuWrap:hover > .SubItems {
        right: -140px;
    }
    .upload.plans .uploadPlans div p, .upload.images .uploadImages div p{
        font-size: 1.1rem;
    }
    .selectMark_wrapper h4 {
        font-size: 1rem;
        line-height: 0.3rem;
    }
    .chooseMarkButt {
        margin: 0.2rem;
        padding: 2px 10px;
    }
    .selectMark_wrapper h5 {
        font-size: 1rem;
        line-height: 0.8rem;
    }
    .customButtons .chrome-picker {
        width: 60% !important;
        height: 220px !important;
    }
    .scale-wrapper h3 {
        font-size: 1rem;
    }
    .scale-wrapper input[type=range]::-webkit-slider-thumb {
        margin-top: -10.5px;
        width: 14px;
        height: 21px;
        background: #0094ff;
        border: 2px solid #ffffff;
        border-radius: 3px;
        cursor: pointer;
        -webkit-appearance: none;
    }
    .scale-wrapper input[type=range]::-moz-range-thumb {
        width: 14px;
        height: 21px;
        background: #0094ff;
        border: 2px solid #ffffff;
        border-radius: 3px;
        cursor: pointer;
    }
    .scale-wrapper input[type=range]::-ms-thumb {
        width: 14px;
        height: 21px;
        background: #0094ff;
        border: 2px solid #ffffff;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 0px;
        /*Needed to keep the Edge thumb centred*/
    }
}

@media screen and (max-width: 768px) {

    .scale-layout.workPlace .scales-panel .notification p {
        margin: 1rem auto;
    }

    .topPanelWrap .firstOpt .toolsBtn {
        margin-right: 10px;
    }

    .edit-text-block form input {
        height: 24px;
    }

    .topPanelWrap .thirthOpt .previewBtn,
    .topPanelWrap .thirthOpt .publishBtn {
        padding: 1px 5px;
    }

    .topPanelWrap .firstOpt .toolsBtn .toolsBtnWrapp {
        padding: 2px 14px;
    }

    .scales-panel > div .scale-wrapper h3 {
        margin: 2px;
    }

    .plans .uploadPlans, .images .uploadImages, .upload .uploadImages {
        padding: 5px 20px;
        width: 250px;
    }

    .plans .uploadPlans .dropzone h3:not(:first-of-type),
    .images .uploadImages .dropzone h3:not(:first-of-type),
    .upload .uploadImages .dropzone h3:not(:first-of-type),
    .upload .uploadImages .cancel h3:not(:first-of-type) {
        margin: 0;
    }

    .plans .uploadPlans .dropzone button,
    .images .uploadImages .dropzone button,
    .upload .uploadImages .dropzone button,
    .upload .uploadImages .cancel button {
        margin-bottom: 15px;
    }

    .plans .uploadPlans, .images .uploadImages, .upload .uploadImages {
        margin: 10px auto;
    }

    .subHeader {
        padding: 2px 15px;
    }

    .NewWrapper .scale.layout .scale-layout.workPlace .scales-panel button {
        padding: 2px 18px;
        font-size: 1.4rem;
    }

    .NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper h3 {
        font-size: 1.2rem;
    }

    .NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range] {
        margin-left: 2rem;
    }

    .NewWrapper .scale.layout .topPanelWrap .secondOpt {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .NewWrapper .scale.layout .scale-layout.workPlace .scales-panel {
        margin-bottom: 4px;
    }

    .itemMenu {
        padding: 2px 5px;
        width: 130px;
    }

    .topPanelWrap p {
        font-weight: 300;
    }

    .topPanelWrap {
        font-size: 1.1rem;
    }

    .SubMenuWrap:hover > .SubItems {
        right: -130px;
    }
    .selectMark_wrapper {
        width: 310px;
    }
    .selectMark_wrapper .customButtons .scale-wrapper {
        width: 100%;
    }
    .scale-wrapper input[type=range] {
        width: 67%;
    }
    .selectButton__colorSelector {
        width: 100%;
    }
    .selectButton__colorSelector h3 {
        font-size: 1.2rem;
        margin: 0.3rem;
    }
    .switch-btn{
        height: 2rem;
    }
    .scale-wrapper h3{
        margin: 0;
    }
    .customButtons .chrome-picker{
        width: 74% !important;
    }
}

@media screen and (max-width: 568px) {
    .topPanelWrap .firstOpt .toolsBtn .toolsBtnWrapp {
        padding: 0 6px;
    }

    .topPanelWrap .firstOpt, .topPanelWrap .thirthOpt {
        flex-wrap: wrap;
        margin-top: 0.2rem;
    }

    .topPanelWrap .thirthOpt {
        justify-content: flex-end;
    }

    .topPanelWrap .thirthOpt .previewBtn {
        margin-bottom: 0.2rem;
    }

    .topPanelWrap .firstOpt .toolsBtn p {
        margin-right: 6px;
        margin-top: 2px;
    }

    .topPanelWrap .thirthOpt .previewBtn, .topPanelWrap .thirthOpt .publishBtn {
        padding: 0 4px;
    }

    .saveAnimation .save h3 {
        font-size: 1.2rem;
    }

    .saveAnimation .save span {
        font-size: 1.6rem;
    }

    .saveAnimation .save {
        width: 7rem;
    }

    .topPanelWrap {
        padding: 2px 8px;
        font-size: 1rem;
        line-height: 1rem;
    }

    .NewWrapper .scale.layout .topPanelWrap {
        margin: 0;
        padding: 2px 10px;
    }

    .NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range] {
        margin: 0 0.6rem;
    }

    .NewWrapper .scale.layout .topPanelWrap .secondOpt {
        line-height: 1rem;
        font-size: 0.8rem;
        margin-top: 0.2rem;
    }

    .NewWrapper .scale.layout .scale-layout.workPlace .scales-panel button {
        padding: 2px 6px;
        font-size: 1.1rem;
    }

    .upload.plans .uploadPlans div p, .upload.images .uploadImages div p {
        font-size: 0.9rem;
    }

    .MenuWrap {
        top: 22px;
        left: -24px;
    }

    .topPanelWrap i:before {
        font-size: 1.3rem;
    }

    .itemMenu {
        padding: 2px 5px;
    }

    .scale-layout.workPlace .scales-panel .notification p {
        font-size: 0.9rem;
    }
    .selectMark_wrapper {
        width: 200px;
    }
    .selectMark_wrapper{
        margin-left: 3px;
    }
    .selectMark_wrapper h4 {
        font-size: 0.9rem;
        line-height: 0;
        margin-bottom: 6px;
    }
    .chooseMarkButt {
        margin: 0.1rem;
        padding: 1px 4px;
        font-size: 0.8rem;
        font-weight: 300;
        border-radius: 2px;
    }
    .selectMark_wrapper h5 {
        font-size: 0.8rem;
        line-height: 0.6rem;
        margin: 0.2rem auto;
    }
    .customButtons .chrome-picker{
        margin: 3px auto;
        height: 178px !important;
        width: 74% !important;
    }
    .selectButton__colorSelector h3 {
        font-size: 0.7rem;
        margin: 0.2rem;
    }
    .switch-btn {
        height: 1.2rem;
    }
    .selectButton__label input {
        padding: 0.2rem;
        font-size: 1rem;
        font-weight: 600;
        width: 65%;
    }
    .selectButton__label h3 {
        font-size: 0.9rem;
    }
    .scale-wrapper h3 {
        font-size: 0.8rem;
        white-space: nowrap;
        width: 39%;
    }
    .scale-wrapper input[type=range] {
        width: 60%;
    }
    .scale-wrapper input[type=range]::-webkit-slider-thumb {
        margin-top: -9px;
        width: 10px;
        height: 18px;
        background: #0094ff;
        border: 1px solid #ffffff;
        border-radius: 2px;
        cursor: pointer;
        -webkit-appearance: none;
    }
    .scale-wrapper input[type=range]::-moz-range-thumb {
        width: 10px;
        height: 18px;
        background: #0094ff;
        border: 1px solid #ffffff;
        border-radius: 2px;
        cursor: pointer;
    }
    .scale-wrapper input[type=range]::-ms-thumb {
        width: 10px;
        height: 18px;
        background: #0094ff;
        border: 1px solid #ffffff;
        border-radius: 2px;
        cursor: pointer;
        margin-top: 0;
        /*Needed to keep the Edge thumb centred*/
    }
    .selectMark_wrapper .selectMark .selectMark__select a {
        font-size: 0.9rem;
    }
    .selectMark_wrapper{
        height: 85vh;
    }
    .selectMark_wrapper{
        margin-left: 3px;
    }
    .selectMark_wrapper {
        width: 490px;
    }
    .customButtons .chrome-picker {
        width: 40% !important;
        margin: 0;
    }

}

@media screen and (max-width: 414px) {
    .NewWrapper .scale.layout .scale-layout.workPlace .scales-panel {
        padding: 0;
    }

    .scales-panel > div .scale-wrapper h3 {
        margin: 2px 4px;
    }

    .edit-text-block form input {
        min-width: 220px;
        height: 24px;
    }

    .scale-layout.workPlace .scales-panel .notification p {
        font-size: 1.2rem;
    }

    .prevBtn i, .nextBtn p {
        margin-right: 4px;
    }

    .prevBtn p {
        padding-right: 6px;
    }

    .nextBtn p {
        margin-left: 6px;
    }

    .NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper h3 {
        white-space: normal;
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .selectMark_wrapper h5 {
        font-size: 0.9rem;
        line-height: 1.1rem;
        margin-bottom: 5px;
    }
    .selectMark_wrapper .selectMark .selectMark__select {
        margin-bottom: 0.3rem;
    }
    .selectMark__btns.swapMarkButt button {
        padding: 0.2rem 0.8rem;
        border-radius: 0.3rem;
        font-size: 1.2rem;
    }
    .selectMark__btns button {
        font-size: 1.1rem;
        padding: 0.2rem 1.2rem;
        border-radius: 3px;
    }
}

@media screen and (max-width: 375px) {
    .scale-layout.workPlace .scales-panel .notification p {
        font-size: 1.1rem;
    }
}