.prevBtn.not,
.nextBtn.not,
.saveNowBtn.not,
.previewBtn.not,
.publishBtn.not {
    opacity: 0.5;
}

.NewWrapper .wrap .tempWrap .template_title {
    font-size: 24px;
    margin-left: 0;
}

.NewWrapper .wrap .tempWrap .template {
    padding: 0 10px;
}

.NewWrapper .wrap .tempWrap .template h3 {
    font-size: 15px;
    font-weight: 700;
    margin: 6px 0;
}

.NewWrapper .wrap .tempWrap > :nth-child(2) {
    border-top: 1px #cacaca solid;
}

.NewWrapper .wrap .tempWrap .template {
    transition: .4s;
    border-bottom: 1px #cacaca solid;
}

.NewWrapper .wrap .tempWrap .template:hover {
    background: #e3e3e3;
}

.NewWrapper .wrap .tempWrap::-webkit-scrollbar {
    width: 18px; /* ширина для вертикального скролла */
    background-color: #d6d6d6;
    border: 1px solid #9d9d9d;
}

.NewWrapper .wrap .tempWrap::-webkit-scrollbar-thumb {
    background-color: #9d9d9d;
    border-radius: 8px;
}

/*Step: Creating new.level - First Floor*/

.NewWrapper .scale.layout .topPanelWrap {
    border-bottom: 2px solid #cdcdcd;
    padding: 10px;
    margin: 0 10px;
}

.NewWrapper .scale.layout .scale-layout.workPlace {
    padding-top: 0;
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel {
    border-bottom: 2px solid #cdcdcd;
    padding: 0 10px;
    margin-bottom: 10px;
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel button {
    background: #FF9300;
    border: none;
    padding: 5px 32px;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    font-size: 15px;
}


.NewWrapper .scale.layout .topPanelWrap .secondOpt {
    font-size: 15px;
}

.NewWrapper .scale.layout .topPanelWrap .thirthOpt .saveNowBtn p {
    font-size: 15px;
}

/*.NewWrapper .scale-layout .dnd-wrapper {*/
/*  border: 2px dashed #c3c3c3;*/
/*}*/

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper h3 {
    white-space: nowrap;
    font-size: 1.8rem;
    font-weight: 600;
}

/*.NewWrapper .scale.layout .scale-layout.workPlace .dnd-wrapper {*/
/*  border: #bdbdbd 2px dashed;*/
/*}*/

/*style input-range*/

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range] {
    -webkit-appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
    margin-left: 80px;
    width: 100%; /* Указание параметра ширины требуется для Firefox. */
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]:focus {
    outline: none; /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
    border-color: transparent;
    color: transparent;
}

/* Специальные правила для браузеров на движках WebKit/Blink */
.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #fff;
    height: 28px;
    width: 16px;
    border-radius: 2px;
    background: #FF9300;
    cursor: pointer;
    transition: .4s;
    margin-top: -14px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-webkit-slider-thumb:hover {
    background: #d67a00;
}

/* Тоже самое для Firefox */
.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-moz-range-thumb {
    border: 1px solid #fff;
    height: 28px;
    width: 16px;
    border-radius: 3px;
    background: #FF9300;
    transition: .4s;
    cursor: pointer;
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-moz-range-thumb:hover {
    background: #d67a00;
}

}
/* Тоже самое для IE */
.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-ms-thumb {
    border: 1px solid #fff;
    height: 28px;
    width: 16px;
    border-radius: 2px;
    background: #FF9300;
    transition: .4s;
    cursor: pointer;
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-ms-thumb:hover {
    background: #d67a00;
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #000;
    border-radius: 1.3px;
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000;
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #000;
    border-radius: 1.3px;
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-ms-fill-lower {
    background: #000;
    border-radius: 2.6px;
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]:focus::-ms-fill-lower {
    background: #000;
}

.NewWrapper .scale.layout .scale-layout.workPlace .scales-panel .scale-wrapper input[type=range]::-ms-fill-upper {
    background: #000;
    border-radius: 2.6px;
}

/*Style Tools>Add levels & Save as a Template>pop-uo*/
.MenuWrap .addLevelWrap,
.MenuWrap .saveAsTemplateWrap {
    left: 190px;
    padding: 10px 20px;
    border: 1px solid #919191;
    box-shadow: 3px 3px 7px #999999;
}

.MenuWrap .addLevelWrap {
    top: 209px;
}

.MenuWrap .saveAsTemplateWrap {
    top: 504px;
}

.MenuWrap .addLevelWrap:before,
.MenuWrap .saveAsTemplateWrap:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #0c061a;
    top: 8px;
    left: -10px;
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

.MenuWrap .addLevelWrap h3,
.MenuWrap .saveAsTemplateWrap h3 {
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: 700;
}

.MenuWrap .addLevelWrap p,
.MenuWrap .saveAsTemplateWrap p {
    font-weight: normal;
    font-size: 14px;
}

.MenuWrap .addLevelWrap p:nth-child(4),
.MenuWrap .saveAsTemplateWrap p:nth-child(4) {
    font-size: 11px;
}

.MenuWrap .addLevelWrap input,
.MenuWrap .saveAsTemplateWrap input {
    width: 100%;
    padding: 5px;
}

.MenuWrap .addLevelWrap .btnGroup,
.MenuWrap .saveAsTemplateWrap .btnGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    border-bottom: none;
}

.MenuWrap .addLevelWrap .btnGroup button,
.MenuWrap .saveAsTemplateWrap .btnGroup button {
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 30px;
}

.MenuWrap .addLevelWrap .btnGroup button:nth-child(2),
.MenuWrap .saveAsTemplateWrap .btnGroup button:nth-child(2) {
    background: #FF9300;
    color: white;
    border-radius: 4px;
    padding: 5px 30px;
    white-space: nowrap;
}

/*Style for Tools>Client Library*/

.clients_wrap {
    margin-top: 50px;
}

.client_list_wrap .title_client_list {
    font-size: 24px;
    font-weight: 700;
    margin: 6px 31px 18px;
    text-align: left;
}

.client_list_wrap .client_items::-webkit-scrollbar {
    width: 18px;
    background-color: #d6d6d6;
    border: 1px solid #9d9d9d;
}

.client_list_wrap .client_items::-webkit-scrollbar-thumb {
    background-color: #9d9d9d;
    border-radius: 8px;
}

.client_items .client,
.client_items .active_client {
    border-bottom: 1px #cacaca solid;
    padding: 0 14px;
    text-align: left;
    transition: .4s;
}

.client_items .active_client,
.client_items .client:hover {
    background: #e3e3e3;
}

.client_items .client:first-child {
    border-top: 1px #cacaca solid;
}

.client_items .active_client h3,
.client_items .client h3 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    padding: 6px 0;
}

.inputs_client {
    margin-bottom: 100px;
}

.btn_group_client button {
    border: none;
    padding: 5px 28px;
    background: #2472ff;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    margin: 0 15px;
    transition: .4s;
}

.btn_group_client button:hover {
    background: #0045c1;
}

.btn_group_client button:last-child {
    background: #FF9300;
}

.btn_group_client button:last-child:hover {
    background: #c87300;
}


/*Style for Tools>Manage Levels*/

.topPanelWrap {
    border-bottom: 2px solid #dbdbdb;
    position: relative;
}

.manage_levels .manage_body .levels_manage {
    width: 60%;
    padding: 0 20px;
}

.manage_levels .manage_body .manage_control_panel {
    width: 40%;
    padding: 0 20px;
}

.manage.levels .manage_levels {
    border: none;
    position: relative;
    margin-top: 10px;
}

.manage_levels .title_manage_levels {
    text-align: left;
    margin-bottom: 50px;
}

.manage_levels .manage_body .levels_manage .title_manage_levels h3 {
    font-weight: 700;
    margin-bottom: 0;
}

.manage_levels .manage_body .levels_manage .title_manage_levels h4 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 12px;
}

.manage_levels .manage_body .levels_manage .description_manage {
    text-align: left;
}

.manage_levels .manage_body .levels_manage .description_manage p {
    font-size: 1.4rem;
    white-space: nowrap;
    margin-bottom: 10px;
}

.manage_levels .manage_body .levels_manage .wrap_levels .level {
    display: flex;
    align-items: center;
    background: #EBECED;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 3px #c1c1c1;
    padding: 2px 5px 2px 10px;
    color: #797979;
}

.manage_levels .manage_body .levels_manage .wrap_levels .level.active {
    border: 1px solid #aeaeae;
    box-shadow: 0 1px 3px #858585;
}

.manage_levels .manage_body .levels_manage .wrap_levels .level.active,
.manage_levels .manage_body .levels_manage .wrap_levels .level.active .cntr_btn button {
    color: #0c061a;
}


.manage_levels .manage_body .levels_manage .wrap_levels .level .cntr_btn button {
    border: none;
    margin-right: 40px;
    color: #797979;
}

.manage_levels .manage_body .levels_manage .wrap_levels .level .cntr_btn button:nth-child(2) {
    margin-right: 50px;
}

.manage_levels .manage_body .levels_manage .wrap_levels .level .cntr_btn .plm_icon {
    right: 7px;
    top: -8px;
    font-size: 20px;
}

.manage_control_panel .control_buttons {
    margin-top: 145px;
}

.manage_control_panel .control_buttons button {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px;
    border-radius: 4px;
}

.manage_control_panel .control_buttons button:not(:last-child) {
    margin-bottom: 26px;
}

.button_group {
    margin-top: 60px;
}

.button_group .save {
    margin: 0 auto;
    padding: 2px 40px;
}

.manage_levels .manage_title {
    position: absolute;
    top: 35px;
    left: 65%;
}

.manage_levels .manage_title .desc_tabs {
    display: flex;
    justify-content: ctnter;
    margin-right: 0;
    font-size: 1.2rem;
    margin-top: 0;
    font-weight: 600;
}

.tabs .tab {
    /*border: 1px solid #e0e0e0;*/
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #565656;
    background: linear-gradient(0deg, #d5d5d5, #f4f4f4);
    box-shadow: 0 2.5px 4px #80808082;
    margin-top: 5px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

.tab.active_tab {
    background: #d0d0d0 !important;
}

/*Style for Tools>Image Library*/

.planLibrary .titleBlock .info {
    width: max-content;
}

.planLibrary .titleBlock .info p {
    white-space: nowrap;
}

.planLibrary .titleBlock .midBlockTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planLibrary .titleBlock .midBlockTitle div h2 {
    font-size: 2rem;
    font-weight: 700;
}

.image.library .planLibrary {
    padding: 0;
}

.titleBlock {
    padding: 8px 15px;
}


.btnGroup {
    border-bottom: 2px solid #cdcdcd;
    padding: 8px 15px;
}

/*.image.library .planLibrary .plansLib {*/
/*  margin: 5px 50px;*/
/*}*/

.planLibrary .btnGroup .btn_lib_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
}

.planLibrary .btnGroup .btn_lib_left div {
    width: auto;
}

.planLibrary .btnGroup .btn_lib_left div:first-child {
    margin-right: 24px;
}

.planLibrary .btnGroup .btn_lib_left div:last-child .addImageBlock button {
    padding: 5px 15px;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #1276EB;
}

.planLibrary .btnGroup .btn_lib_left div:last-child .addImageBlock {
    margin-right: 0;
}

.planLibrary .btnGroup .btn_lib_left div h2 {
    margin-top: 0;
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
}

.planLibrary .btnGroup .btn_lib_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.planLibrary .btnGroup .btn_lib_right .btn_link_lib {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}

.planLibrary .btnGroup .btn_lib_right .btn_link_lib div button {
    white-space: nowrap;
    background: none;
    color: #1276EB;
    font-size: 1.6rem;
    padding: 5px 12px;
}

.planLibrary .btnGroup .btn_lib_right .btn_link_lib div:not(:last-child) button {
    margin-right: 12px;
}

.planLibrary .btnGroup .btn_lib_right .btn_orange_lib {
    display: flex;
    align-items: center;
    justify-content: center;
}


.planLibrary .btnGroup .btn_lib_right .btn_orange_lib div:first-child {
    margin-right: 6px;
}

/*Style for Tools>Image Library>Pop-Up*/

.planLibrary .popup-overlay .popup-content {
    all: initial;
    position: relative;
    background: rgb(255, 255, 255);
    width: 440px !important;
    margin: auto;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px !important;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

/*.popup-content {*/
/*  position: relative;*/
/*  background: rgb(255, 255, 255);*/
/*  width: 50%;*/
/*  margin: auto;*/
/*  border: 1px solid rgb(187, 187, 187);*/
/*  padding: 5px;*/
/*}*/

.popup-content .modal {
    padding: 20px 30px 10px;
    max-width: 480px;
    width: 100%;
}

.popup-content .modal p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #737373;
}

.popup-content .modal .btnGroup {
    border-bottom: none;
}

.popup-content .modal .btnGroup button:first-child {
    background: none;
    color: #737373;
    font-size: 1.6rem;
}

/*Style for Tools > Add Lat and Long*/

.lat_long {
    margin-top: 40px;
    border: none;
}

.lat_long .input_lat {
    max-width: 600px;
    width: 100%;
}

.lat_long .title_lat h3 {
    font-size: 2.1rem;
    font-weight: 600;
}

.lat_long .title_lat .map_btn a {
    padding: 2px 45px;
    text-decoration: none;
}

.lat_long .title_lat .map_btn a:hover {
    text-decoration: none;
}

.lat_long .input_lat_long label {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 10px;
}

.lat_long .input_lat_long input {
    max-width: 600px;
    width: 100%;
    font-size: 2.5rem;
    padding: 5px 20px;
    border: 1px solid grey;
    border-radius: 4px;
    height: auto;
}

.lat_long .input_lat_long input::placeholder {
    color: #c1c1c1;
}

.lat_long .input_lat .button_group {
    margin-top: 35px;
}

.lat_long .input_lat .button_group button {
    margin: 0;
}

.lat_long .input_lat .button_group .cancel {
    margin-right: 60px;
    font-weight: 600;
}

/*Style for Tools > Add Text Information*/

.textEditor {
    margin-top: 30px;
}

.textEditor .buttonGroup_textEditor {
    margin: 0 100px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    margin-top: 30px;
}

.textEditor .buttonGroup_textEditor button {
    border-radius: 3px;
    padding: 3px 42px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
}

.textEditor .buttonGroup_textEditor .cancel {
    margin-right: 20px;
}

.textEditor .buttonGroup_textEditor .save {
    background-color: #FF9300;
    color: white;
}

/*Style for Tools > Add Video*/

.video .video_title {
    margin-top: 70px;
}

.video .video_title div h3 {
    font-weight: 600;
    font-size: 2.3rem;
}

.video .video_title .first_title {
    margin-bottom: 20px;
}

.video .video_inputs {
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
}

.video .video_inputs .inouts {
    margin-bottom: 20px;
}

.video .video_inputs .inputs input {
    border-radius: 5px;
    border: 1px solid;
    background: none;
    height: initial;
    padding: 10px;
}

.video .video_inputs .inputs input::placeholder {
    color: #c1c1c1;
    font-size: 2.4rem;
}

.video .video_inputs .button_group button {
    margin: 0;
}

.video .video_inputs .button_group .cancel {
    margin-right: 50px;
    font-weight: 600;
}

/*Style for "Drag & Drop your floor plan for this level here."*/
.simple.upload.image .uploadPlans,
.single.plan.upload .uploadPlans {
    width: 70%;
    margin: 50px auto;
}

.simple.upload.image .uploadPlans .dropzone,
.single.plan.upload .uploadPlans .dropzone {
    border: 1px dashed grey;
    margin: auto;
    padding: 70px 100px 250px;
}

.simple.upload.image .uploadPlans .dropzone h3,
.single.plan.upload .uploadPlans .dropzone h3 {
    color: #000;
    font-size: 3.3rem;
    margin: 0;
    line-height: normal;
}

.simple.upload.image .uploadPlans .dropzone h3:last-child,
.single.plan.upload .uploadPlans .dropzone h3:last-child {
    font-size: 1.8rem;
    font-weight: 600;
}

.simple.upload.image .uploadPlans .dropzone button,
.simple.upload.image .uploadPlans .cancelBtnBlue button,
.single.plan.upload .uploadPlans .dropzone button,
.single.plan.upload .uploadPlans .cancelBtnBlue button {
    padding: 4px 15px;
    color: #fff;
    background-color: #7CC6FB;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 1.5rem;
}

.simple.upload.image .uploadPlans .cancelBtnBlue button,
.single.plan.upload .uploadPlans .cancelBtnBlue button {
    padding: 4px 25px;
    margin-top: 16px;
}

.imageItem_sub .now_level {
    position: absolute;
    background: #565656b3;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 11px;
    /* color: white; */
    padding: 6px;
    border-radius: 3px;
}

.imageItem_sub .now_level p {
    color: white;
}

.secondOptBtn {
    display: flex;
}

.process_panelum .line_process_panelum {
    width: 90%;
    height: 10px;
    margin: 12px auto;
}

.process_panelum .line_process_panelum div {
    height: 10px;
    background: #7474e5;
}