.NewWrapper .scale-layout .edit-text-block .edit-font-wrapper .font-style > div {
  text-align: left;
}

.NewWrapper {
  .scale-layout {
    margin: 0 auto;

    .scales-panel {
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .scale-wrapper {
          display: flex;
        }
      }
    }

    .dnd-wrapper {
      display: flex;
    }

    .edit-text-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .edit-font-wrapper {
        //display: flex;
        //justify-content: space-around;
        //align-items: center;
        //border: 1px solid gray;

        p:nth-child(2) {
          font-style: italic;
        }

        .font-style, .font-size {
          //position: relative;

          p {
            cursor: pointer;
          }
        }

        ul {
          //position: absolute;
          //left: 0;
          //background: white;

           li {
             //cursor: pointer;
             //border: 1px solid gray;

             &:hover {
               background: #c3c3c3;
             }
           }
        }

        button {
          //margin: 0 5px;
          //padding: 0 10px;
        }

        .font-size {
          //padding: 5px 10px;
          ul li {
            //padding: 0 10px;
          }
        }

        .font-style {
          //padding: 5px 15px;
          ul {
            //width: 100%;
          }

          // div {
          //  text-align: left;
          //}
        }
      }
    }
  }

  .single.plan.update.image {
    .uploadImages {
      width: 70%;
      margin: 50px auto;

      .dropzone {
        border: 1px dashed grey;
        margin: auto;
        padding: 70px 100px 200px;

        h3 {
          &:first-child {
            color: #000;
            font-size: 3rem;
            margin: 0;
            line-height: normal;
          }

          &:not(:first-of-type) {
            color: #000;
            font-size: 3rem;
            margin: 40px 0;
          }

          &:last-child {
            font-size: 1.8rem;
            font-weight: 600;
          }

        }

        button {
          padding: 5px 15px;
          color: #fff;
          background-color: #7CC6FB;
          border-radius: 5px;
          border: none;
          outline: none;
        }
      }

      .cancel {
        button {
          padding: 4px 25px;
          margin-top: 16px;

          color: #fff;
          background-color: #7CC6FB;
          border-radius: 5px;
          border: none;
          margin-bottom: 40px;
          font-size: 1.5rem;
        }

      }
    }

  }
}