$border-color: #4a4a4aa3;
$text-color: #4a4a4a;

.PublishedWrapper {
  width: 100%;

.workPlace {
  margin: 0 auto;
}
  .title_block {
    padding: 0 1%;
    border-bottom: solid 2px #eee;

    h2 {
      margin: 0;
      color: black;
      font-weight: 600;
    }
  }

  .publ_wrap {
    margin: 0 auto;
    width: 81vw;

    .search {
      position: relative;
      margin: 3% 0;

      input {
        padding: 7px;
        width: 100%;
        font-weight: 600;
      }
      i {
        padding: 5px;
        position: absolute;
        right: 0;
        top: 50%;
        font-size: 17px;
        transform: translate(0, -50%);
      }
    }

    .render {
      width: 100%;

      .plan_wrap_item {
        margin-bottom: 7vh;
        width: 100%;
        box-shadow: 0 0 4px rgb(0 0 0 / 35%);

        .plan_item {
          padding: 13px;
          display: flex;
          justify-content: space-between;


          .tools {
            margin: 0 3%;
            width: 66%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .address {
              width: 75%;
              display: flex;
              justify-content: space-between;
              margin-bottom: 20px;

              h2 {
                margin: 0;
                font-weight: 600;
                color: black;
                line-height: 1;
              }
              p {
                font-size: 10px;
                color: $border-color;
              }
            }

            .url_option {
              input {
                margin-right: 10px;
                padding: 5px;
                width: 75%;
                font-size: 12px;
                color: $text-color;
                border: 1px solid $border-color;
                border-radius: 3px;
              }
              select {
                padding: 5px;
                width: 23%;
                color: $text-color;
                font-size: 12px;
                background-color: inherit;
                border: 1px solid $border-color;
                border-radius: 3px;
              }
            }

            .btn_group {
              margin: 14px 0;

              a {
                margin-right: 5px;
                padding: 5px 15px;
                font-size: 10px;
                color: $text-color;
                border: 1px solid $border-color;
                border-radius: 2px;
              }
            }

            .info {
              margin: 10px 0 5px;
              font-weight: 600;

              p {
                color: black;
              }
            }
          }
          .brand_title {
              font-size: 12px;
              color: $border-color;
          }
        }
        .editWrap {
          margin: 0 auto;

          .text.editor {
            .textEditor {
              margin-top: 5px;

              .buttonGroup_textEditor {
                margin-top: 0;
                padding: 20px 0;
              }
            }
          }
          .ken.burns {
            .ken_burns_wrap {
              .ken_title {
                text-align: center;
              }
              .ken_main_wrap {
                justify-content: normal;

                .ken_title {
                  text-align: center;
                }

                .ken_tools_wrap {
                  margin-right: 1%;
                  width: 15%;
                  text-align: center;
                  justify-content: space-around;

                  .ken_images {
                    .image {
                      width: 100%;
                    }
                    .images_btn_group {
                      display: flex;
                      justify-content: space-between;
                      margin: 10px 0;

                      button {
                        border: none;
                        width: 40%;
                        padding: 5px 0;
                        color: white;
                        background: #bdbdbd;
                      }
                    }
                  }
                }

                .ken_wrap {
                  width: 84%;
                  display: flex;
                  justify-content: space-around;
                }
              }
            }

          }

          .add.lat.and.long {
            .lat_long {
              margin-top: 0;

              .title_lat {
                text-align: center;
              }
            }

          }

          .add.media {
            .video {
              display: flex;
              flex-direction: column;
              align-items: center;

              padding: 20px 0;

              .video_title {
                margin-top: 0;
              }
            }
          }
          .position.videos {
            .workPlace {
              .dnd-wrapper .video_marker .linkAdd_video_marker {
                label {
                  padding: 0 2px;
                }
                input {
                  padding: 5px 2px;
                  border: 1px solid #c6c6c6;
                }
              }
            }


          }

          .scale.and.repos {
            .scale-layout.workPlace {
              .scales-panel {
                margin: 0;
                div {
                  justify-content: center;

                  .scale-wrapper {
                    margin-right: 30px;

                    h3 {
                      margin: 10px 30px;
                    }
                  }

                  button {
                    max-width: 250px;
                    padding: 5px 20px;
                    color: #fff;
                    font-weight: 600;
                    border: none;
                    outline: none;
                    background-color: #FF9300;
                    border-radius: 5px;
                  }
                }
              }

            }
          }

          .image.library {
            padding-bottom: 2%;
            .planLibrary {
              .btnGroup {
                .btn_lib_left {
                  width: 30%;
                }
              }
              .plansLib {
                margin: 0;
                padding: 10px;
              }
            }

          }

          .plan.library .planLibrary {
            .titleBlock .planLibraryPanel {
              padding: 0 15px;
              h3 {
                margin: 3px 0;
              }
            }
            .plansLib {
              margin: 0;
            }
          }

          .panorama .workPlace {
            margin: 0 auto;

            .dnd-wrapper .panorama_tools {
              left: 0;

              .choose {
                align-items: center;

                div {
                  text-align: center;
                }
              }
            }
          }

          .cams.position {
            .topPanelWrap {

              .colorPanel {
                .btnWrap {
                  button {
                    margin-top: 5px;
                  }
                }
              }
              .selectMark_wrapper {
                top: 102%;
                margin-left: 0;
                padding: 0 1.4rem;
                height: 600px;
                overflow-y: scroll;
                z-index: 1000;

                .selectMark {
                  height: 70%;
                }
              }
            }
            .workPlace {
              margin: 0 auto;
            }
          }


          .layout .scale-layout.workPlace {
            margin: 0 auto;
            width: 100%;
            height: inherit;

            .scales-panel {
              margin-bottom: 0;

              div {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
            }

          }
          .clients {
            .clients_wrap {
              margin-top: 0;
              padding-bottom: 50px;

              .clientWrap .btn_group_client {
                display: flex;
                justify-content: flex-end;
              }
            }
          }

          .manage.levels .manage_levels {
            height: inherit;
            padding-bottom: 20px;
          }
        }
      }
    }

    .pagination {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      p {
        color: black;
      }
    }
  }
}